.containEditPassword {
  margin-top: 6rem;
  width: 95%;
  height: auto;
  padding-bottom: 3rem;
}

.containEditPassword .closeMain .btnCloseMain {
  width: 1.8rem;
  height: 1.7rem;
}

.containEditPassword .title img {
  width: 32px;
}

.containEditPassword #formEditPassword label {
  font-size: 15px;
}

.containEditPassword .currentPassword input,
.containEditPassword .newPassword input,
.containEditPassword .repeatPassword input {
  width: 17rem;
  height: 2.2rem;
}

.btnUpdatePassword {
  margin: auto;
  width: 12rem;
  height: 2rem;
  font-size: 16px;
  margin-top: 2rem;
}

.loadingSavePassword {
  height: 86%;
  font-size: 19px;
}
.loadingSavePassword img {
  width: 39px;
  opacity: 87%;
}

.alertSavePassword {
  margin-top: 1rem;
}
