<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="email" style="width:600px;margin: auto;background:rgb(253, 253, 253);">

        <table role="presentation" border="0" width="100%" cellspacing="0">
            <tr>
                <td align="center" style="color: white;">
                    <img alt="Flower" src="https://i.postimg.cc/brBmSbph/email-Header.png" width="700px">
            </tr>
            </td>
        </table>

        <table role="hello" border="0" width="100%" cellspacing="0">
            <tr>
                <td align="center" style="color: rgb(117, 117, 117);">
                    <div style="font-size: 18px; width:700px; display: flex; flex-direction: column; align-items: center;">
                        <p>Hola, Valentin su reserva se realizo con exito, a continuacion le mostraremos los detalles.</p>
                        <p>¡Lo esperamos con ansias!</p>
                    </div>
            </tr>
            </td>
        </table>

        <table role="date" border="0" width="100%" cellspacing="0">
            <tr>
                <td
                    style="border-bottom: 1px solid gray; color:rgb(87, 87, 87); padding: 13px 0 17px 0;">

                    <div style="width: 700px; display:flex; align-items: center; justify-content: center; gap: 4rem;">
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <h3>Check-in</h3>
                            <span>Lunes,25 de febrero de 2025</span>
                        </div>
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <h3>Check-out</h3>
                            <span>Lunes,29 de febrero de 2025</span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <table role=" client" width="100%" cellspacing="0">
            <tr>
                <td style="border-bottom: 1px solid gray; color:rgb(87, 87, 87); padding: 5px 0 17px 0; ">
                    <div style=" width: 700px; display: flex; flex-direction: column; align-items: start;">
                    <div style="display: flex; align-items: center; justify-content: center; gap:0.3rem; ">
                        <h3>Datos Cliente</h3>
                        <img width="41px" height="41px" src="https://i.postimg.cc/gw1DBK1V/client.png">
                    </div>

                    <div style="display:flex; flex-direction: column; align-items: start; gap: 0.3rem;">

                        <span style="font-weight: bold;">Nombre:<a style="font-weight: normal;">Valentin</a></span>
                        <span style="font-weight: bold;">Apellido:<a style="font-weight: normal;">Miranda</a></span>
                        <span style="font-weight: bold;">Telefono:<a style="font-weight: normal;">333434349</a></span>
                        <span style="font-weight: bold;">Correo:<a
                                style="font-weight: normal;">vale@gmail.com</a></span>

                    </div>
    </div>
    </td>
    </tr>
    </table>

    <table role="rooms" width="100%" cellspacing="0">
        <tr>
            <td style="border-bottom: 1px solid gray; color:rgb(87, 87, 87); padding:5px 0 17px 0;">
                <div style=" width: 700px; display: flex; flex-direction: column; align-items: start;">
                <div style="display: flex; align-items: center; justify-content: center; gap:0.6rem; ">
                    <h3>Habitaciones</h3>
                    <img width="41px" height="41px" src="https://i.postimg.cc/c1zkqDd4/room.png">
                </div>

                <div style="display:flex; flex-direction: column; align-items: start; gap: 1.5rem;">

                    <li
                        style="list-style: none; display: flex; flex-direction: column; align-items: start; gap:0.3rem;">
                        <h3 style="font-size: 17px;">Habitacion Estandar:</h3>

                        <div style="display: flex; gap:0.3rem; justify-content: center; align-items: center;">
                            <span>Cantidad:2</span>
                            <span>Adultos:</span>
                            <span>Niños:</span>

                        </div>
                    </li>
                </div>
                </div>
            </td>
        </tr>
    </table>

    <table role="amount" width="100%" cellspacing="0">
        <tr>
            <td style="border-bottom: 1px solid rgb(228, 228, 228); color:rgb(87, 87, 87); padding:5px 0 17px 0; ">
              
                <div style=" width:700px; display: flex; flex-direction: column; align-tracks: center; gap: 0;">
                <h3>Total:</h3>
                <span style="font-size: 20px;">$4246</span>
                </div>

            </td>
        </tr>
    </table>

    <table role="footer" width="100%" cellspacing="0">
        <tr>
            <td style="color:rgb(87, 87, 87); ">
              
                <div style=" width: 700px; height: auto; display: flex; background-color: rgb(8, 201, 153);
                flex-direction:column; padding-top: 1rem; align-items: center; gap: 0.1rem; padding-bottom: 1rem;">

                <span style="font-weight: bold; color:black; font-size:19px;">Mirenos</span>
                <div style="display: flex; align-items:
                center; justify-content: center; gap: 3rem; margin-top: 2rem;">
                    <a href="https://web.whatsapp.com/">
                        <img style="width: 25px;" src="https://i.postimg.cc/xqFyrvxZ/instagram.png"></a>
                    <a href="https://www.instagram.com/">
                        <img style="width: 25px;" src="https://i.postimg.cc/hfz8KXNt/whatsapp.png"></a>
                    <a href="https://www.facebook.com/?locale2=es_LA&_rdr"><img style="width: 25px;"
                            src="https://i.postimg.cc/xqdyFxRH/facebook.png"></a>
                </div>

                <div style="display: flex; flex-direction: column; align-items: center; gap:0.1rem;">
                    <h4 style="font-size: 25px; color: black; font-family: cursive;">Hotel Five</h3>
                        <h4 style="margin-top: 0rem; font-size: 18px; font-weight: bold; color: black;">Contactenos</h4>
                        <span style="margin-top: -1rem; font-size: 15px; font-weight: bold; color: black;">+(598) 93 647
                            321 systemFiveHotel@gmail.com</span>

                </div>
                </div>
            </td>
        </tr>
    </table>

    </div>

</body>

</html>