<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../estilos/styleunauthorized.css">
    <title>401 No autorizado</title>
</head>

<body>

    <div class="containNotAuthorized">

        <div class="msj">
            <h1>401</h1>
            <img src="../../img/unauthorized.png">
            <h3>Error,no tiene autorizacion para acceder a este recurso</h3>
        </div>

    </div>
</body>

</html>