<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../estilos/styleLoginUser.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../../js/alertas.js" defer></script>
    <script src="../../js/scriptsLogin.js" defer></script>

    <title>Admin-Login</title>

<body>



    <div id="loginAdmin">

        <div class="panelInfo">


            <div class="contentPanelInfo">
                <img src="../../img/iconSystem.png">
                <h4>¡Bienvenido a Hotel System!</h4>
                <p>Inicie sesion para administrar y gestionar las reservas y datos del hotel segun el rol que cumpla</p>
            </div>



        </div>

        <div class="containForm">


            <div class="title">
                <img src="../../img/iconFormLogin.gif">

                <h4>Complete sus datos</h4>
            </div>

            <form onsubmit="setUser(event)">
                <div class="user">
                    <div>
                        <label for="userId">Usuario</label>
                    </div>
                    <div>
                        <input autocomplete="off" placeholder="Ingrese su usuario" id="userId" type="text" name="user">
                    </div>
                    <div class="errorInput">
                        <img src="../../img/warningInput.png">
                        <p></p>
                    </div>
                </div>

                <div class="password">
                    <div>
                        <label for="passwordId">Contraseña</label>
                    </div>
                    <div class="passwordContain">
                        <input autocomplete="off" placeholder="Ingrese su contraseña" id="passwordId" type="password"
                            name="password">
                        <img class="iconPassword" onclick="passwordStatus(event)" src="../../img/ojo.png">
                    </div>
                    <div class="errorInput">
                        <img src="../../img/warningInput.png">
                        <p></p>
                    </div>
                </div>

                <div class="containButton">


                    <button type="submit">Ingresar

                        <img class="spinner" src="../../img/spinnerBooking.gif">

                    </button>
                </div>

                <div class="alertLogin">

                    <img>
                    <div class="body">
                        <span></span>

                        <p></p>
                    </div>

                </div>

            </form>
        </div>

    </div>



</body>

</html>