.containEditPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 6rem;
  width: 32rem;
  border-radius: 3px;
  background-color: white;
  height: auto;
  padding-bottom: 3rem;
}
.containEditPassword .closeMain {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}
.containEditPassword .closeMain .btnCloseMain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  font-weight: bold;
  font-size: 16px;
  color: white;
  width: 1.8rem;
  height: 1.8rem;
  border: none;
}
.containEditPassword .closeMain .btnCloseMain:hover {
  background-color: rgb(212, 2, 2);
  cursor: pointer;
}
.containEditPassword .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 18px;
  color: black;
}
.containEditPassword .title img {
  width: 37px;
}
.containEditPassword #formEditPassword {
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containEditPassword #formEditPassword label {
  font-size: 15px;
}
.containEditPassword .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containEditPassword .currentPassword,
.containEditPassword .newPassword,
.containEditPassword .repeatPassword {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  position: relative;
}
.containEditPassword .currentPassword input,
.containEditPassword .newPassword input,
.containEditPassword .repeatPassword input {
  border: none;
  width: 17rem;
  height: 2.4rem;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 3px;
  padding-right: 2rem;
  position: relative;
}
.containEditPassword .currentPassword input:hover,
.containEditPassword .newPassword input:hover,
.containEditPassword .repeatPassword input:hover {
  border: 2px solid rgb(54, 199, 187);
}
.containEditPassword .currentPassword .iconEye,
.containEditPassword .newPassword .iconEye,
.containEditPassword .repeatPassword .iconEye {
  width: 21px;
  height: 21px;
  position: absolute;
  margin-left: 18.4rem;
  margin-top: 2.1rem;
}
.containEditPassword .errorInput {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 0.4rem;
  color: rgb(230, 2, 2);
  position: absolute;
  top: 4rem;
}
.containEditPassword .errorInput img {
  width: 22px;
}
.containEditPassword .inputToAlert {
  color: red;
  border: 1px solid red;
}
.containEditPassword .inputToAlert:hover {
  border: 2px solid red;
}

.btnUpdatePassword {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  width: 12rem;
  height: 2rem;
  font-weight: bold;
  color: white;
  border-radius: 21rem;
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
  margin-top: 3rem;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btnUpdatePassword:hover {
  background: linear-gradient(rgb(50, 145, 137), rgb(1, 155, 160));
}

.loadingSavePassword {
  display: none;
  align-items: center;
  justify-content: center;
  height: 86%;
  gap: 1rem;
  font-size: 23px;
  color: black;
}
.loadingSavePassword img {
  width: 49px;
  opacity: 87%;
}

.alertSavePassword {
  display: none;
  justify-content: start;
  align-items: center;
  width: 18rem;
  height: 2.5rem;
  gap: 0.7rem;
  padding: 0.5rem;
  border-radius: 3px;
  color: white;
  box-shadow: 2px 2px 2px gray;
  font-size: 14px;
  margin-top: 0.5rem;
}
.alertSavePassword span {
  font-weight: bold;
}
.alertSavePassword .body {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.alertSavePassword img {
  width: 30px;
}

.alertSavePasswordCorrect {
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
  display: flex;
}

/*# sourceMappingURL=styleEditPassword.css.map */
