<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../estilos/stylePay.css">
    <script type="module" defer src="../../../js/scriptsReserva/pay.js"></script>

    <title>Reserva Pago</title>
</head>

<body>


    <header>

        <div id="logo">
            <img src="../../../img/revision.png" width="50px">
            <h1>Sistema Hotel</h1>
        </div>


        <ul>

            <li><a href="../../../views/index.html">Inicio</a></li>
            <li><a href="../../../views/habitaciones.html">Habitaciones</a></li>
            <li><a href="../../../views/index.html #sobreNosotros">Sobre nosotros</a></li>
            <li><a href="../../../views/index.html #contacto">Contacto</a></li>


        </ul>


        <ul class="redes">
            <li><img src="../../../img/instagram.png"></li>
            <li><img src="../../../img/facebook.png"></li>
            <li><img src="../../../img/whatsapp.png"></li>

        </ul>
    </header>

    <div class="barStageAdvance"></div>

    <div class="containFather">

        <div class="panelItems">
            <div class="controlItems" data-state="close">


                <img src="../../../img/openCart.png">

            </div>
            <div class="containItems">
                <div class="amount">
                    <h3>Total a pagar:<span></span></h3>
                </div>
                <div class="items">


                </div>

            </div>
        </div>

        <div class="containForm">
            <form method="POST">

                <div class="contentForm">
                    <div class="cardInfo">
                        <div class="headerCard">
                            <h3>Complete los datos de su tarjeta</h3>

                            <div class="cards">
                                <img src="../../../img/visa.png">
                                <img src="../../../img/mastercard.png">
                                <img src="../../../img/amex.png">
                                <img src="../../../img/discover.png">
                            </div>
                        </div>
                        <div class="bodyCard">
                            <div class="name">

                                <label for="idName">Nombre del titular</label>
                                <span class="alertErrorInput"></span>   
                                <input onpaste="return false" type="text" placeholder="Nombre y Apellido" name="name" id="idName">
                                
                            </div>
                            <div class="number">

                                <label for="idName">Número de tarjeta</label>
                                <span class="alertErrorInput"></span>  
                                <input type="text"  onpaste="return false"class="denySpace" maxlength="19" name="number" placeholder="1234 5678 9876 5432"
                                    id="idNumber">
                            </div>


                            <div class="rowCard">
                                <div class="expiration">

                                    <label for="idExpire">Vencimiento</label>
                                    <span class="alertErrorInput" ></span>  
                                    <input onpaste="return false" type="text" class="denySpace" maxlength="5" placeholder="MM/AA" name="expiration"
                                        id="idExpire">
                                </div>

                                <div class="CVV">
                                    <label for="idCVV">Código de seguridad</label>
                                    <span class="alertErrorInput" ></span>  
                                    <input type="text" onpaste="return false" class="denySpace" name="cvv" maxlength="3" placeholder="CVV"
                                        id="idCvv">
                                </div>
                            </div>
                        </div>
                    </div>

                   
                </div>


                <div id="alert">
                    <div class="contain">
                        <div class="header">
                            <img src="../../../img/advertenciaLogin.png">
                            <span>Advertencia</span>
                        </div>
                        <p></p>
                        <div class="progressBar">
                            <div class="bar">
                            </div>
                        </div>
                    </div>
                </div>


                <button>Pagar</button>
            </form>
        </div>

    </div>
</body>

</html>