<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../estilos/stylePay.css">
    <script type="module" defer src="../../../js/scriptsReserva/pay.js"></script>

    <title>Reserva Pago</title>
</head>

<body>


    <header>

        <div id="logo">
            <img src="../../../img/revision.png" width="50px">
            <h1>Sistema Hotel</h1>
        </div>


        <ul>

            <li><a href="../../../views/index.html">Inicio</a></li>
            <li><a href="../../../views/habitaciones.html">Habitaciones</a></li>
            <li><a href="../../../views/index.html #sobreNosotros">Sobre nosotros</a></li>
            <li><a href="../../../views/index.html #contacto">Contacto</a></li>


        </ul>


        <ul class="redes">
            <li><img src="../../../img/instagram.png"></li>
            <li><img src="../../../img/facebook.png"></li>
            <li><img src="../../../img/whatsapp.png"></li>

        </ul>
    </header>

    <div class="barStageAdvance"></div>

    <div class="containFather">

        <div class="panelItems">
            <div class="controlItems" data-state="close" >


                <img src="../../../img/openCart.png">

            </div>
            <div class="containItems">
                <div class="amount">
                    <h3>Total a pagar:<span></span></h3>
                </div>
                <div class="items">


                </div>

            </div>
        </div>

        <div class="containForm">
            <form>

                <div class="contentForm">
                    <div class="cardInfo">
                        <div class="headerCard">
                            <h3>Complete los datos de su tarjeta</h3>

                            <img src="../../../img/cards.png">
                        </div>
                        <div class="bodyCard">
                            <div class="name">

                                <label for="idName">Nombre del titular</label>
                                <input type="text" placeholder="Nombre y Apellido" name="name" id="idName">
                            </div>
                            <div class="number">

                                <label for="idName">Número de tarjeta</label>
                                <input type="text" name="number" placeholder="1234 5678 9876 5432" id="idNumber">
                            </div>


                            <div class="rowCard">
                                <div class="expiration">

                                    <label for="idExpire">Vencimiento</label>
                                    <input type="text" placeholder="MM/AA" name="expiration" id="idExpire">
                                </div>

                                <div class="CVV">
                                    <label for="idCVV">Código de seguridad</label>
                                    <input type="text" name="cvv" maxlength="3" placeholder="CVV" id="idCvv">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="directionInfo">

                        <div class="direction">

                            <div class="headerDirection">

                                <h4>Direccion de facturacion</h4>
                                <img src="../../../img/facturacionIcon.png">
                            </div>

                            <div class="bodyDirection">
                                <div class="street">
                                    <label for="idStreet">Direccion</label>
                                    <input type="text" placeholder="Calle y número" name="steet" id="idStreet">
                                </div>

                                <div class="city">
                                    <label for="idCity">Ciudad</label>
                                    <input type="text" placeholder="Ingrese ciudad" name="city" id="idCity">
                                </div>

                                <div class="rowCodeAndCountry">
                                    <div class="postalCode">
                                        <label for="idPostalCode">Código postal</label>
                                        <input type="text" placeholder="1100" name="postalCode" id="idPostalCode">
                                    </div>

                                    <div class="country">
                                        <label for="idCountry">Ciudad</label>
                                        <select name="country" id="idCountry">

                                            <option>Uruguay</option>
                                            <option>Argentina</option>
                                            <option>Brasil</option>
                                        </select>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <button>Pagar</button>
            </form>
        </div>

    </div>
</body>

</html>