<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/styleunauthorized.css">
    <title>403 Forbidden</title>
</head>

<body>
    <div class="containNotAuthorized">

        <div class="msj">
            <h1>403</h1>
            <img src="../img/unauthorized.png">
            <h3>No tiene permiso para acceder a este recurso</h3>
        </div>

    </div>

</body>

</html>