<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/style.css">
    <link rel="stylesheet" href="../estilos/responsive/styleResponsive.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="../js/scriptsCategoryRoomsPage/script.js"></script>



    <title>Habitaciones</title>
</head>

<body>


    <header>



        <div id="logo">
            <img src="../img/revision.png" width="50px">
            <h1>Sistema Hotel</h1>
        </div>


        <ul class="options">

            <li><a href="../index.html">Inicio</a></li>
            <li>Habitaciones</li>
            <li><a href="../index.html #sobreNosotros">Nosotros</a></li>
            <li><a href="../index.html #contacto">Contacto</a></li>


        </ul>


        <ul class="networks">
            <li><img src="../img/instagram.png"></li>
            <li><img src="../img/facebook.png"></li>
            <li><img src="../img/whatsapp.png"></li>

        </ul>
    </header>



    <div id="fondo">


        <div class="subFondo">

            <div class="containRoom">
                <h2>ESTANDAR</h2>

                <div id="verMas">
                    <a href="infoStandar.html"><img src="../img/masInfo.png"></a>

                </div>
                <div id="sliderStandar">
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../img/bannerHab1.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/bannerHab2.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/bannerHab3.jpg" class="d-block w-100">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">

                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="detallesHabitacion">


                    <div>
                        <p>Habitaciones renovadas, ubicadas en pisos inferiores, igualmente con terraza</p>
                        <p>
                            base doble y/o comunicadas. Equipadas con aire acondicionado, </p>
                        <p> cocina, frigobar, microondas, jarra eléctrica, vajilla básica, y TV</p>

                    </div>
                    <div class="masDetallesSobreHab">
                        <ul class="columnOne">
                            <li>
                                <span class="detail">VISTA:</span>
                            </li>

                            <li>
                                <span class="detail">SUPERFICIE:</span>
                            </li>

                            <li>
                                <span class="detail">CAPACIDAD:</span>
                            </li>
                        </ul>

                        <ul class="columnTwo">
                            <span>Frente/ Contrafrente</span>
                            <span>36 m2 / hab.</span>
                            <span>Hasta 4 personas</span>
                        </ul>

                    </div>



                </div>
            </div>

            <div class="containRoom">
                <h3>DELUXE</h3>

                <div id="verMasDeluxe">
                    <a href="infoDeluxe.html"><img src="../img/masInfo.png"></a>

                </div>
                <div id="sliderDeluxe">

                    <div id="carouselExampleIndicators2" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../img/bannerHab2Deluxe.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/bannerHab1Deluxe.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/bannerHab3Deluxe.jpg" class="d-block w-100">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
                            data-bs-slide="prev">

                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>


                <div class="detallesHabitacionDeluxe">

                    <div>
                        <p>Habitaciones renovadas, ubicadas en pisos superiores, con terraza</p>
                        <p>base doble y/o comunicadas. Equipadas con aire acondicionado, </p>
                        <p> kitchenette, frigobar, microondas, sommier, vajilla básica,</p>
                        <p>caja fuerte, secador de pelo y TV</p>

                    </div>


                    <div class="masDetallesSobreHab">
                        <ul class="columnOne">
                            <li>
                                <span class="detail">VISTA:</span>
                            </li>

                            <li>
                                <span class="detail">SUPERFICIE:</span>
                            </li>

                            <li>
                                <span class="detail">CAPACIDAD:</span>
                            </li>
                        </ul>

                        <ul class="columnTwo">
                            <span>Frente/ Contrafrente</span>
                            <span>45m2 / hab</span>
                            <span>Hasta 5 personas</span>
                        </ul>

                    </div>

                </div>

            </div>

            <div class="containRoom">
                <h3>SUITE</h3>

                <div id="sliderSuite">

                    <div id="carouselExampleIndicators3" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../img/bannerHab2Suite.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/bannerHab1Suite.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/bannerHab3Suite.jpg" class="d-block w-100">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3"
                            data-bs-slide="prev">

                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

                <div id="verMasSuite">
                    <a href="infoSuite.html"><img src="../img/masInfo.png"></a>

                </div>
                <br>

                <div class="detallesHabitacionSuite">

                    <div>
                        <p>Opción “Superior” tiene 60 m2, con cocina americana y gran terraza.</p>
                        <p>
                            Opción “Ejecutiva” es de 65 m2, 4 dormitorios,</p>
                        <p> sala de estar,cocina americana,baño con hidromasaje y gran terraza.</p>

                    </div>

                    <div class="masDetallesSobreHab">
                        <ul class="columnOne">
                            <li>
                                <span class="detail">VISTA:</span>
                            </li>

                            <li>
                                <span class="detail">SUPERFICIE:</span>
                            </li>

                            <li>
                                <span class="detail">CAPACIDAD:</span>
                            </li>
                        </ul>

                        <ul class="columnTwo">
                            <span>Frente/ Contrafrente</span>

                            <span>65m2 / hab.</span>

                            <span>Hasta 6 personas</span>

                        </ul>

                    </div>

                </div>



            </div>



            </div>



        </div>




        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
</body>

</html>