<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../estilos/style.css">
     
  
    <title>Hotel-Inicio</title>
</head>

<body>


    <header>



        <div id="logo">
            <img src="../img/revision.png" width="50px">
            <h1>Sistema Hotel</h1>
        </div>


        <ul>

            <li>Inicio</li>
            <li><a href="habitaciones.html">Habitaciones</a></li>
            <li><a href="index.html #sobreNosotros">Sobre nosotros</a></li>
            <li><a href="index.html #contacto">Contacto</a></li>


        </ul>


        <ul class="redes">
            <li><img src="../img/instagram.png"></li>
            <li><img src="../img/facebook.png"></li>
            <li><img src="../img/whatsapp.png"></li>

        </ul>
    </header>


    <div id="slider">

        <ul>

            <li>
                <img src="../img/img1.jpg">

            </li>

            <li>
                <img src="../img/img2.jpg">

            </li>

            <li>
                <img src="../img/img3.jpg">

            </li>

            <li>
                <img src="../img/img4.jpg">

            </li>

        </ul>
    </div>

    <div id="reservar">
        <a href="consultaHabitaciones.php"><button>Reservar</button></a>


    </div>

    <div id="sobreNosotros">

        <a name="sobreNosotros"></a>
        <h2>Sobre nosotros</h2>

        <br>
        <br>

        <p>Park Hotel Boutique se encuentra en pleno “Design District”, foco del diseño,

        </p>el arte y la gastronomía de autor de Punta del Este.</p>
        <p>Con un ambiente distendido para disfrutar de tus vacaciones y una locación
        <p> competente para favorecer tus negocios,
            Park Hotel resulta</p>
        <p>ideal para los amantes del servicio personalizado en hotelería.</p>

        <br><br>

        <p>
            Representando un concepto de alojamiento vanguardista dentro </p>
        <p> de su categoría,cuenta con 48 habitaciones equipadas con wi-fi gratuito,
        </p>pantalla tv plana, mini bar,caja fuerte, aire acondicionado o calefacción,
        <p>y placares espejados, otras amenidades.</p>



        <img class="imgSobreNosotros1" src="../img/sobreNosotros1.jpeg">



        <br>


        <img class="imgSobreNosotros2" src="../img/sobreNosostros2.jpg">





    </div>


</body>


<footer>

 
<div id="backgroundFooter">

    <br> 
<div id="containerForm">


 <div class="datosContacto">

<ul>

<li><img src="../img/llamada.png"></li>
<br>
<label>+(598) 93 647 321</label>
<br>
<li><img src="../img/correo.png"></li>
<label>contacto@hotel.com</label>

</ul> 

 </div>   
<form>

    <a name="contacto"></a>
    <h2>CONTACTO</h2>

    <br><br>
    <label>Nombre</label>
    <br>
    <input type="text" >
    <br>
    <br>
    <label>Correo</label>
    <br>
    <input type="text" >

    <br>
    <br>
    <label>Télefono</label>
    <br>
    <input type="text" >
   
    <br><br>
    <label>Consulta</label>
    <br>
    <textarea></textarea>
    <br><br>

    <input type="submit" value="ENVIAR" >



</form>

</div>

</div>
</footer>
</html>