<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../estilos/styleInfoRoom.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Habitacion Estandar</title>

</head>

<body>


    <header>


        <div id="logo">
            <img src="../img/revision.png" width="50px">
            <h1>Sistema Hotel</h1>
        </div>


        <ul class="options">

            <li><a href="../index.html">Inicio</a></li>
            <li><a href="habitaciones.html">Habitaciones</a></li>
            <li><a href="../index.html #sobreNosotros">Sobre nosotros</a></li>
            <li><a href="../index.html #contacto">Contacto</a></li>


        </ul>


        <ul class="networks">
            <li><img src="../img/instagram.png"></li>
            <li><img src="../img/facebook.png"></li>
            <li><img src="../img/whatsapp.png"></li>

        </ul>
    </header>


    <div id="bannerEstandar">

        <div id="carouselExampleSlidesOnly2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../img/bannerHab1_2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../img/bannerHab2_2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../img/bannerHab3_2.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>



    <div class="tituloStandar">

        <h1>Habitacion Estandar</h1>

    </div>



    <div class="section">


        <br>
        <div class="subSection">


            <br>
            <h2>Habitacion Estandar</h2>

            <br>

            <p>La habitación categoría estándar le permite disfrutar su estadía al mejor precio.</p>

            <p>Cómodas habitaciones equipadas conforme a sus necesidades. </p>
            <p>Distribuidas en las primeras plantas del hotel, están amuebladas con camas individuales</p>
            <p>(doble o triple) o cama de matrimonio, minibar, armario y dispone de conexión
            <p>permanente a Internet, teléfono por cable, televisión con conexión por cable, caja de seguridad,
            <p>secador de pelo y juego completo de productos de aseo.</p>


            <br>


            <h3>Equipamiento de la habitacion</h3>
            <br>
            <ul>


                <li>Kitchenette</li>
                <li>Sommier</li>
                <li>Microondas y jarra eléctrica</li>
                <li>Aire acondicionado</li>
                <li>Minibar</li>
                <li>Caja fuerte
                <li>TV LCD con cable</li>
                <li>Internet (wifi gratis)</li>
                <li>Teléfono</li>
                <li>Secador de pelo</li>
                <li>Amenities</li>
                <li>Opción de habitaciones comunicadas</li>


            </ul>
        </div>


        <br>
        <br>


        <ul id="habitaciones">

            <a href="infoStandar.html"><img id="verMasEstandar" src="../img/masInfo.png"></a>

            <li>

                <label>Habitacion Estandar</label>
                <br>
                <img id="habitacionEstandar" src="../img/bannerHab1.jpg">

            </li>


            <a href="infoDeluxe.html"> <img id="verMasDeluxe" src="../img/masInfo.png"></a>
            <li>

                <label>Habitacion Deluxe</label>
                <br>
                <img id="habitacionDeluxe" src="../img/bannerHab2Deluxe.jpg">

            </li>


            <a href="infoSuite.html"><img id="verMasSuite" src="../img/masInfo.png"></a>

            <li>


                <label>Habitacion Suite</label>
                <br>
                <img id="habitacionSuite" src="../img/bannerHab1Suite.jpg">

            </li>
        </ul>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>


<script>


    var habitacionEstandar = document.getElementById("habitacionEstandar");
    var verMasEstandar = document.getElementById("verMasEstandar");

    var habitacionDeluxe = document.getElementById("habitacionDeluxe");
    var verMasDeluxe = document.getElementById("verMasDeluxe");

    var habitacionSuite = document.getElementById("habitacionSuite");
    var verMasSuite = document.getElementById("verMasSuite");



    habitacionEstandar.addEventListener("mouseenter", function () {


        verMasEstandar.style.visibility = "visible";


    });


    habitacionEstandar.addEventListener("mouseleave", function () {



        verMasEstandar.addEventListener("mouseenter", function () {


            verMasEstandar.style.visibility = "visible";

        });


        verMasEstandar.style.visibility = "hidden";

    });





    habitacionDeluxe.addEventListener("mouseenter", function () {

        verMasDeluxe.style.visibility = "visible";


    });


    habitacionDeluxe.addEventListener("mouseleave", function () {


        verMasDeluxe.addEventListener("mouseenter", function () {


            verMasDeluxe.style.visibility = "visible";

        });

        verMasDeluxe.style.visibility = "hidden";

    });





    habitacionSuite.addEventListener("mouseenter", function () {

        verMasSuite.style.visibility = "visible";

    });


    habitacionSuite.addEventListener("mouseleave", function () {


        verMasSuite.addEventListener("mouseenter", function () {

            verMasSuite.style.visibility = "visible";

        });


        verMasSuite.style.visibility = "hidden";
    });



</script>