.modalDeleteService {
  position: absolute;
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 44, 44, 0.6);

  .confirmDelete {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    margin-top: 14rem;
    margin-left: 6rem;
    color: black;
    font-weight: bold;
    font-size: 18px;
    width: 21rem;
    height: auto;
    padding: 1rem;
    border-radius: 3px;
    background-color: white;
    text-align: center;

    p {
      width: 17rem;
    }

    img {
      width: 45px;
      height: 45px;
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 0.5rem;

      button {
        width: 5rem;
        font-size: 14px;
        height: 2rem;
        background-color: rgb(236, 3, 3);
        color: white;
        font-weight: bold;
        border-radius: 3px;
        box-shadow: 2px 2px 2px black;
        border: none;
      }
      button:hover {
        cursor: pointer;
        background-color: rgb(187, 6, 6);
      }
    }

    .errorDelete {
      height: auto;
      font-size: 14px;
      color: gray;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      img {
        width: 37px;
        height: 37px;
        opacity: 100%;
      }
    }

    .loadingDelete {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      gap: 0.5rem;
      font-size: 14px;
      color: gray;

      img {
        width: 37px;
        height: 37px;
        opacity: 100%;
      }
    }
  }
}

.containTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 20px;
  color: rgb(145, 145, 145);
  margin-top: 2rem;

  img {
    width: 38px;
  }
}
.containDeleteService {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;

  .noData {
    width: 100%;
    height: 14rem;
    font-size: 18px;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    img {
      width: 90px;
      opacity: 70%;
    }
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 14rem;
    gap: 0.5rem;
    font-size: 20px;
    color: gray;

    img {
      width: 50px;
      opacity: 70%;
    }
  }
}

.ulItems {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  gap: 1rem;
  height: 84%;
  margin-top: 1rem;
  overflow-y: scroll;
  padding-bottom: 1rem;

  .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
    border-radius: 5px;
    color: white;
    width: 15rem;
    height: 8rem;
    background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
    border: 1px solid rgb(1, 155, 160);
    box-shadow: 2px 2px 2px gray;
    font-size: 17px;
    padding: 0.5rem;

    .name {
      text-overflow: ellipsis;
      width: 14rem;
      font-size: 15px;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
    }
    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.4rem;

      button {
        width: 3.3rem;
        height: 1.4rem;
        font-size: 11px;
        background-color: red;
        border: none;
        font-weight: bold;
        box-shadow: 2px 2px 2px black;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 17px;
          height: 17px;
        }
      }
      button:hover {
        background-color: rgb(228, 0, 0);
      }
    }
    .columnOne,
    .columnTwo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.3rem;
      border-radius: 3px;
      width: 3rem;
      height: 4.8rem;
      padding: 1rem;
      background: rgb(2, 112, 116);
    }

    .columnOne {
      height: 4.3rem;
      img {
        width: 50px;
        height: 50px;
      }
    }
    .columnTwo {
      font-size: 14px;
      width: 7rem;
      justify-content: center;
      gap: 0.5rem;
      padding-top: 0.5rem;

      a {
        font-weight: bold;
      }
    }
  }
}
