.containTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 20px;
  color: rgb(145, 145, 145);
  margin-top: 2rem;

  img {
    width: 41px;
  }
}

.containHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 96%;

  ul {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 69%;
    height: 70%;
    gap: 2rem;

    li {
      display: flex;
      flex-direction: column;
      align-items: start;
      background: linear-gradient(rgb(57, 170, 161), rgb(12, 122, 126));
      border-radius: 3px;
      box-shadow: 2px 2px 2px gray;
      width: 15rem;
      height: auto;
      list-style: none;

      .headerItem {
        font-size: 18px;
        display: flex;
        padding: 1rem;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        color: white;
      }

      img {
        width: 44px;
      }

      .footerItem {
        padding: 0.5rem;
        color: rgb(87, 87, 87);
        width: 14rem;
        border-radius: 3px;
        font-size: 16px;
        background-color: white;
        border: 1px solid rgb(167, 167, 167);

        span:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .noData {
    width: 100%;
    height: 65%;
    font-size: 19px;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    img {
      width: 90px;
      opacity: 70%;
    }
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    gap: 0.5rem;
    font-size: 16px;
    color: gray;

    img {
      width: 40px;
      opacity: 70%;
    }
  }
}

.modalMainHistory {
  position: absolute;
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 44, 44, 0.6);
}

.containDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  margin-top: 6rem;
  margin-left: 6rem;
  height: 15rem;
  max-height: 21rem;
  border-radius: 4px;
}

.headerWindow {
  display: flex;
  color: rgb(255, 255, 255);
  width: 25rem;
  height: 3rem;
  align-items: start;
  justify-content: space-between;
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));

  h3 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 1rem;
    margin-left: 8.3rem;
  }

  button {
    height: 1.7rem;
    width: 1.7rem;
    font-weight: bold;
    background-color: rgb(189, 0, 0);
  }

  .noData {
    width: 100%;
    height: 65%;
    font-size: 19px;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    img {
      width: 90px;
      opacity: 70%;
    }
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    gap: 0.5rem;
    font-size: 16px;
    color: gray;

    img {
      width: 40px;
      opacity: 70%;
    }
  }
}
