.containServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  height: 37rem;
  background-color: white;
  border-radius: 4px;
  margin-top: 1.5rem;
  margin-left: 0;
}
.containServices .headerWindowContainServices {
  display: flex;
  align-items: start;
  justify-content: space-between;
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
  box-shadow: 2px 2px 2px gray;
  width: 100%;
  height: 3.3rem;
}
.containServices .headerWindowContainServices ul {
  display: flex;
  list-style: none;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: bold;
  color: white;
  margin-left: 0rem;
  margin-top: 0.2rem;
}
.containServices .headerWindowContainServices ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem;
  cursor: pointer;
}
.containServices .headerWindowContainServices ul li img {
  width: 18px;
}
.containServices .headerWindowContainServices ul li:hover {
  background: linear-gradient(rgb(57, 170, 161), rgb(4, 127, 131));
}
.containServices .headerWindowContainServices button {
  background-color: rgb(219, 1, 1);
  color: white;
  font-weight: bold;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  border: none;
}
.containServices .headerWindowContainServices button:hover {
  background-color: rgb(187, 3, 3);
}
.containServices .optionService {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.containServices .noData {
  width: 100%;
  font-size: 18px;
  color: gray;
  display: flex;
  height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.containServices .noData img {
  width: 90px;
  opacity: 70%;
}
.containServices .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  margin-top: 2rem;
  gap: 0.5rem;
  font-size: 22px;
  color: gray;
}
.containServices .loading img {
  width: 60px;
  opacity: 70%;
}

.optionService .loadingPage {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  opacity: 100%;
  color: rgb(138, 138, 138);
  background: none;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 0;
  margin-left: 0;
  height: 100%;
  width: 100%;
}
.optionService .loadingPage img {
  width: 40px;
  opacity: 50%;
}
.optionService .pageNotFound {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 17px;
  align-items: center;
  height: auto;
  opacity: 100%;
  padding: 1rem;
  padding-top: 0;
  background-color: white;
  padding-bottom: 1.5rem;
  color: gray;
  margin-top: 9rem;
  margin-left: 0;
}
.optionService .pageNotFound img {
  width: 100px;
  opacity: 75%;
}
.optionService .pageNotFound .headerPageNotFound {
  display: none;
  justify-content: flex-end;
  width: 110%;
}
.optionService .pageNotFound .headerPageNotFound button {
  display: none;
  background-color: rgb(231, 0, 0);
  padding: 0.2rem;
  width: 2rem;
  height: 1.5rem;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}
.optionService .pageNotFound .headerPageNotFound button:hover {
  background-color: rgb(182, 4, 4);
}

/*# sourceMappingURL=styleServices.css.map */
