.mainContain {
  width: 52rem;
  height: 32rem;
  border-radius: 4px;
  background-color: white;
  margin-top: 3rem;
  margin-left: 11rem;
  font-family: Arial, Helvetica, sans-serif;
}
.mainContain .headerWindow {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
  color: white;
  font-weight: bold;
  padding-bottom: 0.5rem;
  box-shadow: 2px 2px 2px gray;
}
.mainContain .headerWindow button {
  background-color: rgb(233, 3, 3);
  color: white;
  font-weight: bold;
  height: 2rem;
  width: 2rem;
  border: none;
}
.mainContain .headerWindow button:hover {
  background-color: rgb(212, 4, 4);
  cursor: pointer;
}
.mainContain .headerWindow .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 17px;
  margin-top: 1rem;
  width: 100%;
}
.mainContain .headerWindow .title img {
  width: 50px;
}

.containData {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  height: 80%;
}

.noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  gap: 0.5rem;
  height: 100%;
  color: rgb(204, 204, 204);
}
.noData img {
  width: 40px;
  opacity: 80%;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  gap: 0.5rem;
  height: 100%;
  color: rgb(170, 170, 170);
}
.loading img {
  width: 40px;
  opacity: 50%;
}

.containTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: auto;
  border-radius: 3px;
  box-shadow: 2px 2px 2px gray;
  padding: 0.2rem 1rem 0.3rem 1rem;
  margin-top: 2rem;
  border: 1px solid rgb(172, 172, 172);
}
.containTable .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 1rem;
}
.containTable .header h4 {
  font-size: 19px;
  color: rgb(0, 0, 0);
}
.containTable .searchSelect {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  border-radius: 3px;
  width: 11rem;
  height: 4rem;
  border: 1px solid rgb(170, 170, 170);
  box-shadow: 2px 2px 2px gray;
  background-color: white;
}
.containTable .searchSelect .title {
  background-color: rgb(212, 212, 212);
  color: black;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 0rem;
  font-size: 14px;
  padding: 0.2rem;
  width: 10.6rem;
  border-bottom: 1px solid gray;
}
.containTable .searchSelect .containSelect {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0.2rem;
  padding-left: 1rem;
}
.containTable .searchSelect .containSelect select {
  width: 7rem;
  height: 1.5rem;
  border-radius: 3px;
  outline: none;
}
.containTable .searchSelect .containSelect button {
  background-color: rgb(10, 168, 196);
  box-shadow: 1px 1px 1px gray;
  border: none;
  height: 1.4rem;
  width: 2rem;
  border-radius: 3px;
  cursor: pointer;
}
.containTable .searchSelect .containSelect button img {
  width: 15px;
  height: 15px;
  border-radius: 3px;
}
.containTable .searchSelect .containSelect button:hover {
  background-color: rgb(15, 151, 175);
}
.containTable .containInput {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.containTable .containInput input {
  width: 11rem;
  font-size: 16px;
  padding-left: 1rem;
  padding-right: 2.4rem;
  height: 2.1rem;
  border-radius: 3px;
  border: 1px solid rgb(153, 153, 153);
  outline: none;
}
.containTable .containInput img {
  width: 20px;
  height: 20px;
}
.containTable .containInput button {
  background-color: rgb(10, 168, 196);
  box-shadow: 1px 1px 1px gray;
  padding: 0.5rem;
  border: none;
  position: absolute;
  height: 2.2rem;
  right: 0rem;
  top: 0rem;
  cursor: pointer;
}
.containTable .containInput button:hover {
  background-color: rgb(15, 151, 175);
}
.containTable .controls {
  padding: 1rem;
  border-top: 1px solid rgb(204, 204, 204);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 1rem;
  color: rgb(0, 0, 0);
  margin-top: 1rem;
}
.containTable .prev:hover {
  text-decoration: underline;
  cursor: pointer;
}
.containTable .next:hover {
  text-decoration: underline;
  cursor: pointer;
}

table {
  width: 104%;
  height: auto;
  max-height: 12rem;
  overflow-y: scroll;
}
table thead {
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
  color: white;
  font-size: 17px;
}
table thead th {
  padding: 0.5rem;
}
table tbody {
  font-size: 17px;
}
table tbody td {
  padding: 0.5rem;
  text-align: center;
}
table .iconIdBooking {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
table .iconIdBooking img {
  width: 25px;
}
table .iconIdBooking:hover {
  text-decoration: underline;
  cursor: pointer;
}
table .client:hover {
  text-decoration: underline;
  cursor: pointer;
}
table tfoot .containNoFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 16px;
  color: rgb(180, 180, 180);
}
table tfoot .containNoFound img {
  width: 70px;
  opacity: 100%;
}

.rowGray {
  background-color: rgb(212, 212, 212);
}

.rowWhite {
  background-color: rgb(255, 255, 255);
}

/*# sourceMappingURL=styleRecord.css.map */
