.modalMainMinibar,
.modalMainBar {
  position: absolute;
  z-index: 3;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 44, 44, 0.6);
}
.modalMainMinibar .alert,
.modalMainBar .alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  gap: 1rem;
  width: 20rem;
  padding: 1rem;
  margin-top: 12rem;
  border-radius: 5px;
  margin-left: 8rem;
  color: rgb(0, 0, 0);
}
.modalMainMinibar .alert .title,
.modalMainBar .alert .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.modalMainMinibar .alert p,
.modalMainBar .alert p {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.modalMainMinibar .alert img,
.modalMainBar .alert img {
  width: 72px;
}
.modalMainMinibar .alert button,
.modalMainBar .alert button {
  width: 7rem;
  height: 2rem;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 2px black;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 1rem;
  cursor: pointer;
}
.modalMainMinibar .alertError button,
.modalMainBar .alertError button {
  background-color: red;
}
.modalMainMinibar .alertError button:hover,
.modalMainBar .alertError button:hover {
  background-color: rgb(214, 4, 4);
}
.modalMainMinibar .alertCorrect button,
.modalMainBar .alertCorrect button {
  background-color: rgb(21, 162, 180);
}
.modalMainMinibar .alertCorrect button:hover,
.modalMainBar .alertCorrect button:hover {
  background-color: rgb(23, 142, 158);
}

.containMinibar,
.containBar {
  width: 55rem;
  height: 33rem;
  background-color: white;
  border-radius: 3px;
  margin-top: 3rem;
  margin-left: 9rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.containMinibar .headerWindow,
.containBar .headerWindow {
  display: flex;
  color: rgb(255, 255, 255);
  width: 55rem;
  height: 3rem;
  align-items: start;
  justify-content: space-between;
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
}
.containMinibar .headerWindow .title,
.containBar .headerWindow .title {
  display: flex;
  gap: 1rem;
  padding-top: 0.5rem;
  align-items: center;
  justify-content: center;
}
.containMinibar .headerWindow .title h3,
.containBar .headerWindow .title h3 {
  margin-left: 21rem;
}
.containMinibar .headerWindow .title img,
.containBar .headerWindow .title img {
  width: 35px;
}
.containMinibar .headerWindow button,
.containBar .headerWindow button {
  width: 1.7rem;
  height: 1.7rem;
  background-color: rgb(204, 1, 1);
  border: none;
  color: white;
  font-weight: bold;
}
.containMinibar .headerWindow button:hover,
.containBar .headerWindow button:hover {
  background-color: rgb(233, 8, 8);
}

.contentMinibar,
.contentBar {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  gap: 2rem;
}
.contentMinibar .loading,
.contentBar .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 20px;
  color: gray;
  height: 60%;
}
.contentMinibar .loading img,
.contentBar .loading img {
  width: 40px;
  opacity: 50%;
}
.contentMinibar .noData,
.contentBar .noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  height: 55%;
  width: 20rem;
  font-size: 18px;
  color: gray;
}
.contentMinibar .noData img,
.contentBar .noData img {
  width: 80px;
  opacity: 70%;
}

.products {
  width: 65%;
  height: 82%;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  justify-content: start;
  flex-wrap: wrap;
  list-style: none;
}
.products li {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;
  border-radius: 5px;
  color: white;
  width: 15rem;
  height: 9rem;
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
  border: 1px solid rgb(1, 155, 160);
  box-shadow: 2px 2px 2px gray;
  font-size: 17px;
  padding: 0.5rem;
}
.products li .noStock {
  filter: grayscale(75%);
}
.products li .stockAvailable {
  filter: none;
}
.products li .name {
  text-overflow: ellipsis;
  width: 14rem;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}
.products li .rowProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.products li .columnOne,
.products li .columnTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  border-radius: 3px;
  width: 3rem;
  height: 6rem;
  padding: 1rem;
  background: rgb(2, 112, 116);
}
.products li .columnOne {
  height: 5.4rem;
}
.products li .columnOne img {
  width: 80px;
  margin-top: -0.1rem;
  height: 80px;
}
.products li .columnTwo {
  font-size: 14px;
  width: 7rem;
  gap: 0.5rem;
  padding-top: 0.5rem;
}
.products li .columnTwo a {
  font-weight: bold;
}
.products li .columnTwo .containQuantity {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  font-weight: bold;
}
.products li .columnTwo .containQuantity button {
  font-size: 20px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  background: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.products li .columnTwo .containQuantity button:hover {
  transform: scale(1.1);
}
.products li .columnTwo .containQuantity .btnMinus {
  background-color: rgb(194, 9, 9);
}
.products li .columnTwo .containQuantity .btnPlus {
  background-color: rgb(12, 179, 12);
}
.products li .columnTwo .containQuantity .noStock button:hover {
  transform: none;
  cursor: auto;
  background: none;
}
.products li .columnTwo .btnAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 6rem;
  height: 4.4rem;
  border: none;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
}
.products li .columnTwo .btnAdd img {
  width: 15px;
}
.products li .columnTwo .btnAdd:hover {
  background-color: rgb(218, 218, 218);
}

.containCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 0 1rem;
  height: auto;
  width: 23%;
  border-radius: 4px;
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
  box-shadow: 2px 2px 2px rgb(112, 112, 112);
}
.containCart .titleCart {
  display: flex;
  padding: 1rem;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;
  box-shadow: 1px 1px 1px rgb(92, 92, 92);
  border: 1px solid rgb(221, 221, 221);
  color: rgb(0, 0, 0);
  width: 100%;
  height: 1.5rem;
}
.containCart .titleCart img {
  width: 35px;
}
.containCart .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 115%;
  height: 15rem;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  list-style: none;
}
.containCart .items li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem 0.9rem 0.6rem 0.9rem;
  background-color: white;
  width: 11rem;
  height: 6.4rem;
  gap: 0.4rem;
  border-radius: 3px;
  box-shadow: 2px 2px 2px gray;
  color: black;
}
.containCart .items li .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 111%;
}
.containCart .items li .header img {
  width: 15px;
  cursor: pointer;
}
.containCart .items li .itemName {
  text-overflow: ellipsis;
  width: 14rem;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  margin-left: 0.6rem;
}
.containCart .items li .icon {
  display: flex;
  justify-content: start;
  align-items: start;
}
.containCart .items li .icon img {
  width: 51px;
}
.containCart .items li .rowItem {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
  width: 100%;
}
.containCart .items li .columnOneItem,
.containCart .items li .columnTwoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border-radius: 3px;
  width: 4rem;
  height: 3rem;
  padding: 1rem;
  background-color: rgb(233, 233, 233);
  font-weight: bold;
  font-size: 12px;
}
.containCart .items li .columnOneItem {
  width: 2rem;
}
.containCart .items li .columnTwoItem {
  gap: 0.5rem;
}
.containCart .items li .containQuantityItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-weight: bold;
}
.containCart .items li .containQuantityItem button {
  font-size: 18px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  width: 1.1rem;
  height: 1.1rem;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.containCart .items li .containQuantityItem button:hover {
  transform: scaleX(1.1);
}
.containCart .items li .containQuantityItem .btnMinusItem {
  background-color: rgb(194, 9, 9);
}
.containCart .items li .containQuantityItem .btnPlusItem {
  background-color: rgb(12, 179, 12);
}
.containCart .totalCart {
  display: none;
  font-weight: bold;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  margin-top: 1.5rem;
  background-color: white;
  padding: 0.5rem;
  width: 107%;
  border: 1px solid gray;
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 1px rgb(70, 70, 70);
  border-radius: 3px;
}
.containCart .totalCart .rowTotalCart {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.6rem;
  width: 104%;
  border-bottom: 1px solid rgb(189, 189, 189);
}
.containCart .totalCart img {
  width: 25px;
}

.btnAddService {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 11rem;
  font-weight: bold;
  cursor: pointer;
  height: 1.5rem;
  color: white;
  border-radius: 41px;
  border: none;
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
  box-shadow: 2px 2px 2px black;
}
.btnAddService img {
  width: 16px;
  display: none;
}

.btnAddService:hover {
  background: linear-gradient(rgb(47, 138, 130), rgb(1, 155, 160));
}

.noItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  gap: 0.5rem;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  width: 12rem;
  font-weight: bold;
  height: 70%;
  opacity: 87%;
  margin-top: 1rem;
}
.noItems img {
  width: 60px;
}

/*# sourceMappingURL=styleMinibar.css.map */
