* {
  margin: 0px;
  padding: 0px;
}


// styles generals for admin 
@mixin body {
  font-family: Arial;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(243, 243, 243);

  .iconoMenu {
    width: 36px;
    margin-top: 6px;
    margin-left: -110px;
  }

  .lblTituloMenu {
    margin-top: 20px;
    margin-left: 10px;
    position: absolute;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  #navAdmin {
    margin-left: 0px;
    margin-top: -5px;
    position: fixed;
    background: linear-gradient(#30aaa0, #0498a0);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 180px;
    height: 800px;
    font-family: Arial;
  }

  #navAdmin ul {
    padding-top: 0px;
  }

  #navAdmin li {
    margin-top: 11px;
    padding-top: 17px;
    height: 30px;
    cursor: pointer;
  }

  #navAdmin li a {
    font-size: 17px;
    margin-left: 8px;
    color: white;
    text-decoration: none;
  }

  #navAdmin li:hover {
    background-color: rgb(25, 135, 143);
  }
  
  #navAdmin li .subMenu li:hover {
    background-color: rgb(65, 65, 65);
  }

  #navAdmin ul img {
    width: 25px;
    display: flex;
    position: absolute;
    margin-top: -5px;
    padding-left: 30px;
  }

  #liInicio a {
    padding-left: 10px;
  }

  #liClientes a {
    padding-left: 16px;
  }

  #liClientes .btnFlecha {
    width: 14px;
    margin-left: 69%;
    margin-top: -18px;
    display: none;
  }

  #liClientes:hover > .btnFlecha {
    display: block;
  }

  .subMenu {
    background-color: rgb(46, 46, 46);
    margin-top: 10px;
    padding-top: 0px;
    display: none;
  }

  #navAdmin #liClientes .subMenu li img {
    width: 22px;
    margin-top: -2px;
    padding-left: 45px;
  }

  #navAdmin #liClientes .subMenu li {
    margin-top: 0px;
    border-bottom: 1px solid rgba(114, 114, 114, 0.5);
  }

  #navAdmin #liClientes .subMenu li a {
    font-size: 14px;
    margin-left: 1px;
  }

  #liReserva a {
    padding-left: 26px;
  }

  #liReserva .btnFlecha {
    width: 14px;
    margin-left: 69%;
    margin-top: -18px;
    display: none;
  }

  #liReserva:hover > .btnFlecha {
    display: block;
  }

  #navAdmin #liReserva .subMenu li img {
    width: 25px;
    margin-top: -5px;
    padding-left: 45px;
  }

  #navAdmin #liReserva .subMenu li {
    margin-top: 0px;
    border-bottom: 1px solid rgba(114, 114, 114, 0.5);
  }

  #navAdmin #liReserva .subMenu li a {
    font-size: 14px;
    margin-left: 0px;
  }

  #navAdmin #liReserva .subMenu .liHabitacion img {
    padding-left: 47px;
  }

  #navAdmin #liReserva .subMenu .liHabitacion a,
  #navAdmin #liReserva .subMenu .liCalendario a {
    margin-left: 30px;
  }

  #liHabitaciones #textHabitaciones {
    padding-left: 33px;
  }

  #liHabitaciones .btnFlecha {
    width: 14px;
    margin-left: 70%;
    margin-top: -18px;
    display: none;
  }

  #liHabitaciones:hover > .btnFlecha {
    display: block;
  }

  #liHabitaciones:hover > #iconoHabitaciones {
    margin-left: -10px;
  }

  #liHabitaciones:hover #textHabitaciones {
    padding-left: 10px;
  }

  #navAdmin #liHabitaciones .subMenu li img {
    width: 20px;
    margin-top: -2px;
    padding-left: 45px;
  }

  #navAdmin #liHabitaciones .subMenu li {
    margin-top: 0px;
    border-bottom: 1px solid rgba(114, 114, 114, 0.5);
  }

  #navAdmin #liHabitaciones .subMenu li a {
    font-size: 14px;
    margin-left: 0px;
  }

  #navAdmin #liHabitaciones .subMenu .liGraficaPie a {
    margin-left: 20px;
  }

  #navAdmin #liHabitaciones .subMenu .liHabitacion img {
    padding-left: 47px;
  }

  #navAdmin #liHabitaciones .subMenu .liHabitacion a {
    margin-left: 17px;
  }

  #liGanancias a {
    padding-left: 27px;
  }

  #userAdmin {
    width: 180px;
    height: 55px;
    position: absolute;
    top: 74%;
    left: 0px;
    background: linear-gradient(#30aaa0, #0498a0);
  }

  #userAdmin img {
    width: 33px;
    padding-top: 10px;
    padding-right: 85px;
  }

  #userAdmin label {
    padding-top: 20px;
    margin-left: -66px;
    position: absolute;
  }

  #userAdmin .subMenuAdmin {
    height: 91px;
    background-color: rgb(46, 46, 46);
    color: white;
    margin-top: 20px;
    display: none;
    padding-top: 0px;
  }

  #userAdmin .subMenuAdmin li {
    color: white;
    list-style: none;
    padding-top: 10px;
    margin-top: 0px;
    border-bottom: 1px solid rgba(114, 114, 114, 0.5);
  }

  #userAdmin .subMenuAdmin li img {
    width: 20px;
    margin-top: -12px;
    padding-left: 50px;
  }

  #userAdmin .subMenuAdmin li a {
    font-size: 14px;
    margin-left: 18px;
    color: white;
    text-decoration: none;
  }

  #userAdmin .subMenuAdmin li .logout {
    margin-left: 10px;
  }

  #userAdmin .subMenuAdmin li:hover {
    background-color: rgb(65, 65, 65);
  }

  #userAdmin .btnFlecha {
    width: 14px;
    margin-left: 83%;
    margin-top: -35px;
    display: flex;
    display: none;
  }

  #userAdmin:hover > .btnFlecha {
    display: block;
  }
}

//menus de las opciones de panel admin

@mixin menuOptionPane {
  #menuOptionPane {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    height: 148px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    background-color: white;

    .title {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      margin-left: 39rem;
    }
    img {
      width: 160px;
    }

    h1 {
      color: #34b1a6;
      margin-top: 10px;
      font-size: 27px;
    }

    ul {
      padding-top: 2.8rem;
      margin-left: 40%;
      margin-top: -1rem;
      display: flex;
      flex-direction: row;
      gap: 3rem;
      align-items: center;
    }

    ul li {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 1px;
      cursor: pointer;
      width: 100px;
    }

    ul li:hover {
      border-bottom: 3px solid  #3ec7bb;
    }

    ul li a {
      opacity: 50%;
      font-weight: bold;
      text-decoration: none;
      color: black;
    }

    ul li img {
      width: 30px;
      height: 30px;
    }

    ul li .icon {
      padding-right: 0rem;
    }
  }
}
