* {
  margin: 0px;
  padding: 0px;
}

// style sideMenu
@mixin body {
  background-color: rgb(243, 243, 243);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: start;
  gap: 2rem;
  height: 100vh;
}

#navAdmin {
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
  width: 11rem;
  height: 103.2vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#navAdmin .titleNav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 0.5rem;
  color: white;
  font-weight: bold;
}

#navAdmin .titleNav span {
  margin-top: 0.8rem;
}

#navAdmin .titleNav img {
  width: 40px;
}

#navAdmin .menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 0rem;
  height: 70%;
  color: white;
  list-style: none;
}

#navAdmin .menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11rem;
  height: auto;
  min-height: 2.2rem;
  padding-top: 0.6rem;
  justify-content: space-between;
}

#navAdmin .menu li:hover {
  cursor: pointer;
  background-color: rgb(5, 141, 146);
}

#navAdmin .menu li .item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  position: relative;
  margin-left: 3rem;
}

#navAdmin .menu li .nameOption {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding-right: 1rem;
}

.nameOptionHome a {
  margin-top: 0.3rem;
}

#navAdmin .menu li .btnDisplaySubMenu {
  width: 14px;
  left: 8.4rem;
  position: absolute;
  display: none;
  cursor: pointer;
}

#navAdmin .menu li .btnDisplaySubMenu:hover {
  transform: scale(1.1);
}

#navAdmin .menu li img {
  width: 25px;
}

#navAdmin .loadingUser {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  gap: 0.5rem;
}

#navAdmin .loadingUser img {
  width: 30px;
  margin-top: 0.2rem;
}

#navAdmin .subMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  margin-top: 0.5rem;
}

#navAdmin .subMenu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid rgb(165, 165, 165);
  width: 11rem;
  background-color: rgb(49, 49, 49);
  font-size: 15px;
  gap: 0.5rem;
}

#navAdmin .subMenu li img {
  width: 20px;
  margin-left: 3rem;
}

#navAdmin .subMenu li:hover {
  background-color: rgb(37, 37, 37);
}

#navAdmin .subMenu li:hover {
  background-color: rgb(37, 37, 37);
}

#userAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(7, 145, 150);
  width: 100%;
  height: 3rem;
  color: white;
  list-style: none;
}

#userAdmin li {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0.5rem;
  gap: 1rem;
  color: white;
  font-size: 17px;
}
#userAdmin li .btnDisplayMenu {
  width: 14px;
  visibility: hidden;
  cursor: pointer;
}

#userAdmin li .btnDisplayMenu:hover {
  transform: scale(1.1);
}

#userAdmin li img {
  width: 30px;
}
#userAdmin .subMenuProfile {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: -5rem;
}

#userAdmin .subMenuProfile li {
  display: flex;
  align-items: center;
  margin-top: 0;
  width: 11rem;
  height: auto;
  border-bottom: 1px solid gray;
  gap: 0.4rem;
  font-size: 15px;
  cursor: pointer;
  justify-content: start;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: rgb(49, 49, 49);
}

#userAdmin .subMenuProfile li img {
  width: 20px;
  margin-left: 3rem;
}

#userAdmin .subMenuProfile li:hover {
  background-color: rgb(36, 36, 36);
}

//menus de las opciones de panel admin

@mixin menuOptionPane {
  #menuOptionPane {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    height: 148px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    background-color: white;

    .title {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      margin-left: 39rem;
    }
    img {
      width: 160px;
    }

    h1 {
      color: #34b1a6;
      margin-top: 10px;
      font-size: 27px;
    }

    ul {
      padding-top: 2.8rem;
      margin-left: 40%;
      margin-top: -1rem;
      display: flex;
      flex-direction: row;
      gap: 3rem;
      align-items: center;
    }

    ul li {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 1px;
      cursor: pointer;
      width: 100px;
    }

    ul li:hover {
      border-bottom: 3px solid #3ec7bb;
    }

    ul li a {
      opacity: 50%;
      font-weight: bold;
      text-decoration: none;
      color: black;
    }

    ul li img {
      width: 30px;
      height: 30px;
    }

    ul li .icon {
      padding-right: 0rem;
    }
  }
}
