@import "mixinsGeneralWebPage";

@include styleMenu;

body {
  background-image: url("../img/backgroundBodyRooms.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#checkIn {
  width: 100%;
  height: 150px;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 0;
  text-align: center;
  background-color: white;

  h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
  }

  label {
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
    color: #a1a1a1;
  }

  .lblLlegada {
    margin-left: 36%;
    width: 80px;
    margin-top: 10px;
  }

  .lblHuespedes {
    margin-left: 50%;
    width: 80px;
    margin-top: -31px;
  }

  #diferenciasNoches {
    visibility: visible;
    width: 0px;
    font-size: 0px;
  }

  input {
    outline: none;
    width: 180px;
    height: 32px;
    opacity: 80%;
    display: inline-block;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid gray;
  }

  input[type="date"] {
    margin-left: 20px;
  }

  input[type="submit"] {
    width: 100px;
    height: 30px;
    background: linear-gradient(#126b91, #0498a0);
    border: none;
    box-shadow: 2px 2px 2px grey;
    color: white;
    opacity: 100%;
    padding-left: 0px;
    display: flex;
    margin-left: 66%;
    margin-top: -31px;
    font-weight: bold;
  }

  input[type="submit"]:hover {
    background: linear-gradient(#0f3a4d, #0a7e85);
  }
}

#alertGuests,
.avisoCompleteDatos {
  position: absolute;
  left: -30%;
  width: 300px;
  height: 55px;
  color: white;
  border-radius: 3px;
  background: linear-gradient(#0f3a4d, #0498a0);
  display: flex;
  flex-direction: column;
  z-index: 2;

  .contain {
    display: block;
  }
  .header {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 14px;
    padding-left: 0.3rem;
    padding-top: 0.2rem;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
  }

  p {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    margin-top: -1rem;
    text-align: center;
  }

  span {
    margin-top: -1rem;
  }

  img {
    width: 24px;
    height: 24px;
    margin-top: 0.7rem;
  }

  .progressBar {
    width: 100%;
    height: 4px;
    margin-top: -10px;
    background-color: #333333;
  }
  .bar {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
  }
}

.barActive {
  animation-name: barActive;
  animation-duration: 10s;
}

@keyframes barActive {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
.alertGuestsShow {
  animation-name: alertShow;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.alertGuestsHide {
  animation-name: alertHide;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes alertShow {
  from {
    left: -30%;
  }

  to {
    left: 5.5%;
  }
}

@keyframes alertHide {
  from {
    left: 5.3%;
  }

  to {
    left: -30%;
  }
}

.avisoCompleteDatos {
  left: 40%;
  top: -50%;
}

.desactivarCompleteDatos {
  animation-name: desactivo;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.activarCompleteDatos {
  animation-name: activo;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes activo {
  from {
    top: -10%;
  }

  to {
    top: 11%;
  }
}

@keyframes desactivo {
  from {
    top: 11%;
  }

  to {
    margin-top: -10%;
  }
}

#modal {
  width: 100%;
  height: 210%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(104, 104, 104, 0.3);
  justify-content: center;
  align-items: start;
  display: none;
  z-index: 2;

  .bodyModal {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 400px;
    height: 220px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    padding-top: 1rem;
  }
  .bodyModal .title {
    padding-top: 0.5rem;
  }
  .bodyModal img {
    width: 40px;
  }
  button {
    width: 130px;
    height: 35px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgb(59, 59, 59);
    color: white;
    font-weight: bold;
    border: none;
    background: linear-gradient(#0f3a4d, #0498a0);
  }
}
#containRoomsAndCart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;

}

#containRooms {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;

  .containRoom {
    background-color: white;
    padding: 1rem 0 0 1rem;
    width: 44rem;
    height: 21rem;
    box-shadow: 2px 2px 2px grey;
    border-radius: 3px;
    position: relative;
  }

  .containRoom .containTitleAndRoom {
    display: flex;
    align-items: start;
    gap: 5.5rem;
  }

  .containRoom .img {
    width: 340px;
    height: 200px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .containRoom .img ul {
    width: 1020px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -4rem;
  }
  .containRoom .img li {
    width: 400px;
    height: 200px;
    list-style: none;
  }
  .containRoom .img li img {
    width: 400px;
    height: 100%;
    border-radius: 3px;
  }

  .moveCarrouselNext {
    transform: translateX(-40%);
  }

  .controls {
    width: 70%;
    margin: auto;
    display: flex;
    position: absolute;
    top: 5.2rem;
    left: 0rem;
    gap: 18.7rem;

    img {
      width: 20px;
      opacity: 80%;
    }

    img:hover {
      opacity: 100%;
    }
  }

  .containRoom .indexImagesRoom {
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 12rem;
    left: 1rem;

    li {
      width: 80px;
      height: 3px;
      background-color: rgb(201, 201, 201);
    }

    .itemIndexActive {
      background-color: white;
    }
  }

  .containRoom .titleRoom {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    justify-content: start;
    align-content: stretch;
    gap: 1rem;
    margin-left: 1.5rem;
  }

  .containRoom .titleRoom img {
    width: 30px;
    height: 30px;
  }

  .containRoom .detailsRoom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 350px;
    gap: 2rem;
    margin-left: 20.5rem;
    margin-top: -8.4rem;
  }

  .containRoom .detailsRoom li {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containRoom .detailsRoom li img {
    width: 20px;
    height: 20px;
    margin-top: -0.5rem;
  }

  .containRoom .detailsRoom .night img {
    width: 17px;
    height: 17px;
  }

  .containRoom .detailsRoom .price img {
    width: 17px;
    height: 17px;
  }

  .containRoom .detailsRoom .beds {
    margin-left: 0.7rem;
  }
  .containRoom .detailsRoom .price {
    margin-left: 2.4rem;
  }

  .containRoom .detailsRoom li .title {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    margin-left: 1.1rem;
  }

  .containRoom .detailsRoom li .value {
    padding-left: 1rem;
  }

  .containRoom .containForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .containRoom .containSelectGuests {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: start;
    margin-left: 5.5rem;
  }

  .containRoom .containSelectGuests label {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  .containRoom .containSelectGuests input[type="number"] {
    width: 50px;
    height: 45px;
    border-radius: 3px;
    background: linear-gradient(#ffffff, #ececec);
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px grey;
    border: none;
    padding-left: 1rem;
    outline: none;
  }

  .containRoom .containSelectGuests .containSelects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .containRoom .containButton {
    display: flex;
    justify-content: end;
    margin-right: 7.3rem;
    margin-top: 2rem;
  }

  .containRoom .containButton button {
    width: 130px;
    height: 32px;
    background: linear-gradient(#126b91, #0498a0);
    border: none;
    box-shadow: 2px 2px 2px rgb(151, 151, 151);
    color: white;
    border-radius: 2px;
    font-weight: bold;
  }

  .containRoom .containButton button:hover {
    background: linear-gradient(#0f3a4d, #0b858b);
  }

  .buttonAddDisabled {
    opacity: 40%;
  }

  .inputGuestDisabled {
    opacity: 40%;
  }

  .containAvailableRooms {
    position: absolute;
    left: 41rem;
    top: 0.5rem;
  }
  .containAvailableRooms .quantityAvailableRoom {
    background-color: black;
    box-shadow: 2px 2px 2px black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 80px;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
}

.containCart{


 #cart {
  width: 460px;
  height: auto;
  max-height: 800px;
  background: white;
  margin-top: 3rem;
  margin-right: 1rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgb(175, 175, 175);
  padding-top: 1rem;
  padding-bottom: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  display: none;
}

 #cart #title h6 {
  color: rgb(5, 68, 104);
  font-size: 19px;
  font-weight: bold;
}

#cart #dateBooking {
  color: rgb(5, 68, 104);
  display: flex;
  justify-content: center;
  padding-right: 1rem;
  gap: 6rem;
  font-weight: bold;
  padding-top: 1rem;

}

 #cart #dateBooking span {
  padding-left: 0.5rem;
}
 #cart .containNight {
  display: flex;
  width: 100%;
  color: white;
  background: linear-gradient(#126b91, #0498a0);
  padding: 1rem;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: bold;
  align-items: baseline;
  justify-content: center;
}
 #cart .containNight img {
  width: 20px;
}

#roomsBooking {
  
  height: auto;
  max-height: 650px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content:center;
  margin-top: 1rem;
  padding-left: 0;
  

  li {
    width:100%;
    height: 125px;
    gap: 0.1rem;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 15px;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-top: 1px solid rgb(194, 194, 194);
    color: rgb(0, 0, 0);
    font-size: 13px;

    .imgRoom {
      width: 220px;
      height: 112px;
      padding-top: 0.5rem;
      padding-left: 0.1rem;

      img {
        width: 220px;
        height: 100%;
      }
    }

    .dataRoom {
      display: flex;
      color: white;
      height: 104px;
      width: 230px;
      background: linear-gradient(#126b91, #0498a0);
      padding-top: 0.2rem;
      flex-direction: column;
      align-items: center;
      gap: 0.3rem;
      margin-top: 0.5rem;

      .header {
        display: flex;
        justify-content: space-between;
        width: 100%;

        span {
          margin-left: 1rem;
        }

        img {
          width: 12px;
          height: 11px;
          opacity: 70%;
          margin-right: 0.3rem;
        }

        img:hover {
          opacity: 100%;
        }
      }
    }

    .guests {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.2rem;
      width: 100%;
    }

    .changeQuantity {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 0.7rem;
      margin-top: 0.1rem;

      span {
        font-size: 16px;
      }

      img {
        width: 17px;
        height: 17px;
      }

      img:hover {
        transform: scale(1.1);
      }
    }

    .total {
      margin-left: 7.2rem;
      padding: 0.1rem;
    }
  }
}

#containDeposit {
  background-color: white;
  width: 100%;
  height: 220px;
  border-radius: 3px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-top: 1px solid rgb(194, 194, 194);
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

#containDeposit .span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 1rem;
  margin-right: 14rem;
}

#containDeposit .containTotal {
  display: flex;
  justify-content: start;
  color: white;
  font-size: 17px;
  font-weight: bold;
  background: #0498a0;
  padding: 0.5rem;
  width: 90%;
  height: 40px;
  border-radius: 2px;
}

#containDeposit .containNotice {
  background: rgba(28, 178, 184, 0.3);
  color: rgb(33, 182, 241);
  display: flex;
  font-size: 12px;
  border-radius: 3px;
  justify-content: start;
  align-items: center;
  padding: 0.5rem;
  height: 27px;
  width: 240px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#containDeposit .containNotice img {
  width: 15px;
}
#containDeposit .containNotice .phrase {
  padding-left: 1rem;
  padding-top: 0.1rem;
}

#containDeposit .containNotice .icon {
  margin-top: -0.5rem;
}

#containDeposit .containButton {
  margin-top: 0.5rem;
}

#containDeposit .containButton button {
  width:400px;
  background: rgba(28, 178, 184, 0.3);
  color: rgb(33, 182, 241);
  height: 34px;
  border: none;
  font-weight: bold;
}

#containDeposit .containButton button:hover {
  background: rgba(49, 209, 214, 0.3);
}
}