@import "mixinsGeneralWebPage";

@include styleMenu;

#contain {
  margin: auto;
  margin-top: 1rem;
  gap: 1rem;
  width: 80rem;
  height: 100%;
  background-color: white;
  border-radius: 2px;
  text-align: center;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.barStageAdvance {
  display: flex;
  margin: auto;
  margin-top: 0rem;
  justify-content: center;
  align-items: center;

  .itemStage {
    padding: 1rem;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cecece;

    img {
      width: 35px;
    }
  }
  .line {
    width: 30rem;
    height: 0.6rem;
    border-radius: 2px;
    background-color: #cecece;
  }
}

.progressStage {
  width: 0%;
  height: 100%;
  background: linear-gradient(#2c7594, #0498a0);
  animation-name: progressStage;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes progressStage {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.dateBooking {
  width: 104%;
  color: white;
  padding: 0.5rem;
  background: linear-gradient(#287494, #0498a0);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
  font-family: Arial, Helvetica, sans-serif;

  .arrival,
  .exit {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .containNights {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    img {
      width: 25px;
    }
  }
}

.containClientAndBooking {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: -2rem;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  .header {
    width: 100%;

    .title {
      width: 100%;
      display: flex;
      background-color: white;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      h1 {
        font-size: 25px;
        opacity: 90%;
      }

      img {
        width: 80px;
      }
    }
  }
}

.bodyClientAndBooking {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 2em;
  padding-bottom: 2rem;
}

.client {
  height: 20rem;
  padding: 1rem;
  color: rgb(0, 0, 0);
  margin-top: 2rem;

  h4 {
    font-size: 20px;
  }

  .iconTitle img {
    width: 47px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 0.4rem;

    input {
      width: 230px;
      height: 43px;
      border: 1px solid rgb(23, 161, 150);
      box-shadow: 2px 2px 2px rgb(0, 141, 129);
      border-radius: 3px;
      padding-left: 2.6rem;
      outline: none;
      font-size: 18px;
    }

    input::placeholder {
      font-size: 15px;
    }

    input:hover {
      border: 2px solid rgb(4, 128, 117);
      box-shadow: 1px 1px 1px rgb(182, 182, 182);
    }

    .nameAndLast,
    .phoneAndMail {
      display: flex;
      gap: 2rem;
    }

    .name,
    .lastName,
    .mail,
    .phone {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: start;
      align-items: start;
      position: relative;
    }

    .name input,
    .lastName input,
    .mail input,
    .phone input {
      @include backgroundsInputs;
    }

    .name input {
      @include backgroundsInputsImage("../img/usuario.png");
    }

    .lastName input {
      @include backgroundsInputsImage("../img/lastNameForm.png");
    }

    .mail input {
      @include backgroundsInputsImage("../img/mailForm.png");
    }

    .phone input {
      @include backgroundsInputsImage("../img/phoneForm.png");
    }

    .containButtons {
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center;

      button {
        width: 200px;
        height: 34px;
        border-radius: 3px;
        border: none;
        background: linear-gradient(#215c75, #0498a0);
        color: white;
        font-weight: bold;
      }

      button:hover {
        background: linear-gradient(#0f3a4d, #0f848a);
      }
    }
  }
}
.bookingData {
  color: white;
  padding: 0.5rem;
  height: 20rem;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;

  .title {
    width: 101%;
    background: linear-gradient(#257394, #0498a0);
    box-shadow: 2px 2px 2px gray;
    color: white;
    padding: 0.7rem;
    font-weight: bold;
    border-radius: 3px;
  }

  .bookingRooms {
    width: 105%;
    height: 210px;
    border-radius: 0px;
    display: flex;
    gap: 1.8rem;
    align-items: center;
    border: 1px solid rgb(190, 190, 190);
    justify-content: center;
    color: black;
    box-shadow: 2px 2px 2px gray;

    li {
      list-style: none;
      display: flex;

      span {
        font-weight: bold;
      }

      img {
        width: 300px;
        height: 170px;
      }

      .header {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 1rem;
        font-size: 17px;
      }
      .data {
        display: flex;
        flex-direction: column;
        margin-top: -1rem;

        span {
          margin-top: 1rem;
        }
        .details ul {
          display: flex;
          flex-direction: column;
          gap: 0.7rem;
          padding-top: 0.5rem;

          .total {
            font-weight: bold;
          }
        }
      }
    }
  }

  .containTotalBooking {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 30rem;
    padding-top: 0.5rem;
  }

  .controls {
    width: 102.5%;
    padding: 0.5rem;
    display: flex;
    box-shadow: 2px 2px 2px gray;
    justify-content: center;
    gap: 1.5rem;
    background: linear-gradient(#1a779e, #0498a0);
    border-radius: 3px;

    img {
      width: 20px;
      visibility: hidden;
    }
    img:hover {
      transform: scale();
      cursor: pointer;
    }
  }
}

.inputAlert {
  border: 2px solid rgb(235, 62, 62);
  box-shadow: 1px 1px 1px rgb(202, 117, 117);
}
.inputAlert::placeholder {
  color: red;
}

.inputAlert:hover {
  border: 2px solid rgb(235, 35, 35);
  box-shadow: 1px 1px 1px rgb(235, 48, 48);
}

.alertErrorInput {
  position: absolute;
  top: 4.7rem;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: start;
  color: red;
  font-size: 14px;
  gap: 0.4rem;

  img {
    width: 26px;
  }
}

.alertErrorInputShow {
  display: flex;
}

.modalBooking {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 17rem;
    width: 30rem;
    border-radius: 3px;
    gap: 0.2rem;
    background-color: white;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 20px;
      gap: 0.5rem;
      padding-top: 1rem;

      img {
        width: 60px;
        height: 60px;
      }
    }
    .loader {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    .clientDevice .hotel {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }
    span {
      color: rgb(0, 0, 0);
      font-weight: bold;
      font-size: 15px;
    }
    img {
      width: 80px;
      height: 80px;
    }

    .containBar {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.4rem;
      padding-top: 2rem;

      .bar {
        width: 12rem;
        border-radius: 20px;
        border: 1px solid rgb(158, 158, 158);
        height: 0.5rem;
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: start;
        position: relative;
      }

      .contentBar {
        border-radius: 20px;
        width: 40%;
        height: 100%;
        background: linear-gradient(#1eb9b9, #0498a0);
        opacity: 90%;
        animation-name: bar;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
      }

      @keyframes bar {
        from {
          margin-left: 0;
        }
        to {
          margin-left: 13rem;
        }
      }
    }
  }

  .alertBooking {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    z-index: 3;
    padding-top: 1rem;
    background-color: rgb(255, 255, 255);
    width: 380px;
    height: auto;
    border-radius: 5px;
    font-weight: bold;
    padding: 1rem;
    color: rgb(0, 0, 0);

    .title {
      font-size: 21px;
      margin-top: -0.4rem;
    }

    p {
      padding: 0.4rem;
      font-size: 19px;
    }
  }
  img {
    width: 65px;
  }

  .buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    button {
      width: 100px;
      height: 34px;
      background-color: #c00a0a;
      color: white;
      border: none;
      font-weight: bold;
      border-radius: 3px;
      font-size: 15px;
      box-shadow: 2px 2px 2px gray;
    }
    button:hover {
      background-color: #8f1212;
      cursor: pointer;
    }
  }
}

.containButtonsForm {
  display: flex;
  gap: 2rem;
  margin-top: -1rem;
  justify-content: center;
  align-items: center;

  button {
    width: 200px;
    height: 34px;
    background-color: #349db8;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: 2px 2px 2px gray;
  }
  button:hover {
    background-color: #2f8ca3;
    cursor: pointer;
  }
}

#alertClient {
  display: none;
  margin: auto;
  justify-content: start;
  align-items: center;
  width: auto;
  gap: 0.7rem;
  padding: 0.5rem;
  border-radius: 3px;
  color: white;
  box-shadow: 2px 2px 2px gray;
  font-size: 17px;
  background: linear-gradient(#d31010, #860606);

  span {
    font-weight: bold;
    width: 0px;
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: auto;
  }
  img {
    width: 30px;
  }
}
