* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background: linear-gradient(#242c49, #36457e);
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  height: 70px;
  font-family: Arial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

header ul {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Arial;
  margin-right: 18rem;
  margin-top: 0.5rem;
}

header li {
  display: inline-block;
  padding: 14px;
  text-align: center;
  transform: scale(1);
  transition: 0.5s;
}

header li:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.822);
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

header li img {
  width: 16px;
}

.redes {
  margin-top: 0.7rem;
  margin-right: 4rem;
}

.redes li:hover {
  transform: scale(1);
  border-bottom: none;
}

.redes img {
  opacity: 100%;
  transition: 0.5s;
}

.redes img:hover {
  opacity: 60%;
  transition: 0.5s;
}

#logo {
  display: flex;
  margin-left: 6%;
  margin-top: -0.3rem;
}

#logo h1 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
  margin-left: 15px;
  color: rgb(255, 255, 255);
}

.options {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Arial;
  margin-right: 18rem;
  margin-top: 1.4rem;
}

.networks {
  margin-top: 1.4rem;
  margin-right: 4rem;
}
.networks li:hover {
  transform: scale(1);
  border-bottom: none;
}
.networks img {
  opacity: 100%;
  transition: 0.5s;
}
.networks img:hover {
  opacity: 60%;
  transition: 0.5s;
}

#contain {
  margin: auto;
  margin-top: 5rem;
  gap: 1rem;
  width: 80rem;
  height: 400px;
  background-color: white;
  border-radius: 2px;
  text-align: center;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contain .title {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 72.2rem;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#contain .title h1 {
  font-size: 25px;
  opacity: 90%;
}
#contain .title img {
  width: 80px;
}

.containClientAndBooking {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: -0.9rem;
}

.client {
  background: linear-gradient(#349db8, #36457e);
  height: 24rem;
  padding: 1rem;
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 3px;
}

h4 {
  font-size: 20px;
}

.iconTitle img {
  width: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 0.4rem;
}
form input {
  width: 200px;
  height: 38px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 3px;
  padding-left: 2.6rem;
  outline: none;
  font-size: 16px;
}
form input::placeholder {
  font-size: 15px;
}
form input:hover {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgb(182, 182, 182);
}
form .nameAndLast,
form .phoneAndMail {
  display: flex;
  gap: 2rem;
}
form .name,
form .lastName,
form .mail,
form .phone {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: start;
  align-items: start;
}
form .name input,
form .lastName input,
form .mail input,
form .phone input {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left center;
  background-position-x: 0.6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
form .name input {
  background-image: url("../img/imgNombre.png");
}
form .lastName input {
  background-image: url("../img/imgApellido.png");
}
form .mail input {
  background-image: url("../img/imgCorreo.png");
}
form .phone input {
  background-image: url("../img/imgTelefono.png");
}
form .containButtons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
form .containButtons button {
  width: 130px;
  height: 30px;
  border-radius: 3px;
  border: none;
  background: rgba(241, 241, 241, 0.3);
  color: white;
  font-weight: bold;
}
form .containButtons button:hover {
  background: rgba(241, 241, 241, 0.2);
}

.bookingData {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  color: white;
  padding: 1rem;
  background: linear-gradient(#349db8, #36457e);
  height: 24rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom-right-radius: 3px;
}
.bookingData h1 {
  font-size: 16px;
}
.bookingData .dateBooking {
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}
.bookingData .dateBooking .start,
.bookingData .dateBooking .end {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-weight: bold;
}
.bookingData .dateBooking .date {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.bookingData .dateBooking .start img {
  width: 30px;
}
.bookingData .dateBooking .end img {
  width: 30px;
}
.bookingData .nights {
  margin-top: 0.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.bookingData .nights img {
  width: 20px;
}
.bookingData .bookingRooms {
  margin-top: 1rem;
  width: 100%;
  height: 200px;
  display: flex;
  gap: 1.8rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.bookingData .bookingRooms li {
  list-style: none;
  width: 210px;
  height: 100px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgb(34, 34, 34);
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 13px;
}
.bookingData .bookingRooms li img {
  width: 70px;
  height: 40px;
  box-shadow: 2px 2px 2px grey;
}
.bookingData .bookingRooms li .headerLi {
  display: flex;
  gap: 0.5rem;
  padding-top: 0.2rem;
  justify-content: space-between;
  align-items: center;
}
.bookingData .bookingRooms li .headerLi .icon {
  padding-left: 0.2rem;
}
.bookingData .bookingRooms li .headerLi .iconTwo {
  padding-right: 0.5rem;
  margin-top: -1rem;
}
.bookingData .bookingRooms li .headerLi .iconTwo img {
  width: 20px;
  height: 20px;
  box-shadow: none;
}
.bookingData .bookingRooms li .bodyLi {
  display: flex;
  flex-direction: row;
  margin-left: 0.4rem;
  padding-top: 0.3rem;
  gap: 1.6rem;
}
.bookingData .bookingRooms li .footerLi {
  display: flex;
  margin-top: 0.6rem;
  gap: 1.3rem;
  margin-left: 0.4rem;
}
.bookingData .containTotalBooking {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30rem;
  padding-top: 0.5rem;
}

#alertClient {
  background-color: white;
  width: 290px;
  height: 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
  margin-left: -50rem;
  padding-top: 0.2rem;
  border-radius: 3px;
  font-size: 15px;
  color: rgb(72, 64, 194);
  font-weight: bold;
  gap: 0.5rem;
}
#alertClient .bodyAlert {
  display: flex;
  flex-direction: row;
}
#alertClient .icon {
  margin-left: -2rem;
  margin-top: 0.5rem;
}
#alertClient img {
  width: 24px;
}
#alertClient .msj {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 0.9rem;
}
#alertClient .advertencia {
  font-weight: bold;
  color: #222e5f;
}
#alertClient .progresBar {
  width: 100%;
  height: 3px;
  margin-top: 0.1rem;
  background-color: gray;
}
#alertClient .progres {
  width: 100%;
  background-color: #3b3edf;
  height: 100%;
}

.progresBarActive {
  animation-name: progresBar;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes progresBar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
.alertClientShow {
  animation-name: alertClientShow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.alertClientHide {
  animation-name: alertClientHide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes alertClientShow {
  from {
    margin-left: -50rem;
  }
  to {
    margin-left: 7.5rem;
  }
}
@keyframes alertClientHide {
  from {
    margin-left: 7.5rem;
  }
  to {
    margin-left: -50rem;
  }
}
.inputAlert {
  border: 2px solid rgb(235, 62, 62);
  box-shadow: 1px 1px 1px rgb(202, 117, 117);
}

.inputAlert::placeholder {
  color: red;
}

.inputAlert:hover {
  border: 2px solid rgb(235, 35, 35);
  box-shadow: 1px 1px 1px rgb(235, 48, 48);
}

.modalBooking {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: none;
}
.modalBooking .alertBookingExists {
  padding-top: 1rem;
  margin-top: 15%;
  margin-left: 34%;
  background-color: white;
  width: 380px;
  height: 200px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;
  padding: 1rem;
}
.modalBooking .alertBookingExists .msj {
  padding: 0.4rem;
}
.modalBooking .alertBookingExists .containButtons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.modalBooking .alertBookingExists .containButtons button {
  width: 100px;
  height: 30px;
  background-color: #349db8;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  font-size: 15px;
  box-shadow: 2px 2px 2px gray;
}
.modalBooking .alertBookingExists .containButtons button:hover {
  background-color: #2f8ca3;
}
.modalBooking img {
  width: 55px;
}

/*# sourceMappingURL=styleReservar.css.map */
