* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background: linear-gradient(#126b91, #0498a0);
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  height: 70px;
  font-family: Arial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

header ul {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Arial;
  margin-right: 18rem;
  margin-top: 0.5rem;
}

header li {
  display: inline-block;
  padding: 14px;
  text-align: center;
  transform: scale(1);
  transition: 0.5s;
}

header li:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.822);
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

header li img {
  width: 16px;
}

.redes {
  margin-top: 0.7rem;
  margin-right: 4rem;
}

.redes li:hover {
  transform: scale(1);
  border-bottom: none;
}

.redes img {
  opacity: 100%;
  transition: 0.5s;
}

.redes img:hover {
  opacity: 60%;
  transition: 0.5s;
}

#logo {
  display: flex;
  margin-left: 6%;
  margin-top: -0.3rem;
}

#logo h1 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
  margin-left: 15px;
  color: rgb(255, 255, 255);
}

.options {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Arial;
  margin-right: 18rem;
  margin-top: 1.4rem;
}

.networks {
  margin-top: 1.4rem;
  margin-right: 4rem;
}
.networks li:hover {
  transform: scale(1);
  border-bottom: none;
}
.networks img {
  opacity: 100%;
  transition: 0.5s;
}
.networks img:hover {
  opacity: 60%;
  transition: 0.5s;
}

#contain {
  margin: auto;
  margin-top: 1rem;
  gap: 1rem;
  width: 80rem;
  height: 100%;
  background-color: white;
  border-radius: 2px;
  text-align: center;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contain .loading {
  margin-top: -4rem;
  display: none;
}
#contain .loading .gif {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#contain .loading .gif img {
  width: 40px;
}

.loadingSpanActive {
  animation: loadingSpanIntermitent 1s infinite;
}

@keyframes loadingSpanIntermitent {
  from {
    opacity: 100%;
  }
  to {
    opacity: 50%;
  }
}
.barStageAdvance {
  display: flex;
  margin: auto;
  margin-top: 0rem;
  justify-content: center;
  align-items: center;
}
.barStageAdvance .itemStage {
  padding: 1rem;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cecece;
}
.barStageAdvance .itemStage img {
  width: 35px;
}
.barStageAdvance .line {
  width: 30rem;
  height: 0.6rem;
  border-radius: 2px;
  background-color: #cecece;
}

.progressStage {
  width: 0%;
  height: 100%;
  background: linear-gradient(#126b91, #0498a0);
  animation-name: progressStage;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes progressStage {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.dateBooking {
  width: 104%;
  color: white;
  padding: 0.5rem;
  background: linear-gradient(#126b91, #0498a0);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
  font-family: Arial, Helvetica, sans-serif;
}
.dateBooking .star, .dateBooking .end {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dateBooking .containNights {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.dateBooking .containNights img {
  width: 25px;
}

.containClientAndBooking {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: -2rem;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.containClientAndBooking .header {
  width: 100%;
}
.containClientAndBooking .header .title {
  width: 100%;
  display: flex;
  background-color: white;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.containClientAndBooking .header .title h1 {
  font-size: 25px;
  opacity: 90%;
}
.containClientAndBooking .header .title img {
  width: 80px;
}

.bodyClientAndBooking {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 2em;
  padding-bottom: 2rem;
}

.client {
  height: 20rem;
  padding: 1rem;
  color: rgb(0, 0, 0);
  margin-top: 3rem;
}
.client h4 {
  font-size: 20px;
}
.client .iconTitle img {
  width: 40px;
}
.client form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 0.4rem;
}
.client form input {
  width: 230px;
  height: 43px;
  border: 1px solid rgb(23, 161, 150);
  box-shadow: 2px 2px 2px rgb(0, 141, 129);
  border-radius: 3px;
  padding-left: 2.6rem;
  outline: none;
  font-size: 18px;
}
.client form input::placeholder {
  font-size: 15px;
}
.client form input:hover {
  border: 2px solid rgb(4, 128, 117);
  box-shadow: 1px 1px 1px rgb(182, 182, 182);
}
.client form .nameAndLast,
.client form .phoneAndMail {
  display: flex;
  gap: 2rem;
}
.client form .name,
.client form .lastName,
.client form .mail,
.client form .phone {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: start;
  align-items: start;
}
.client form .name input,
.client form .lastName input,
.client form .mail input,
.client form .phone input {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left center;
  background-position-x: 0.6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.client form .name input {
  background-image: url("../img/usuario.png");
}
.client form .lastName input {
  background-image: url("../img/lastNameForm.png");
}
.client form .mail input {
  background-image: url("../img/mailForm.png");
}
.client form .phone input {
  background-image: url("../img/phoneForm.png");
}
.client form .containButtons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.client form .containButtons button {
  width: 200px;
  height: 34px;
  border-radius: 3px;
  border: none;
  background: linear-gradient(#215c75, #0498a0);
  color: white;
  font-weight: bold;
}
.client form .containButtons button:hover {
  background: linear-gradient(#0f3a4d, #0f848a);
}

.bookingData {
  color: white;
  padding: 1rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bookingData .title {
  width: 101%;
  background: linear-gradient(#126b91, #0498a0);
  color: white;
  padding: 0.7rem;
  font-weight: bold;
  border-radius: 3px;
}
.bookingData .bookingRooms {
  width: 105%;
  height: 210px;
  display: flex;
  gap: 1.8rem;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 2px 2px 2px gray;
}
.bookingData .bookingRooms li {
  list-style: none;
  display: flex;
}
.bookingData .bookingRooms li span {
  font-weight: bold;
}
.bookingData .bookingRooms li img {
  width: 300px;
  height: 170px;
}
.bookingData .bookingRooms li .header {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  font-size: 17px;
}
.bookingData .bookingRooms li .data {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
}
.bookingData .bookingRooms li .data span {
  margin-top: 1rem;
}
.bookingData .bookingRooms li .data .details ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding-top: 0.5rem;
}
.bookingData .bookingRooms li .data .details ul .total {
  font-weight: bold;
}
.bookingData .containTotalBooking {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 30rem;
  padding-top: 0.5rem;
}
.bookingData .controls {
  width: 102%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  background: linear-gradient(#126b91, #0498a0);
  border-radius: 3px;
}
.bookingData .controls img {
  width: 20px;
  visibility: hidden;
}
.bookingData .controls img:hover {
  transform: scale();
  cursor: pointer;
}

#alertClient {
  width: 0px;
  height: 54px;
  background: linear-gradient(#2e888b, #0ea7af);
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  margin-top: 0rem;
  margin: auto;
}
#alertClient .contain {
  display: none;
}
#alertClient .header {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-size: 14px;
  padding-left: 0.3rem;
  padding-top: 0.2rem;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}
#alertClient p {
  color: #ffffff;
  font-weight: bold;
  margin-top: -0.6rem;
  text-align: center;
}
#alertClient span {
  margin-top: -1rem;
}
#alertClient img {
  width: 24px;
  height: 24px;
  margin-top: 0.5rem;
}
#alertClient .progressBar {
  width: 100%;
  height: 4px;
  margin-top: 6px;
  background-color: #555555;
}
#alertClient .bar {
  background-color: #ececec;
  width: 100%;
  height: 100%;
}

.barActive {
  animation-name: barActive;
  animation-duration: 10s;
}

.alertClientActive {
  animation-name: alertClientActive;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes alertClientActive {
  from {
    width: 0px;
  }
  to {
    width: 300px;
  }
}
.alertClientDesactive {
  animation-name: alertClientDesactive;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes alertClientDesactive {
  from {
    width: 300px;
  }
  to {
    width: 0px;
  }
}
@keyframes barActive {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
.inputAlert {
  border: 2px solid rgb(235, 62, 62);
  box-shadow: 1px 1px 1px rgb(202, 117, 117);
}

.inputAlert::placeholder {
  color: red;
}

.inputAlert:hover {
  border: 2px solid rgb(235, 35, 35);
  box-shadow: 1px 1px 1px rgb(235, 48, 48);
}

.modalBooking {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: none;
}
.modalBooking .alertBookingExists {
  padding-top: 1rem;
  margin-top: 15%;
  margin-left: 34%;
  background-color: white;
  width: 380px;
  height: 200px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;
  padding: 1rem;
}
.modalBooking .alertBookingExists .msj {
  padding: 0.4rem;
}
.modalBooking img {
  width: 55px;
}

.containButtons {
  display: flex;
  gap: 2rem;
  margin-top: -3rem;
  justify-content: center;
  align-items: center;
}
.containButtons button {
  width: 200px;
  height: 34px;
  background-color: #349db8;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  font-size: 15px;
  box-shadow: 2px 2px 2px gray;
}
.containButtons button:hover {
  background-color: #2f8ca3;
  cursor: pointer;
}

/*# sourceMappingURL=styleReservar.css.map */
