* {

    margin: 0px;
    padding: 0px;

}

body {

    font-family: Arial;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}



.iconoMenu {

    width: 36px;
    margin-top: 6px;
    margin-left: -110px;
}

.lblTituloMenu {

    margin-top: 20px;
    margin-left: 10px;
    position: absolute;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}




#navAdmin {

    margin-left: 0px;
    margin-top: -5px;
    position: fixed;
    background: linear-gradient(#314c86, #3dacb4);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 180px;
    height: 800px;
    font-family: Arial;
}


#navAdmin ul {

    padding-top: 0px;

}

#navAdmin li {


    margin-top: 11px;
    padding-top: 17px;
    height: 30px;
    cursor: pointer;



}

#navAdmin li a {


    font-size: 17px;
    margin-left: 8px;
    color: white;
    text-decoration: none;


}

#navAdmin li:hover {


    background-color: rgb(3, 76, 105);

}

#navAdmin li .subMenu li:hover {

    background-color: rgb(65, 65, 65);
}


#navAdmin ul img {

    width: 25px;
    display: flex;
    position: absolute;
    margin-top: -5px;
    padding-left: 30px;

}


#liInicio a {


    padding-left: 10px;
}


#liClientes a {


    padding-left: 16px;

}

#liClientes .btnFlecha {

    width: 14px;
    margin-left: 69%;
    margin-top: -18px;
    display: none;

}

#liClientes:hover>.btnFlecha {

    display: block;
}


.subMenu {

    background-color: rgb(46, 46, 46);
    margin-top: 10px;
    padding-top: 0px;
    display: none;
}


#navAdmin #liClientes .subMenu li img {

    width: 22px;
    margin-top: -2px;
    padding-left: 45px;
}

#navAdmin #liClientes .subMenu li {

    margin-top: 0px;
    border-bottom: 1px solid rgba(114, 114, 114, 0.5);


}

#navAdmin #liClientes .subMenu li a {

    font-size: 14px;
    margin-left: 1px;


}




#liReserva a {


    padding-left: 26px;
}


#liReserva .btnFlecha {

    width: 14px;
    margin-left: 69%;
    margin-top: -18px;
    display: none;

}

#liReserva:hover>.btnFlecha {

    display: block;


}

#navAdmin #liReserva .subMenu li img {

    width: 25px;
    margin-top: -5px;
    padding-left: 45px;
}

#navAdmin #liReserva .subMenu li {

    margin-top: 0px;
    border-bottom: 1px solid rgba(114, 114, 114, 0.5);

}

#navAdmin #liReserva .subMenu li a {

    font-size: 14px;
    margin-left: 0px;


}


#navAdmin #liReserva .subMenu .liHabitacion img {

    padding-left: 47px;
}

#navAdmin #liReserva .subMenu .liHabitacion a,
#navAdmin #liReserva .subMenu .liCalendario a {

    margin-left: 30px;
}



#liHabitaciones #textHabitaciones {

    padding-left: 33px;
}


#liHabitaciones .btnFlecha {

    width: 14px;
    margin-left: 70%;
    margin-top: -18px;
    display: none;

}

#liHabitaciones:hover>.btnFlecha {

    display: block;


}


#liHabitaciones:hover>#iconoHabitaciones {

    margin-left: -10px;

}


#liHabitaciones:hover #textHabitaciones {

    padding-left: 10px;
}


#navAdmin #liHabitaciones .subMenu li img {

    width: 20px;
    margin-top: -2px;
    padding-left: 45px;
}

#navAdmin #liHabitaciones .subMenu li {

    margin-top: 0px;
    border-bottom: 1px solid rgba(114, 114, 114, 0.5);
}

#navAdmin #liHabitaciones .subMenu li a {

    font-size: 14px;
    margin-left: 0px;

}


#navAdmin #liHabitaciones .subMenu .liGraficaPie a {

    margin-left: 20px;
}



#navAdmin #liHabitaciones .subMenu .liHabitacion img {

    padding-left: 47px;
}

#navAdmin #liHabitaciones .subMenu .liHabitacion a {

    margin-left: 17px;
}

#liGanancias a {


    padding-left: 27px;
}

#userAdmin {

    width: 180px;
    height: 55px;
    position: absolute;
    top: 74%;
    left: 0px;
    background-color: #3dacb4;

}

#userAdmin img {

    width: 33px;
    padding-top: 10px;
    padding-right: 85px;

}

#userAdmin label {

    padding-top: 20px;
    margin-left: -66px;
    position: absolute;
}


#userAdmin .subMenuAdmin {

    height: 91px;
    background-color: rgb(46, 46, 46);
    color: white;
    margin-top: 20px;
    display: none;
    padding-top: 0px;



}

#userAdmin .subMenuAdmin li {

    color: white;
    list-style: none;
    padding-top: 10px;
    margin-top: 0px;
    border-bottom: 1px solid rgba(114, 114, 114, 0.5);
}


#userAdmin .subMenuAdmin li img {

    width: 20px;
    margin-top: -12px;
    padding-left: 50px;
}

#userAdmin .subMenuAdmin li a {

    font-size: 14px;
    margin-left: 18px;
    color: white;
    text-decoration: none;

}

#userAdmin .subMenuAdmin li .logout {

    margin-left: 10px;
}

#userAdmin .subMenuAdmin li:hover {

    background-color: rgb(65, 65, 65);
}

#userAdmin .btnFlecha {

    width: 14px;
    margin-left: 83%;
    margin-top: -35px;
    display: flex;
    display: none;

}

#userAdmin:hover>.btnFlecha {

    display: block;
}



#menuReservas {

    margin-left: 0;
    margin-top: 0px;
    width: 100%;
    height: 179px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);


}

#menuReservas img {

    width: 250px;
    height: 100px;
    margin-left: 54%;
    margin-top: -70px;

}

#menuReservas h1 {

    color: #6981d8;
    margin-top: 17px;
    font-size: 27px;
    margin-left: 45%;
}


#menuReservas ul {

    padding-top: 10px;
    margin-left: 37%;

}

#menuReservas ul li {

    list-style: none;
    display: inline-block;
    padding: 20px;
    margin-top: -10px;
    margin-left: 40px;
    padding-bottom: 1px;
    cursor: pointer;


}

#menuReservas ul li:hover {

    border-bottom: 3px solid rgb(96, 185, 219);

}

#menuReservas ul li a {

    opacity: 50%;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: block;
    margin-top: -10px;

}

#menuReservas ul li img {

    width: 30px;
    height: 30px;
    display: flex;
    margin-top: -27px;
    margin-left: 60px;
}

#menuReservas ul li .imgReservas {

    margin:auto;
   
}


#menuReservas ul li .imgAgregarReserva {

    margin: auto;
    margin-top: 0px;


}


#menuReservas ul li .imgHabitacionReserva {

    margin:auto;


}


#divTableReservas {

    margin-top: 10px;
    margin-left: 18%;
    width: 1050px;
    height: 410px;
    background-color: white;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    text-align: center;




}

#divTableReservas #containerTable {

    overflow-y: scroll;
    overflow-x: hidden;
    height: 340px;
    width: 100%;
    margin-top: 5px;
}


#sinDatosTblReservas {

    display: none;
    margin: auto;
    margin-top: 7%;
    text-align: center;

}

.reservasVacio {

    margin: auto;
    margin-top: 7%;
    text-align: center;

}

#sinDatosTblReservas h3,
.reservasVacio h3 {

    opacity: 40%;
    margin-top: 6px;
}

.reservasVacio img {

    width: 90px;
    opacity: 60%;
}


#sinDatosTblReservas img {

    width: 70px;
    opacity: 60%;
}


#divTableReservas #buscador {

    margin-left: 30px;
    float: left;
    margin-top: 20px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid rgb(105, 105, 105);
    outline: none;
    padding-right: 30px;
    padding-left: 10px;
    width: 150px;


}

#divTableReservas .lupa {

    width: 18px;
    margin-left: -82%;
    margin-top: 24px;

}

#divTableReservas table {

    width: 100%;
    border-radius: 3px;
    padding-bottom: 10px;
    margin-top: 10px;
}

#divTableReservas table th {

    padding: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgb(247, 247, 247);
    background: linear-gradient(#314c86, #3dacb4);
    font-weight: bold;

}

#divTableReservas table .tdIdReserva {
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 20px;
    width: auto;
}

#divTableReservas table .tdIdReserva img {

    width: 23px;
    margin-left: 25px;
    margin-top: 0px;
    display: flex;

}

#divTableReservas table .tdIdReserva a {

    margin-left: 57px;
    margin-top: -18px;
    display: flex;

}

#divTableReservas table .tdCantidadHabitaciones {

    width: 6px;
}

#divTableReservas table td {

    border-left: 1px solid gray;

}



#divTableReservas table td button {

    width: 55px;
    height: 35px;
    border: none;
    margin-left: 10px;
}

#divTableReservas table td button img {

    width: 22px;

}


.btnEliminar {

    background-color: rgb(230, 42, 42);
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgb(153, 153, 153);
    border: none;

}


.btnEliminar:hover {


    background-color: rgb(221, 24, 24);
}

.btnEditar {

    background-color: rgb(94, 177, 255);
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgb(153, 153, 153);
    border: none;

}

.btnEditar:hover {

    background-color: rgb(79, 159, 235);
}


.btnInfo {

    background-color: rgb(9, 72, 131);
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgb(153, 153, 153);
    border: none;

}

.btnInfo:hover {


    background-color: rgb(8, 50, 88);
}



#modal {

    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 0px;
    display: none;
    background-color: rgba(83, 83, 83, 0.5);
    position: absolute;

}


.divConfirmacionDelete {

    margin-top: -30%;
    width: 330px;
    height: 150px;
    border-radius: 3px;
    text-align: center;
    margin-left: 41%;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: absolute;



}

.divConfirmacionDelete h2 {

    font-size: 17px;
}

.divConfirmacionDelete button {

    width: 60px;
    height: 30px;
    color: white;
    box-shadow: 2px 2px 2px solid grey;
    border: 1px solid red;
    border-radius: 3px;
    margin-top: auto;
}


.divConfirmacionDelete img {

    width: 30px;
    padding-bottom: 10px;
}

.divConfirmacionDelete .btnSi {


    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px solid grey;
    background-color: red;
    margin-left: -5px;


}

.divConfirmacionDelete .btnSi:hover {

    background-color: rgb(219, 3, 3);
}

.divConfirmacionDelete .btnNo {


    box-shadow: 2px 2px 2px solid grey;
    color: rgb(0, 0, 0);
    background-color: white;
    margin-left: 14px;


}


.divConfirmacionDelete .btnNo:hover {

    background-color: rgb(224, 224, 224);
}


#avisoReserva {


    color: rgb(255, 255, 255);
    width: 300px;
    height: 40px;
    margin-left: 60%;
    width: 300px;
    display: flex;
    margin-top: -3%;
    border-radius: 3px;
    text-align: center;
}


#avisoReserva label {

    font-size: 16px;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    display: block;
}


#avisoReserva img {

    width: 20px;
    position: absolute;
    margin-left: 3%;
    margin-top: 10px;
}


.avisoReservaActive {

    animation-name: avisoReservaActive;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes avisoReservaActive {

    from {

        transform: scale(0.0);
    }

    to {

        transform: scale(1.0);
    }

}


.avisoReservaDesactive {

    animation-name: avisoReservaDesactive;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes avisoReservaDesactive {

    from {

        transform: scale(1.0);
    }

    to {

        transform: scale(0.0);
    }

}


.divEditar {

    margin-top: -47%;
    width: 450px;
    height: auto;
    border-radius: 3px;
    text-align: center;
    margin-left: 37%;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: absolute;
    text-align: center;


}

.divEditar label {

    position: absolute;
    font-size: 16px;
    width: 80px;
    height: 13px;
    color: rgb(156, 156, 156);
    background-color: white;
}

.divEditar h1 {

    font-size: 20px;
    margin-top: 10px;
    color: #36b8cf;

}


.divEditar form .iconoFormEditar,
#formEditarHabitaciones .iconoFormEditar {

    width: 40px;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 50px;

}



.divEditar img {

    width: 17px;
    display: flex;
    position: absolute;

}


.divEditar .lblCliente {

    margin-left: 6px;
    margin-top: 23px;
}

.divEditar .lblLlegada {

    margin-left: 10px;
    margin-top: 23px;
    width: 120px;
}

.divEditar .lblSalida {

    margin-left: 6px;
    margin-top: 23px;
    width: 120px;
}

.divEditar .lblCantidadHabitaciones {

    margin-left: 6px;
    margin-top: 23px;
    width: 180px;
}

.divEditar form input[type="number"],
.divEditar form input[type="date"],
.divEditar form select {

    border: 2px solid rgb(224, 224, 224);
    width: 290px;
    border-radius: 3px;
    height: 30px;
    outline: none;
    margin-top: 34px;
    font-size: 15px;
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 1px;

}

.divEditar form select {

    width: 310px;
    height: 40px;
}

.divEditar form input[type="number"]:hover,
.divEditar form input[type="date"]:hover,
.divEditar form select:hover {

    border: 2px solid rgb(41, 122, 214);

}

.divEditar form input[type="submit"],
.divEditar form button {

    width: 130px;
    height: 32px;
    background-color: rgb(41, 122, 214);
    color: white;
    border: none;
    margin-top: 30px;



}


.divEditar form input[type="submit"] {

    margin-left: -170px;
}

.divEditar form input[type="submit"]:hover {

    background-color: #3e6c97;
}


.divEditar form button:hover {

    background-color: #3e6c97;
}


.divEditar form button {

    margin-top: 0px;
    display: flex;
    margin-left: 56%;
    margin-top: -32px;
    text-align: center;
    padding-top: 9px;
    padding-left: 35px;
}


#alertaEditar {

    color: rgb(255, 255, 255);
    width: 250px;
    height: 50px;
    margin: auto;
    width: 300px;
    margin-top: 6%;
    background-color: rgb(0, 89, 255);
    border-radius: 3px;
    text-align: center;
    transform: scale(0.0);

}

#alertaEditar img {

    width: 20px;
    display: flex;
    margin-left: 3%;
    margin-top: -7px;

}

#alertaEditar label {

    font-size: 12px;
    font-weight: bold;
    display: flex;
    color: white;
    margin-left: 30px;
    margin-top: -6px;
    width: 250px;
    background: none;

}

.alertaEditarActive {

    animation: alertaEditarActive;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

}


@keyframes alertaEditarActive {

    from {
        transform: scale(0.0);

    }

    to {
        transform: scale(1.0);
    }
}


.divEditar #menuOpcionEditar {

    width: auto;
    padding-right: 10px;
    margin-top: 0px;
    margin-left: 3px;
    float: left;

}


.divEditar #menuOpcionEditar li {

    display: inline-block;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 4px;
    margin-left: 10px;
    color: rgb(192, 192, 192);
    font-size: 15px;
    cursor: pointer;
}


.divEditar #menuOpcionEditar li a {
    margin-top: 14px;
    display: flex;
}

.divEditar #menuOpcionEditar img {

    width: 17px;
    opacity: 50%;
    display: flex;
    margin-left: 50px;
    margin-top: -34px;


}

.divEditar #menuOpcionEditar li .imgRemplazar {

    margin-left: 45px;
}

.divEditar #menuOpcionEditar li .imgAgregar {

    margin-left: 40px;

}

.divEditar #menuOpcionEditar li:hover {

    border-bottom: 2px solid rgb(0, 140, 255);

}

.divEditar #habitacionesReserva {

    overflow-y: scroll;
    overflow-x: hidden;
    height: 330px;
}

.divEditar #habitacionesReserva li {

    list-style: none;
    width: 270px;
    margin: auto;
    margin-top: 24px;
    height: 70px;
    border-radius: 3px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    color: black;

}


.divEditar #habitacionesReserva img {

    width: 60px;
    float: left;
    margin-top: 0px;
}



.divEditar #habitacionesReserva li h4 {

    font-size: 17px;
    color: rgb(163, 163, 163);
    margin-top: 10px;
    margin-left: 27px;
}

.divEditar #habitacionesReserva li label {

    float: left;
    margin-top: 26px;
    font-weight: bold;
}


#formEditarHabitaciones {

    height: 400px;
}

.divEditar #formEditarHabitaciones #habitacionesReserva li .btnLibrar,
#habitacionesReserva li .btnEliminar {


    box-shadow: 2px 2px 2px rgb(153, 153, 153);
    color: white;
    font-weight: bold;
    width: 60px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    height: 23px;
    margin-top: 5px;
    margin-left: 80px;
    display: block;
    padding: 0px;
    text-align: center;


}


#habitacionesReserva li .btnLibrar {

    background-color: rgb(18, 235, 29);

}

#habitacionesReserva li .btnLibrar:hover {

    background-color: rgb(17, 216, 27);
}


#habitacionesReserva li .btnEliminar {

    background-color: red;
    margin-left: 150px;
    margin-top: -23px;

}

#habitacionesReserva li .btnEliminar:hover {


    background-color: rgb(233, 7, 7);
}


.divEditar .sinHabitacionesReservadas {
    margin: auto;
    margin-top: 40px;
    text-align: center;
    opacity: 50%;
}


.divEditar #formEditarHabitaciones .sinHabitacionesReservadas img {

    width: 60px;
    float: none;
    position: relative;
    margin: auto;
    margin-top: 5px;
}


.divEditar .sinHabitacionesReservadas h1 {

    color: black;
    font-size: 18px;

}


.panelHabitacionLibrar {

    width: 400px;
    height: auto;
    padding-bottom: 20px;
    margin-top: -9%;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    margin-left: 8%;
    z-index: 1;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}


.panelHabitacionLibrar #formLibrar {

    text-align: center;
}

.panelHabitacionLibrar #formLibrar label {

    position: relative;
    margin: auto;
    margin-top: 25px;
}


.panelHabitacionLibrar #formLibrar h1 {

    color: rgb(47, 255, 75);
    margin-top: 10px;
}


.panelHabitacionLibrar #formLibrar input[type="date"] {

    width: 130px;
    border: 1px solid gainsboro;
    text-align: center;
    height: 26px;
    margin-top: 15px;
    padding: 0px;

}

.panelHabitacionLibrar #formLibrar #btnLiberar {


    background-color: rgb(27, 209, 51);
    margin: auto;
    width: 120px;
    border: none;
    height: 28px;
    color: white;
    margin-top: 25px;

}

.panelHabitacionLibrar #formLibrar #btnLiberar:hover {

    background-color: rgb(34, 185, 34);
}

.panelHabitacionLibrar #formLibrar img {

    width: 40px;
    position: relative;
    margin: auto;
    margin-top: 22px;
}

.panelHabitacionLibrar #cerrar,
#cerrarHabitaciones {


    position: relative;
    float: right;
    margin-right: 3px;
    margin-top: 0px;
    width: 25px;
    display: block;
    opacity: 80%;

}


#habitaciones {

    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 1010px;
    height: 440px;
    margin-left: 19%;
    margin-top: -1%;
    border-radius: 5px;
}

#habitaciones ul li {

    list-style: none;
    display: inline-block;
    padding: 10px;
    padding-bottom: 5px;
    color: rgb(177, 177, 177);
    text-align: center;

}

#habitaciones ul li img {

    width: 60px;
    border-radius: 5px;


}

#habitaciones ul li:hover {

    border-bottom: 3px solid skyblue;
    background-color: rgb(247, 247, 247);

}

#habitaciones .cargarHabitaciones {

    margin: auto;
    margin-top: 20px;
    width: 99%;
    height: 73%;
    overflow-y: scroll;
    padding-bottom: 10px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}


#habitaciones .cargarHabitaciones #estandar,
#habitaciones .cargarHabitaciones #deluxe,
#habitaciones .cargarHabitaciones #suite {

    margin: auto;
    margin-top: 20px;
    width: 99%;
    height: auto;
    padding-bottom: 10px;


}

#habitaciones .cargarHabitaciones #estandar h1,
#habitaciones .cargarHabitaciones #deluxe h1,
#habitaciones .cargarHabitaciones #suite h1 {

    font-size: 16px;
    margin: auto;
    margin-top: 2px;
    text-align: center;
}

#habitaciones .cargarHabitaciones #estandar label,
#habitaciones .cargarHabitaciones #deluxe label,
#habitaciones .cargarHabitaciones #suite label {

    font-size: 15px;
    opacity: 90%;
    padding-left: 30px;

}


#habitaciones .cargarHabitaciones #estandar #numHabitacion,
#habitaciones .cargarHabitaciones #deluxe #numHabitacion,
#habitaciones .cargarHabitaciones #suite #numHabitacion {

   
    width: 62px;
    border-radius: 3px;
    border: 1px solid rgb(182, 182, 182);
    height: 25px;
    margin-left: 5px;
    padding-left: 27px;
    outline: none;
}


#habitaciones .cargarHabitaciones #estandar #iconSearch,
#habitaciones .cargarHabitaciones #deluxe #iconSearch,
#habitaciones .cargarHabitaciones #suite #iconSearch{

    width: 15px;
    margin-left:19.8%;
    margin-top: -22px;
    display: flex;
}

#habitaciones .cargarHabitaciones #estandar input[type="submit"],
#habitaciones .cargarHabitaciones #deluxe input[type="submit"],
#habitaciones .cargarHabitaciones #suite input[type="submit"] {

    background-color: #1e95aa;
    color: white;
    border-radius: 3px;
    border: none;
    width: 70px;
    height: 26px;
    margin-left: 11px;
    margin-top: -7px;
}

#habitaciones .cargarHabitaciones #estandar input[type="submit"]:hover,
#habitaciones .cargarHabitaciones #deluxe input[type="submit"]:hover,
#habitaciones .cargarHabitaciones #suite input[type="submit"]:hover {

    background-color: #1a8497;
}

#habitacionesEstandar,
#habitacionesDeluxe,
#habitacionesSuite {

    width: 100%;
    margin-top: 30px;

}

#habitacionesEstandar img,
#habitacionesDeluxe img,
#habitacionesSuite img {

    width: 30px;
    float: left;
    margin-top: -8px;
}

#habitacionesEstandar .iconoCalendar,
#habitacionesDeluxe .iconoCalendar,
#habitacionesSuite .iconoCalendar {

    width: 21px;
    float: right;
    margin-right: 2px;

}

#habitacionesEstandar li,
#habitacionesDeluxe li,
#habitacionesSuite li {

    display: inline-block;
    width: 220px;
    margin-left: 60px;
    margin-top: 15px;
    height: 60px;
    border-radius: 3px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    color: black;

}

#habitacionesEstandar li h4,
#habitacionesDeluxe li h4,
#habitacionesSuite li h4 {

    font-size: 14px;
    color: rgb(68, 68, 68);
}

#habitacionesEstandar li label,
#habitacionesDeluxe li label,
#habitacionesSuite li label {

    float: left;
    margin-top: 26px;
    font-weight: bold;
}


#habitacionesEstandar li .lblOcupada,
#habitacionesDeluxe li .lblOcupada,
#habitacionesSuite li .lblOcupada {

    color: red;
    margin-left: -40%;
}



#habitacionesEstandar li .lblLibre,
#habitacionesDeluxe li .lblLibre,
#habitacionesSuite li .lblLibre {

    color: rgb(47, 255, 57);
    float: left;
    margin-left: -80px;
}


#habitacionesEstandar li .btnDetalles,
#habitacionesEstandar li .btnOcupar,
#habitacionesDeluxe li .btnDetalles,
#habitacionesDeluxe li .btnOcupar,
#habitacionesSuite li .btnDetalles,
#habitacionesSuite li .btnOcupar {


    box-shadow: 2px 2px 2px rgb(153, 153, 153);
    color: white;
    font-weight: bold;
    width: 43px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    height: 23px;
    margin-top: 22px;
    margin-left: -10px;

}

#habitacionesEstandar li .btnDetalles,
#habitacionesDeluxe li .btnDetalles,
#habitacionesSuite li .btnDetalles {

    width: 90px;
    background-color: #365ce7;
}


#habitacionesEstandar li .btnDetalles:hover,
#habitacionesDeluxe li .btnDetalles:hover,
#habitacionesSuite li .btnDetalles:hover {

    width: 90px;
    background-color: #1f41be;
}


#habitacionesEstandar li .btnOcupar,
#habitacionesDeluxe li .btnOcupar,
#habitacionesSuite li .btnOcupar {

    background-color: rgb(226, 31, 31);
    width: 90px;

}

#habitacionesEstandar li .btnOcupar:hover,
#habitacionesDeluxe li .btnOcupar:hover,
#habitacionesSuite li .btnOcupar:hover {

    background-color: rgb(177, 46, 23);
}




#habitaciones .cargarHabitaciones #estandar #habitacionesEstandar li:hover,
#habitaciones .cargarHabitaciones #deluxe #habitacionesDeluxe li:hover,
#habitaciones .cargarHabitaciones #suite #habitacionesSuite li:hover {

    border-bottom: none;
}

#habitaciones #sinDatosHabitaciones {

    margin: auto;
    margin-top: 60px;
    display: none;
    opacity: 50%;
    width: 330px;
    height: auto;
    text-align: center;

}

#habitaciones #sinDatosHabitaciones img {

    width: 40px;
    margin: auto;
    float: none;
}


#habitaciones #sinDatosHabitaciones h1 {

    font-size: 20px;
}

.panelHabitacionAsignar,
.panelHabitacionRemplazar {

    margin-top: -42%;
    width: 30%;
    margin-left: 40%;
    background-color: rgb(253, 253, 253);
    border-radius: 6px;
    position: absolute;
    height: auto;
    z-index: 1;
    text-align: center;
    border-radius: 4px;
}


.panelHabitacionRemplazar {


    padding-bottom: 30px;
}


.panelHabitacionAsignar {

    padding-bottom: 30px;
}


.panelHabitacionRemplazar #cerrar,
.panelHabitacionAsignar #cerrar {

    float: right;
    margin-right: 3px;
    margin-top: -15px;
    opacity: 70%;
    width: 25px;
}

.panelHabitacionAsignar #menuOpcionHabitacion,
.panelHabitacionRemplazar #menuOpcionHabitacion {

    width: auto;
    padding-right: 10px;
    margin-top: 0px;
    margin-left: 3px;
    float: left;

}


.panelHabitacionAsignar #menuOpcionHabitacion li,
.panelHabitacionRemplazar #menuOpcionHabitacion li {

    display: inline-block;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 22px;
    margin-left: 10px;
    color: rgb(192, 192, 192);
    font-size: 15px;
    cursor: pointer;
}


.panelHabitacionAsignar #menuOpcionHabitacion li a,
.panelHabitacionRemplazar #menuOpcionHabitacion li a {
    margin-top: 14px;
    display: flex;
}

.panelHabitacionAsignar #menuOpcionHabitacion li img,
.panelHabitacionRemplazar #menuOpcionHabitacion li img {

    width: 17px;
    opacity: 50%;
    display: flex;
    margin-left: 20px;
    margin-top: -34px;


}

.panelHabitacionAsignar #menuOpcionHabitacion li .imgRemplazar,
.panelHabitacionRemplazar #menuOpcionHabitacion li .imgRemplazar {

    margin-left: 25px;
}

.panelHabitacionAsignar #menuOpcionHabitacion li .imgAgregar,
.panelHabitacionRemplazar #menuOpcionHabitacion li .imgAgregar {

    margin-left: 18px;

}

.panelHabitacionAsignar #menuOpcionHabitacion li:hover,
.panelHabitacionRemplazar #menuOpcionHabitacion li:hover {

    border-bottom: 2px solid rgb(255, 77, 77);
}


.panelHabitacionAsignar #formAsignar h1,
.panelHabitacionRemplazar #formRemplazar h1 {

    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    color: rgb(235, 0, 0);
    opacity: 80%;

}


.panelHabitacionAsignar #formAsignar h3,
.panelHabitacionRemplazar #formRemplazar h3 {

    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: rgb(192, 192, 192);
    opacity: 70%;

}


.panelHabitacionAsignar #formAsignar img,
.panelHabitacionRemplazar #formRemplazar img {

    width: 40px;
    display: block;
    margin: auto;
    margin-top: 22px;

}


.panelHabitacionAsignar #formAsignar #sinBookings,
.panelHabitacionRemplazar #formRemplazar #sinBookings {

    width: 50px;
    opacity: 70%;
    display: block;
    margin:auto;
    margin-top: 3px;

}




.panelHabitacionAsignar #formAsignar label,
.panelHabitacionRemplazar #formRemplazar label {

    color: rgb(180, 180, 180);

}



.panelHabitacionAsignar #formAsignar select,
.panelHabitacionRemplazar #formRemplazar select {

    margin: auto;
    margin-top: 10px;
    width: 100px;
    border-radius: 4px;
    height: 34px;
    border: 1px solid rgb(221, 221, 221);
    outline: none;
    color: rgb(167, 167, 167);

}


.panelHabitacionRemplazar #formRemplazar .lblSinHabitaciones {

    color: gainsboro;
    font-size: 15px;
    display: none;
}

.panelHabitacionAsignar input[type="number"] {

    width: 40px;
    border: 1px solid rgb(207, 207, 207);
    height: 25px;
    outline: none;
    margin: 20px;
    margin-top: 10px;


}

.panelHabitacionAsignar #formAsignar .lblAdultos {

    margin-left: -5px;
    padding-top: 20px;

}


.panelHabitacionAsignar #formAsignar .lblNinos {

    margin-left: 30px;
    margin-top: 20px;

}

.panelHabitacionAsignar #formAsignar input[type="submit"] {

    background-color: red;
    color: white;
    border: none;
    width: 130px;
    border-radius: 4px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 26px;

}



.panelHabitacionRemplazar #formRemplazar #btnBuscar,
.panelHabitacionAsignar #formAsignar #btnBuscar,
.panelHabitacionRemplazar #formRemplazar #btnRemplazar {

    background-color: red;
    color: white;
    border: none;
    margin-top: -5px;
    width: 90px;
    border-radius: 4px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;


}


.panelHabitacionRemplazar #formRemplazar #btnBuscar,
.panelHabitacionAsignar #formAsignar #btnBuscar {

    margin-top: -8%;
    display: flex;
    margin-left: 270px;
    padding-left: 20px;
    padding-top: 5px;

}

.panelHabitacionAsignar #formAsignar .subForm,
.panelHabitacionRemplazar #formRemplazar .subForm {

    display: none;

}

.panelHabitacionRemplazar #formRemplazar #btnRemplazar {

    margin: auto;
    margin-top: 20px;

}

.panelHabitacionRemplazar #formRemplazar #selectReserva {

    margin-left: 0px;
    margin-top: 10px;

}

.panelHabitacionRemplazar #formRemplazar #lblHabitacion,
.panelHabitacionRemplazar #formRemplazar #lblFechaRemplazo {

    margin: auto;
    margin-top: 30px;
    font-size: 15px;
}



.panelHabitacionAsignar #formRemplazar #selectHabitaciones {

    margin-top: 10px;
}


.panelHabitacionAsignar #formAsignar input[type="submit"]:hover {

    background-color: rgb(226, 10, 10);
}

.panelHabitacionRemplazar #formRemplazar #btnBuscar:hover,
.panelHabitacionRemplazar #formRemplazar #btnRemplazar:hover {

    background-color: rgb(226, 10, 10);
}



.panelHabitacionRemplazar input[type="date"],
.panelHabitacionAsignar input[type="date"] {

    width: 120px;
    height: 27px;
    outline: none;
    border: 1px solid gainsboro;
    margin: auto;
    margin-top: 10px;

}

#avisoHabitacion {


    color: rgb(255, 255, 255);
    width: 300px;
    height: 40px;
    margin-left: 60%;
    width: 300px;
    display: flex;
    margin-top: -3%;
    border-radius: 3px;
    text-align: center;
}


#avisoHabitacion label {

    font-size: 16px;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    display: block;
}


#avisoHabitacion img {

    width: 20px;
    position: absolute;
    margin-left: 1%;
    margin-top: 10px;
}


.avisoHabitacionActive {

    animation-name: avisoHabitacionActive;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes avisoHabitacionActive {

    from {

        transform: scale(0.0);
    }

    to {

        transform: scale(1.0);
    }

}


.avisoHabitacionDesactive {

    animation-name: avisoReservaDesactive;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes avisoHabitacionDesactive {

    from {

        transform: scale(1.0);
    }

    to {

        transform: scale(0.0);
    }

}


#formAsignar #alertaAsignar,
#formLibrar #alertaLibrar,
#formRemplazar #alertaRemplazar {

    color: rgb(255, 255, 255);
    width: 250px;
    height: 50px;
    margin: auto;
    width: 300px;
    margin-top: 6%;
    background-color: red;
    border-radius: 3px;
    text-align: center;
    transform: scale(0.0);

}

#formLibrar #alertaLibrar {

    background-color: rgb(48, 204, 74);
}



#formAsignar #alertaAsignar img,
#formLibrar #alertaLibrar img,
#formRemplazar #alertaRemplazar #imgRemplazar {

    width: 20px;
    display: flex;
    margin-left: 1%;
    margin-top: -5px;


}


#formLibrar #alertaLibrar img {

    margin-left: 3%;
}


#formAsignar #alertaAsignar label,
#formLibrar #alertaLibrar label,
#formRemplazar #alertaRemplazar #lblRemplazar {

    font-size: 12px;
    font-weight: bold;
    display: flex;
    color: white;
    margin-left: 37px;
    margin-top: -18px;
    width: 250px;
    background: none;

}


#formLibrar #alertaLibrar label {
    background: none;
    color: white;
    font-size: 13px;
    margin-top: -22px;
    margin-left: 35px;

}

.alertaAsignarActive {

    animation: alertaAsignarActive;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

}




@keyframes alertaAsignarActive {

    from {
        transform: scale(0.0);

    }

    to {
        transform: scale(1.0);
    }
}


.alertaAsignarActive {

    animation: alertaAsignarActive;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

}


.alertaRemplazarActive {

    animation: alertaRemplazarActive;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

}


@keyframes alertaRemplazarActive {

    from {
        transform: scale(0.0);

    }

    to {
        transform: scale(1.0);
    }
}

#divDetalles,
#reservaMasCercana {

    width: 400px;
    height: 380px;
    border-radius: 5px;
    background-color: white;
    margin-top: -38%;
    margin-left: 40%;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    text-align: center;
    padding-bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;


}


#divDetalles h1,
#reservaMasCercana h1 {

    font-size: 18px;
    color: #1a8497;
    text-align: center;
    margin: auto;
    margin-top: 2px;
}


#reservaMasCercana img {

    width: 40px;
    margin: auto;
    margin-top: 20px;


}

#reservaMasCercana h4 {

    font-size: 18px;
    color: rgb(197, 197, 197);
    margin-top: 10px;

}




#divDetalles #opcion #cliente,
#divDetalles #opcion #reserva,
#divDetalles #opcion #huespedes {

    box-shadow: 2px 2px 2px solid black;
    width: 250px;
    height: auto;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    padding: 0px;
}

#divDetalles #opcion #reserva #linkReserva {

    text-decoration: none;
    color: rgb(138, 138, 138);
}

#divDetalles #opcion #reserva #linkReserva:hover {

    text-decoration: underline;
    opacity: 70%;
}

#reservaMasCercana #cerrar {

    margin-top: 2px;
    opacity: 70%;
    display: flex;
    margin-right: 1px;

    width: 25px;
}

#reservaMasCercana #sinDatos {

    margin: auto;
    margin-top: 30px;
    opacity: 70%;

}

#reservaMasCercana #sinDatos img {

    width: 60px;
    margin-top: 10px;
}

#divDetalles #opcion #reserva #viewCalendario,
#reservaMasCercana #viewCalendario {

    width: 150px;
    box-shadow: 2px 2px 2px gray;
    height: 30px;
    background-color: rgb(0, 81, 255);
    border: none;
    border-radius: 3px;
    color: white;
    margin: auto;
    margin-top: 10px;
}

#reservaMasCercana #viewCalendario {

    margin-top: 20px;
}

#viewCalendario :hover {

    background-color: rgb(2, 2, 100);
}

#divDetalles #calendar,
#reservaMasCercana #calendar {

    margin-top: 30px;
    width: 400px;
    margin-left: -70px;
    font-size: 10px;

}

#reservaMasCercana #calendar {

    margin: auto;
    margin-top: 35px;
}


#divDetalles #calendar h2,
#reservaMasCercana #calendar h2{

    color: rgb(173, 173, 173);
}

#divDetalles #calendar button,
#reservaMasCercana #calendar button {

    width: 60px;
    font-size: 10px;
    height: 23px;
}



#divDetalles #opcion #reserva label {

    font-size: 23px;
}

#divDetalles #opcion #huespedes label {

    font-size: 18px;
}


#divDetalles #opcion #cliente label,
#divDetalles #opcion #reserva label,
#divDetalles #opcion #huespedes label {


    list-style: none;
    color: rgb(165, 165, 165);
    margin: auto;
    margin-top: 10px;
    width: 100px;
    padding: 0px;
    text-align: center;
}

#divDetalles #opcion #cliente h4,
#divDetalles #opcion #reserva h4,
#divDetalles #opcion #huespedes h4 {

    margin: auto;
    color: rgb(168, 168, 168);
    margin-top: 7px;
}

#divDetalles #opcion #cliente img,
#divDetalles #opcion #reserva img,
#divDetalles #opcion #huespedes img {

    width: 45px;
    margin: auto;
    margin-top: -12px;
    padding: 0px;



}

#divDetalles .logoDetalles {

    width: 45px;
    margin-left: 170px;
    margin-top: 60px;
    display: block;
    position: relative;

}

#divDetalles #cerrar {

    width: 25px;
    opacity: 70%;
    float: right;
    margin-right: 3px;
    margin-top: 5px;

}

#opcionDetalles {

    margin-top: 3px;
    margin-left: 10px;
    float: left;
}

#opcionDetalles li {

    list-style: none;
    width: 70px;
    display: inline-block;
    color: rgb(184, 184, 184);
    font-size: 14px;
    padding-bottom: 3px;
    cursor: pointer;
}

#opcionDetalles li:hover {

    border-bottom: 2px solid rgb(84, 84, 248);
}

#opcionDetalles img {

    width: 22px;
}


#containerCalendar {

    width: 1070px;
    height: 580px;
    margin-left: 17%;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}


#containerCalendar #referenceBookingEnd{

    background-color: rgb(221, 20, 20);
    width:160px;
    height:28px;
    margin-left: 40px;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    font-size: 15px;
    padding-top: 8px;
    text-align: center;
    border-radius: 5px;

   
 }

 
 #containerCalendar #referenceBookingStart{

    background-color:#1394bb;
    width:160px;
    height:28px;
    margin-left: 220px;
    margin-top: -36px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    padding-top: 8px;
    text-align: center;
    border-radius: 5px;

 }


#calendarAdd {

    width: 970px;
    height: 500px;
    margin-left: 40px;
    padding-top: 30px;
}


#calendarAdd button {

    background-color: rgb(2, 2, 192);
    border: none;
}

#calendarAdd button:hover {

    background-color: rgb(2, 2, 153);
    border: none;

}


#calendarAdd h2 {

    font-size: 22px;
    color: rgb(185, 185, 185);
}

#descriptionEvent {

    width: 200px;
    height: auto;
    padding-bottom: 10px;
    border-radius: 3px;
    background-color: white;
    opacity: 100%;
    color: rgb(110, 110, 110);
    z-index: 1;
    text-align: center;
    position: absolute;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}

.descriptionEventShow {

    animation-name: showDescription;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;

}


.descriptionEventHide {

    animation-name: hideDescription;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes showDescription {

    from {

        opacity: 0%;
    }

    to {

        opacity: 100%;

    }
}


@keyframes hideDescription {

    from {

        opacity: 100%;
        ;
    }

    to {

        opacity: 0%;

    }
}


#descriptionEvent li {

    justify-content: left;
    margin-top: 3px;
    color: white;
    list-style: none;
    background: rgb(0, 119, 255);
    padding-top: 3px;
    padding-bottom: 3px;

}

#descriptionEvent li a,
#descriptionEvent .linkCliente {

    text-decoration: none;
    color: white;
}

#descriptionEvent #btnCerrar {

    width: 20px;
    float: right;
    margin-right: 2px;
    margin-top: -170px;
    opacity: 80%;


}

#descriptionEvent .linkReserva:hover,
#descriptionEvent .linkCliente:hover {

    opacity: 70%;
    text-decoration: underline;
}



#descriptionEvent h1 {

    font-size: 15px;
    margin: auto;
    color: rgb(17, 100, 255);
    margin-top: 10px;


}


#descriptionEvent h1 a {

    color: #1f41be;
    text-decoration: none;
}

#descriptionEvent img {

    margin: auto;
    width: 30px;
    margin-top: 10px;
}

.newReserve {

    margin-top: -55%;
    width: 450px;
    height: auto;
    border-radius: 6px;
    text-align: center;
    margin-left: 37%;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: absolute;
    text-align: center;

}


.newReserve label {

    position: absolute;
    font-size: 16px;
    width: 80px;
    height: 13px;
    color: rgb(156, 156, 156);
    background-color: white;
}

.newReserve h1 {

    font-size: 20px;
    margin-top: 10px;
    color: #31e75f;

}



.newReserve form .iconoFormAgregar {

    width: 40px;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 40px;

}



.newReserve img {

    width: 17px;
    display: flex;
    position: absolute;

}


.newReserve .lblCliente {

    margin-left: 6px;
    margin-top: 23px;
}

.newReserve .lblLlegada {

    margin-left: 10px;
    margin-top: 23px;
    width: 120px;
}

.newReserve .lblSalida {

    margin-left: 6px;
    margin-top: 23px;
    width: 120px;
}

.newReserve .lblCantidadHabitaciones {

    margin-left: 6px;
    margin-top: 23px;
    width: 180px;
}

.newReserve form input[type="number"],
.newReserve form input[type="date"],
.newReserve form select {

    border: 2px solid rgb(224, 224, 224);
    width: 290px;
    border-radius: 3px;
    height: 30px;
    outline: none;
    margin-top: 34px;
    font-size: 15px;
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 1px;

}

.newReserve form select {

    width: 310px;
    height: 40px;
}

.newReserve form input[type="number"]:hover,
.newReserve form input[type="date"]:hover,
.newReserve form select:hover {

    border: 2px solid #31e75f;

}

.newReserve form input[type="submit"],
.newReserve form button {

    width: 130px;
    height: 32px;
    background-color: #31e75f;
    color: white;
    border: none;
    margin-top: 30px;



}


.newReserve form input[type="submit"] {

    margin-left: -170px;
}

.newReserve form input[type="submit"]:hover {

    background-color: #26cf50;
}


.newReserve form button:hover {

    background-color: #20b947;
}


.newReserve form button {

    margin-top: 0px;
    display: flex;
    margin-left: 56%;
    margin-top: -32px;
    text-align: center;
    padding-top: 9px;
    padding-left: 35px;
}



#alertaAgregar {

    color: rgb(255, 255, 255);
    width: 250px;
    height: 43px;
    margin: auto;
    width: 300px;
    margin-top: 6%;
    background-color: #31e75f;
    border-radius: 3px;
    text-align: center;
    transform: scale(0.0);

}

#alertaAgregar img {

    width: 20px;
    display: flex;
    margin-left: 3%;
    margin-top: -7px;

}

#alertaAgregar label {

    font-size: 14px;
    font-weight: bold;
    color: white;
    display: block;
    margin-left: 25px;
    margin-top: -5px;
    width: 250px;
    background: none;

}

.alertaAgregarActive {

    animation: alertaEditarActive;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

}


@keyframes alertaEditarActive {

    from {
        transform: scale(0.0);

    }

    to {
        transform: scale(1.0);
    }
}

.bookingAdd {

    width: 390px;
    height: 247px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    margin-left: 39%;
    text-align: center;
    margin-top: -40%;

}


.bookingAdd img {

    width: 50px;
    margin-top: 10px;
}

.bookingAdd h1 {

    font-size: 15px;
    margin-top: 8px;
    color: black;
}

.bookingAdd button {

    background-color: #31e75f;
    color: white;
    border: none;
    margin-top: 10px;
    width: 150px;
    height: 32px;
}

.bookingAdd button:hover {

    background-color: #1fac42;
}

.bookingAdd .bodyReservaAgregada {

    transform: scale(0.0);
}

.bodyReservaAgregadaShow {

    animation-name: showMsjBooking;
    animation-fill-mode: forwards;
    animation-delay: 2s;

}

@keyframes showMsjBooking {


    from {

        transform: scale(0.0);
    }

    to {

        transform: scale(1.0);
    }
}

 


.panelHabitacionEliminar {

    width: 260px;
    height: 160px;
    margin-top: 40%;
    border-radius: 3px;
    margin-left: 19%;
    text-align: center;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: absolute;



}

.panelHabitacionEliminar h2 {

    font-size: 14px;
    margin-top: -5px;
    margin: auto;
}

.panelHabitacionEliminar button {

    width: 50px;
    height: 25px;
    color: white;
    box-shadow: 2px 2px 2px solid grey;
    border: 1px solid red;
    border-radius: 3px;
    margin-top: auto;
}


.panelHabitacionEliminar img {

    width: 30px;
    float: none;
    display: block;
    margin: auto;
    position: relative;
    padding-bottom: 10px;
}

.panelHabitacionEliminar .btnSi {


    color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px solid grey;
    background-color: red;
    margin-left: -5px;


}

.panelHabitacionEliminar .btnSi:hover {

    background-color: rgb(219, 3, 3);
}

.panelHabitacionEliminar .btnNo {


    box-shadow: 2px 2px 2px solid grey;
    color: rgb(0, 0, 0);
    background-color: white;
    margin-left: 14px;


}


.panelHabitacionEliminar.btnNo:hover {

    background-color: rgb(255, 236, 236);
}



.panelHabitacionEliminar #confirmacionHabitacionEliminada {

    text-align: center;
    padding-bottom: -10px;
}

.panelHabitacionEliminar #confirmacionHabitacionEliminada img {

    width: 40px;
    margin-top: 2px;
    margin: auto;
    padding-bottom: 10px;

}

.panelHabitacionEliminar #confirmacionHabitacionEliminada h1 {

    font-size: 15px;
    margin-top: 2px;
    color: black;

}


.panelHabitacionEliminar #confirmacionHabitacionEliminada button {

    background-color: red;
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    border: none;
}

.panelHabitacionEliminar #confirmacionHabitacionEliminada button:hover {
    background-color: rgb(189, 12, 12);
}

.panelHabitacionEliminar .bodyHabitacionEliminada {

    transform: scale(0.0);

}

.bodyHabitacionEliminadaShow {

    animation-name: bodyHabitacionEliminadaShow;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes bodyHabitacionEliminadaShow {

    from {

        transform: scale(0.0);
    }

    to {

        transform: scale(1.0);
    }
}


.divInfo {

    width: 600px;
    height: 400px;
    margin-top: -41%;
    margin-left: 33%;
    position: absolute;
    z-index: 1;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 10px;

}

.divInfo #cerrar {

    width: 23px;
    opacity: 70%;
    float: right;
    margin-right: 3px;
}

.divInfo #opcionInfoReserva {

    margin-top: 3px;
    margin-left: 10px;
    float: left;
}

.divInfo #opcionInfoReserva li {

    list-style: none;
    width: 85px;
    display: inline-block;
    color: rgb(184, 184, 184);
    font-size: 14px;
    padding-bottom: 3px;
    margin-left: 0px;
    cursor: pointer;
}


.divInfo #opcionInfoReserva li:hover {

    border-bottom: 2px solid rgb(120, 120, 241);
}


.divInfo #opcionInfoReserva img {

    width: 22px;
}



.divInfo h1 {

    font-size: 16px;
    color: rgb(155, 155, 155);

}


.divInfo #iconoInfoReserva {

    margin: auto;
    margin-top: 60px;
    width: 50px;
    float: none;
    display: block;
    position: relative;

}

.divInfo #sinDatosInfo {

    opacity: 50%;

}

.divInfo #sinDatosInfo img {

    width: 56px;
}


.divInfo #panelInfo {

    text-align: center;

}

.divInfo #panelInfo img {

    width: 40px;
    margin: auto;
}

.divInfo #panelInfo h1 {

    font-size: 16px;
    margin-top: 6px;
}

.divInfo #panelInfo button {

    width: 100px;
    height: 28px;
    border: none;
    border-radius: 3px;
    background-color: #1f41be;
    color: white;
    box-shadow: 2px 2px 2px grey;

}

.divInfo #panelInfo button:hover {

    background-color: #152b7c;
}


.divInfo #calendarInfoReserva {

    width: 510px;
    margin: auto;
    margin-top: 30px;
    font-size: 10px;

}



.divInfo #calendarInfoReserva button {

    width: 60px;
    font-size: 10px;
    height: 23px;
}

.divInfo #calendarInfoReserva h2 {

    color: rgb(160, 160, 160);
}


.divInfo #cliente {

    color: rgb(172, 172, 172);


}

.divInfo #habitacionesReservadas {

    color: rgb(172, 172, 172);

}

.divInfo #habitacionesReserva {

    color: white;
    opacity: 100%;


}

.divInfo #habitacionesReserva li {

    list-style: none;
    width: 270px;
    margin: auto;
    margin-top: 24px;
    height: 88px;
    border-radius: 3px;
    box-shadow:
        0 0 0 2px #3dacb4,
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    background: linear-gradient(#314c86, #46c5ce);
    box-shadow:
        0 0 0 0px rgb(210, 246, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}


.divInfo #habitacionesReserva img {

    width: 65px;
    float: left;
    margin-top: 1px;
    margin-left: 2px;
}



.divInfo #habitacionesReserva li h3 {

    font-size: 15px;
    margin-top: -10px;
    margin-left: 27px;
    opacity: 100%;
    color: rgb(241, 241, 241);
}


.divInfo #habitacionesReserva label {

    opacity: 100%;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    margin-left: 40%;
}

.divInfo #habitacionesReserva .imgHabitacion {

    float: left;
    margin-left: 3px;
    width: 60px;
    border-radius: 3px;

}


.divInfo #habitacionesReserva .imgAdultos {

    width: 24px;
    float: left;
    margin-left: 20px;
    margin-top: -10px;

}


.divInfo #habitacionesReserva .imgNinos {

    width: 24px;
    float: left;
    padding-left: 84px;
    margin-top: -14px;

}

.divInfo #habitacionesReserva .lblAdultos {

    margin-top: -5px;
    padding-left: 10px;
}


.divInfo #habitacionesReserva .lblNinos {

    margin-top: -10px;
    margin-left: 120px;
}


.divInfo #huespedes {

    color: rgb(141, 141, 141);
}

.divInfo #huespedes label {

    display: block;
    margin-top: -8px;
}


.divInfo #pago {

    color: rgb(150, 150, 150);
}



.divInfo #pago #llegada,
.divInfo #pago #salida {

    color: rgb(100, 100, 100);
    opacity: 70%;
    font-weight: bold;
    font-size: 16px;
}

.divInfo #pago #llegada {

    float: left;
    margin-left: 60px;

}

.divInfo #pago #salida {

    float: right;
    margin-right: 60px;

}

.divInfo #pago img {

    width: 25px;
    opacity: 60%;
}

.divInfo #pago #iconoFactura {
    width: 30px;
    opacity: 100%;

}


.divInfo #pago hr {

    margin-left: -100px;
    margin-top: 70px;
}

.divInfo #pago h3 {

    margin-top: 0px;
    float: right;
    margin-right: 40px;
    padding-bottom: 20px;
    color: black;
}

.divInfo #detallesFactura {

    margin: auto;
    margin-top: 40px;
    height: auto;

}


.divInfo #detallesFactura li {

    display: inline-block;
    width: 290px;
    height: auto;
    color: rgb(100, 100, 100);
    opacity: 80%;
    padding-bottom: 10px;
}

.divInfo #detallesFactura #habitacionesPrecios {

    float: left;
    border-right: 1px solid gray;
}

.divInfo #detallesFactura #serviciosPrecios {

    float: right;

}


.divInfo #detallesFactura #habitacionesPrecios img {

    width: 25px;
}

.divInfo #detallesFactura #habitacionesPrecios h4 {

    font-weight: bold;
}



.divInfo #detallesFactura #habitacionesPrecios #ulHabitacion {

    text-align: center;
    color: rgb(97, 97, 97);


}