* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(243, 243, 243);
}

#loginAdmin {
  margin: auto;
  height: 660px;
  display: flex;
  margin-top: 0px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0rem;
}

#loginAdmin .panelInfo {
  width: 30%;
  height: 70%;
  background: linear-gradient(#1a5a5c, #0ea7af);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  box-shadow: 2px 2px 2px grey;
}

#loginAdmin .panelInfo h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  font-style: italic;
  font-size: 20px;
}

#loginAdmin .panelInfo img {
  width: 90px;
  margin-top: 5rem;
}

#loginAdmin .panelInfo p {
  margin-top: 1rem;
  padding: 0.5rem;
}

#loginAdmin .containForm {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: 2px 2px 2px grey;
  background-color: white;
}

#loginAdmin .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(172, 172, 172);
  margin-top: 0.4rem;
  font-size: 20px;
}

#loginAdmin .title img {
  width: 100px;
}

#loginAdmin form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 1rem;
}

#loginAdmin label {
  color: rgb(170, 170, 170);
}

#loginAdmin .user,
#loginAdmin .password {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-weight: bold;
  font-size: 16px;
}
#loginAdmin form input {
  height: 2.6rem;
  width: 17rem;
  border: 1px solid #0498a0;
  border-radius: 3px;
  outline: none;
  padding-left: 2.8rem;
  padding-right: 30px;
  font-size: 16px;
}

#loginAdmin form input::placeholder {
  opacity: 70%;
}

#loginAdmin form #userId,
#loginAdmin form #passwordId {
  background-image: url("../img/usuario.png");
  background-repeat: no-repeat;
  background-position-x: 0.6rem;
  background-position-y: 0.6rem;
  background-size: 20px;
}

#loginAdmin form #passwordId {
  background-image: url("../img/candado.png");
  padding-right: 2rem;
}

#loginAdmin form input[type="text"]::placeholder,
#loginAdmin form input[type="password"]::placeholder {
  font-size: 17px;
}

#loginAdmin form input:hover {
  border: 2px solid #0498a0;
}

#loginAdmin .containButton {
  margin-top: 1rem;
}
#loginAdmin form button {
  width: 320px;
  height: 38px;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  background: linear-gradient(#0f3a4d, #0498a0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#loginAdmin form button .spinner{

  width: 26px;
  display: none;
}

#loginAdmin form button img{

  width: 25px;
}

#loginAdmin form button:hover {
  background: linear-gradient(#176080, #2b8a8f);
}

.inputAlert {
  border: 2px solid red;
}

.inputAlert::placeholder {
  color: red;
}

#alertLogin {
  background: linear-gradient(#2e888b, #0ea7af);
  width: 0px;
  height: 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  margin-top: 0.2rem;
  padding-top: 0.2rem;
  border-radius: 3px;
  font-size: 15px;
  color: #fafafa;
  font-weight: bold;
  gap: 0.5rem;
  box-shadow: 2px 2px 2px grey;
}
#alertLogin .bodyAlert {

  flex-direction: row;
  display: none;
  justify-content:flex-start;
}

#alertLogin .icon {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

#alertLogin img {
  width: 24px;
}

#alertLogin .msj {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 0.9rem;
}

#alertLogin .advertencia {
  font-weight: bold;
  color: #fcfcfc;
}

#alertLogin .progresBar {
  width: 100%;
  height: 3px;
  margin-top: 0rem;
  background-color: gray;
}

#alertLogin .progres {
  width: 100%;
  background-color: #ffffff;
  height: 100%;
}

.progresBarActive {
  animation-name: progresBar;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes progresBar {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.alertLoginShow {
  animation-name: alertLoginShow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.alertLoginHide {
  animation-name: alertLoginHide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes alertLoginShow {
  from {
    width: 0px;
  }

  to {
   width: 290px;
  }
}

@keyframes alertLoginHide {
  from {
    width: 290px;
  }

  to {
    width: 0px;
  }
}

.iconoMenu {
  width: 36px;
  margin-top: 24px;
  margin-left: -110px;
}

.lblTituloMenu {
  margin-top: 37px;
  margin-left: 10px;
  position: absolute;
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#navAdmin {
  margin-left: 0px;
  margin-top: -14px;
  position: fixed;
  background: linear-gradient(#30aaa0, #0498a0);
  color: rgb(255, 255, 255);
  text-align: center;
  width: 180px;
  height: 800px;
  font-family: Arial;
}

#navAdmin ul {
  padding-top: 0px;
}

#navAdmin li {
  margin-top: 11px;
  padding-top: 17px;
  height: 30px;
  cursor: pointer;
}

#navAdmin li a {
  font-size: 17px;
  margin-left: 8px;
  color: white;
  text-decoration: none;
}

#navAdmin li:hover {
  background-color: rgb(25, 135, 143);
}

#navAdmin li .subMenu li:hover {
  background-color: rgb(65, 65, 65);
}

#navAdmin ul img {
  width: 25px;
  display: flex;
  position: absolute;
  margin-top: -5px;
  padding-left: 30px;
}

#liInicio a {
  padding-left: 10px;
}

#liClientes a {
  padding-left: 16px;
}

#liClientes .btnFlecha {
  width: 14px;
  margin-left: 69%;
  margin-top: -18px;
  display: none;
}

#liClientes:hover > .btnFlecha {
  display: block;
}

.subMenu {
  background-color: rgb(46, 46, 46);
  margin-top: 10px;
  padding-top: 0px;
  display: none;
}

#navAdmin #liClientes .subMenu li img {
  width: 22px;
  margin-top: -2px;
  padding-left: 45px;
}

#navAdmin #liClientes .subMenu li {
  margin-top: 0px;
  border-bottom: 1px solid rgba(114, 114, 114, 0.5);
}

#navAdmin #liClientes .subMenu li a {
  font-size: 14px;
  margin-left: 1px;
}

#liReserva a {
  padding-left: 26px;
}

#liReserva .btnFlecha {
  width: 14px;
  margin-left: 69%;
  margin-top: -18px;
  display: none;
}

#liReserva:hover > .btnFlecha {
  display: block;
}

#navAdmin #liReserva .subMenu li img {
  width: 25px;
  margin-top: -5px;
  padding-left: 45px;
}

#navAdmin #liReserva .subMenu li {
  margin-top: 0px;
  border-bottom: 1px solid rgba(114, 114, 114, 0.5);
}

#navAdmin #liReserva .subMenu li a {
  font-size: 14px;
  margin-left: 0px;
}

#navAdmin #liReserva .subMenu .liHabitacion img {
  padding-left: 47px;
}

#navAdmin #liReserva .subMenu .liHabitacion a,
#navAdmin #liReserva .subMenu .liCalendario a {
  margin-left: 30px;
}

#liHabitaciones #textHabitaciones {
  padding-left: 33px;
}

#liHabitaciones .btnFlecha {
  width: 14px;
  margin-left: 70%;
  margin-top: -18px;
  display: none;
}

#liHabitaciones:hover > .btnFlecha {
  display: block;
}

#liHabitaciones:hover > #iconoHabitaciones {
  margin-left: -10px;
}

#liHabitaciones:hover #textHabitaciones {
  padding-left: 10px;
}

#navAdmin #liHabitaciones .subMenu li img {
  width: 20px;
  margin-top: -2px;
  padding-left: 45px;
}

#navAdmin #liHabitaciones .subMenu li {
  margin-top: 0px;
  border-bottom: 1px solid rgba(114, 114, 114, 0.5);
}

#navAdmin #liHabitaciones .subMenu li a {
  font-size: 14px;
  margin-left: 0px;
}

#navAdmin #liHabitaciones .subMenu .liGrafica a {
  margin-left: 20px;
}

#navAdmin #liHabitaciones .subMenu .liHabitacion img {
  padding-left: 47px;
}

#navAdmin #liHabitaciones .subMenu .liHabitacion a {
  margin-left: 17px;
}

#liGanancias a {
  padding-left: 27px;
}

#userAdmin {
  width: 180px;
  height: 62px;
  position: absolute;
  top: 76%;
  left: 0px;
  background: linear-gradient(#30aaa0, #0498a0);
}

#userAdmin img {
  width: 33px;
  padding-top: 10px;
  padding-right: 85px;
}

#userAdmin label {
  padding-top: 20px;
  margin-left: -66px;
  position: absolute;
}

#userAdmin .subMenuAdmin {
  height: 91px;
  background-color: rgb(46, 46, 46);
  color: white;
  margin-top: 20px;
  display: none;
  padding-top: 0px;
}

#userAdmin .subMenuAdmin li {
  color: white;
  list-style: none;
  padding-top: 10px;
  margin-top: 0px;
  border-bottom: 1px solid rgba(114, 114, 114, 0.5);
}

#userAdmin .subMenuAdmin li img {
  width: 20px;
  margin-top: -12px;
  padding-left: 50px;
}

#userAdmin .subMenuAdmin li a {
  font-size: 14px;
  margin-left: 18px;
  color: white;
  text-decoration: none;
}

#userAdmin .subMenuAdmin li .logout {
  margin-left: 10px;
}

#userAdmin .subMenuAdmin li:hover {
  background-color: rgb(65, 65, 65);
}

#userAdmin .btnFlecha {
  width: 14px;
  margin-left: 83%;
  margin-top: -35px;
  display: flex;
  display: none;
}

#userAdmin:hover > .btnFlecha {
  display: block;
}

#adminBanner img {
  width: 300px;
  height: 130px;
  margin-top: -5px;
}

#adminBanner {
  margin-left: 10%;
  margin-top: -1%;
  text-align: center;
}

#adminBanner h1 {
  font-size: 27px;
  color: #6981d8;
  margin-top: 20px;
}

#containClienteAndGeneral {
  display: flex;
  flex-direction: row;
}

#dataGeneral {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

#dataHabitaciones {
  width: 540px;
  height: 160px;
  box-shadow: 0px 5px 0px 0px rgb(76, 180, 221),
    6px 6px 6px rgba(44, 44, 44, 0.3);
  color: rgb(76, 180, 221);
  background-color: white;
  margin-left: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 4%;
}

#dataHabitaciones #title,
#dataGeneral #ganancias #title {
  font-weight: bolder;
  font-size: 25px;
  padding-left: 20px;
}

#dataHabitaciones #total {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bolder;
}

#dataHabitaciones #stateRooms {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#dataHabitaciones #libres,
#dataHabitaciones #ocupadas {
  padding-left: 20px;
  font-size: 20px;
  font-weight: bolder;
}

#dataHabitaciones #libres #cantHabitaciones,
#dataHabitaciones #ocupadas #cantHabitaciones {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  gap: 20px;
  margin-top: 10px;
}

#dataGeneral #panelReservaAndGanancias {
  display: flex;
  flex-direction: row;
}

#dataGeneral #ganancias {
  width: 250px;
  height: 140px;
  box-shadow: 0px 5px 0px 0px rgb(219, 67, 67),
    6px 6px 6px rgba(44, 44, 44, 0.3);
  background-color: white;
  margin-left: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 4%;
}

#dataGeneral #ganancias #title {
  color: rgb(255, 75, 75);
  padding-top: 5px;
}

#dataGeneral #ganancias #total,
#dataGeneral #ganancias #ultimoMes,
#dataGeneral #ganancias #ingresosUltimoMes {
  padding-left: 20px;
  font-size: 16px;
  font-weight: bolder;
  color: rgb(255, 75, 75);
}

#dataGeneral #ganancias #ingresosUltimoMes {
  font-size: 16px;
}

#dataGeneral #reservas {
  width: 250px;
  height: 140px;
  box-shadow: 0px 5px 0px 0px rgb(90, 67, 219),
    6px 6px 6px rgba(44, 44, 44, 0.3);
  background-color: white;
  margin-left: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 4%;
}

#dataGeneral #reservas #title,
#dataGeneral #reservas #antiguas,
#dataGeneral #reservas #enCurso,
#dataGeneral #reservas #pendientes {
  color: rgb(90, 67, 219);
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
}

#dataGeneral #reservas #antiguas,
#dataGeneral #reservas #enCurso,
#dataGeneral #reservas #pendientes {
  font-size: 15px;
}

#containViewHabitacionAndGananacias {
  display: flex;
  flex-direction: row;
  gap: 54px;
}

.titleGraphic {
  background: #34b1a6;
  width: 100%;
  height: 35px;
  padding-top: 17px;
  margin-top: 0px;
}

#viewClientes,
#viewHabitaciones,
#viewGanancias {
  width: 520px;
  height: 290px;
  display: block;
  margin-left: 15%;
  margin-top: 20px;
  text-align: center;
  list-style: none;
  border: 1px solid rgb(238, 238, 238);
  background-color: rgba(255, 255, 255, 0.822);
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#viewGanancias {
  margin-left: 0px;
}

#viewClientes h3,
#viewHabitaciones h3,
#viewGanancias h3 {
  font-size: 18px;
  margin-left: -20px;
  color: white;
}

#containButtonClientes,
#containButtonHabitaciones,
#containButtonGanancias {
  display: none;
}

#viewClientes button,
#viewHabitaciones button,
#viewGanancias button {
  width: 80px;
  height: 30px;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 18px;
  background: none;
  opacity: 50%;
  float: right;
  margin-top: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#viewGanancias button {
  display: block;
}

#viewHabitaciones button,
#viewGanancias button {
  margin-top: 25px;
}

#sinDatosGraficaHabitaciones,
#sinDatosGraficaClientes,
#sinDatosGraficaGanancias {
  margin: auto;
  font-size: 14px;
  margin-top: -29%;
  text-align: center;
}

#sinDatosGraficaHabitaciones img,
#sinDatosGraficaClientes img,
#sinDatosGraficaGanancias img {
  width: 70px;
  opacity: 65%;
  margin-top: 10px;
}

#sinDatosGraficaHabitaciones h1,
#sinDatosGraficaClientes h1,
#sinDatosGraficaGanancias h1 {
  font-size: 20px;
  opacity: 30%;
}

#viewClientes button:hover,
#viewHabitaciones button:hover,
#viewGanancias button:hover {
  opacity: 100%;
}

#graficaClientes,
#graficaHabitaciones,
#graficaGanancias {
  width: 80%;
  height: 160px;
  margin: auto;
}

#graficaGanancias {
  margin-top: 25px;
}
