* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(243, 243, 243);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: start;
  gap: 2rem;
  height: 100vh;
}

#navAdmin {
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
  width: 11rem;
  height: 103.2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#navAdmin .titleNav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 0.5rem;
  color: white;
  font-weight: bold;
}

#navAdmin .titleNav span {
  margin-top: 0.8rem;
}

#navAdmin .titleNav img {
  width: 40px;
}

#navAdmin .menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 0rem;
  height: 70%;
  color: white;
  list-style: none;
}

#navAdmin .menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11rem;
  height: auto;
  min-height: 2.2rem;
  padding-top: 0.6rem;
  justify-content: space-between;

}

#navAdmin .menu li:hover {
  cursor: pointer;
  background-color: rgb(5, 141, 146);
}

#navAdmin .menu li .item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  position: relative;
  margin-left: 3rem;
}

#navAdmin .menu li .nameOption {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding-right: 1rem;
}

.nameOptionHome a {
  margin-top: 0.3rem;
}

#navAdmin .menu li .btnDisplaySubMenu {
  width: 14px;
  left: 8.4rem;
  position: absolute;
  display: none;
  cursor: pointer;
}

#navAdmin .menu li .btnDisplaySubMenu:hover {
  transform: scale(1.1);
}

#navAdmin .menu li img {
  width: 25px;
}

#navAdmin .loadingUser {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  gap: 0.5rem;
}

#navAdmin .loadingUser img {
  width: 30px;
  margin-top: 0.2rem;
}

#navAdmin .subMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  margin-top: 0.5rem;
}

#navAdmin .subMenu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid rgb(165, 165, 165);
  width: 11rem;
  background-color: rgb(49, 49, 49);
  font-size: 15px;
  gap: 0.5rem;
}

#navAdmin .subMenu li img {
  width: 20px;
  margin-left: 3rem;
}

#navAdmin .subMenu li:hover {
  background-color: rgb(37, 37, 37);
}

#navAdmin .subMenu li:hover {
  background-color: rgb(37, 37, 37);
}

#userAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(7, 145, 150);
  width: 100%;
  height: 3rem;
  color: white;
  list-style: none;
}

#userAdmin li {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0.5rem;
  gap: 1rem;
  color: white;
  font-size: 17px;
}
#userAdmin li .btnDisplayMenu {
  width: 14px;
  visibility: hidden;
  cursor: pointer;
}

#userAdmin li .btnDisplayMenu:hover {
  transform: scale(1.1);
}

#userAdmin li img {
  width: 30px;
}
#userAdmin .subMenuProfile {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: -5rem;
}

#userAdmin .subMenuProfile li {
  display: flex;
  align-items: center;
  margin-top: 0;
  width: 11rem;
  height: auto;
  border-bottom: 1px solid gray;
  gap: 0.4rem;
  font-size: 15px;
  cursor: pointer;
  justify-content: start;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: rgb(49, 49, 49);
}

#userAdmin .subMenuProfile li img {
  width: 20px;
  margin-left: 3rem;
}

#userAdmin .subMenuProfile li:hover {
  background-color: rgb(36, 36, 36);
}

#dashboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1.5rem;
}

.rowOne {
  display: flex;
  align-items: start;
  gap: 2rem;
}

.containItemsData {
  display: flex;
  gap: 2rem;
}

.itemsData {
  display: flex;
  gap: 1rem;
  list-style: none;
  flex-wrap: wrap;
  width: 37rem;
}

.itemsData li {
  display: flex;
  gap: 0.5rem;
  background-color: white;
  border-radius: 4px;
  padding-right: 1rem;
  height: 6rem;
  width: 17rem;
}

.itemsData li a {
  font-weight: bold;
}
.itemsData li .dataRevenues {
  display: flex;
  padding-top: 0.5rem;
  flex-direction: column;
  gap: 0.7rem;
}

.containGraphicRooms {
  display: flex;
  padding-top: 0.5rem;
  width: 31rem;
  height: 13rem;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgb(192, 192, 192);
  background-color: white;
}

.containGraphicRooms h4 {
  font-size: 15px;
}

.itemsData li .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
}

.itemsData li .icon img {
  width: 50px;
}

.itemsData li .category {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.itemsData li .category .data {
  display: flex;
  gap: 0.5rem;
}

.itemsData li .noData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 60%;
  gap: 0.5rem;
  height: 10rem;
  width: 10rem;
}
.itemsData li .noData h3 {
  font-size: 15px;
}

.itemsData li .noData img {
  width: 40px;
}

.itemsData li h5 {
  font-size: 16px;
}

.itemsData li span {
  font-size: 15px;
}

.rowTwo {
  display: flex;
  gap: 2rem;
}

.containGraphicBookings,
.containGraphicRevenues {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 34rem;
  height: 20rem;
  padding-top: 1rem;
  background-color: white;
  box-shadow: 2px 2px 2px rgb(180, 180, 180);
  border-radius: 7px;
  position: relative;
}
.containGraphicRevenues {
  width: 35rem;
}

.containGraphicBookings .loadingBookings,
.containGraphicRevenues .loadingRevenues,
.containGraphicRooms .loadingRooms {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2.3rem;
  gap: 0.3rem;
  opacity: 40%;
  font-size: 20px;
}

.containGraphicBookings .loadingRevenues img,
.containGraphicRevenues .loadingBookings img,
.containGraphicRooms .loadingRooms img {
  width: 40px;
}

.containGraphicBookings .noDataBookings,
.containGraphicRevenues .noDataRevenues,
.containGraphicRooms .noDataRooms {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2.3rem;
  gap: 0.5rem;
  opacity: 50%;
  font-size: 22px;
}

.noDataRevenues img,
.noDataRooms img,
.noDataBookings img {
  width: 80px;
}

#charBookings,
#charRevenues,
#charRooms {
  width: 99%;
  min-height: 78%;
  color: black;
}

#charRooms {
  width: 90%;
}
