.containAddUser {
  width: 42rem;
  border-radius: 3px;
  height: 48rem;
  background-color: white;
  margin-left: 0;
  margin-top: 1rem;
}

.containAddUser .header {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 21px;
}

.containAddUser .header button {
  width: 2rem;
  height: 2rem;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background-color: red;
  color: white;
}

.containAddUser .header button:hover {
  background-color: rgb(207, 1, 1);
}

.containAddUser .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 18px;
}

.containAddUser .title img {
  width: 45px;
}

.containAddUser form {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 1.3rem;
  gap: 1.6rem;
}

.containAddUser form .rowOne,
.containAddUser form .rowTwo,
.containAddUser form .rowThree,
.containAddUser form .rowFour,
.containAddUser form .rowFive {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.containAddUser form .name,
.containAddUser form .lastname,
.containAddUser form .email,
.containAddUser form .username,
.containAddUser form .password,
.containAddUser form .repeatPassword,
.containAddUser form .avatar {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  gap: 0.5rem;
}

.containAddUser .rol {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1rem;
  margin-top: 1rem;
}

.containAddUser .rol li {
  padding: 1rem;
  box-shadow: 2px 2px 2px gray;
  color: rgb(255, 255, 255);
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  font-weight: bold;
  width: 6rem;
  height: 0.5rem;
  background: linear-gradient(rgb(63, 189, 178), rgb(1, 155, 160));
}

.containAddUser .rol li:hover {
  background: linear-gradient(rgb(50, 161, 152), rgb(1, 155, 160));
  box-shadow: none;
}

.containAddUser .rol .rolSelected {
  background: linear-gradient(rgb(39, 116, 109), rgb(1, 155, 160));
  box-shadow: none;
}

.containAddUser .containRols p {
  color: rgb(243, 1, 1);
}

.containAddUser form .viewPassword {
  position: absolute;
  width: 19px;
  cursor: pointer;
  left: 16rem;
  top: 2.2rem;
}

.containAddUser #inputPassword,
.containAddUser #inputPasswordRepeat {
  width: 14.5rem;
  padding-right: 2rem;
}

.containAddUser form input {
  width: 16.5rem;
  height: 2.3rem;
  outline: none;
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 3px;
  padding-left: 1rem;
}
.containAddUser form input:hover {
  border: 2px solid rgb(4, 199, 189);
}
.containAddUser form .inputError {
  border: 1px solid red;
  color: red;
}

.containAddUser form .inputError:hover {
  border: 2px solid red;
  color: red;
}

.containAddUser form .inputError::placeholder {
  color: red;
}

.containAddUser .containRols {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

.containAddUser .containAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  margin-top: 1rem;
}

.containAddUser .containImageAvatar {
  width: 9rem;
  border-radius: 100%;
  height: 9rem;
  box-shadow: 2px 2px 2px gray;
  border: 1px solid rgb(219, 219, 219);
  display: flex;
  align-items: center;
  justify-content: center;
}

.containAddUser .imageAvatar {
  display: flex;
  width: 9rem;
  height: 9rem;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.containAddUser .imageAvatar img {
  width: 45px;
  height: 45px;
}

.containAddUser .imageAvatar .iconAvatar {
  width: 100%;
  height: 100%;
  position: absolute;
}

.containAddUser .columnAvatar {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;
}

.containAddUser .file-select {
  position: relative;
  display: inline-block;
}

.containAddUser .file-select::before {
  background: linear-gradient(rgb(63, 189, 178), rgb(1, 155, 160));
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: "Seleccionar";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.containAddUser .file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}

.containAddUser #src-file1::before {
  content: "Seleccionar Imagen";
}

.containAddUser .btnSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(63, 189, 178), rgb(1, 155, 160));
  width: 11rem;
  height: 2rem;
  border: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px gray;
  border-radius: 20rem;
  gap: 0.5rem;
}

.containAddUser .btnSubmit img {
  width: 22px;
}

.containAddUser .btnSubmit:hover {
  background: linear-gradient(rgb(46, 136, 128), rgb(1, 155, 160));
}

.containAddUser .btnSubmit .loader {
  display: none;
  width: 26px;
}

.containAddUser .errorInput {
  color: red;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  position: absolute;
  left: 0;
  top: 4rem;
  font-size: 13px;
}

.containAddUser .errorInput img {
  width: 22px;
}

.containAddUser .rol .errorInput {
  position: relative;
  left: 0;
  top: 0;
}

.containAddUser .containAvatar .errorInput {
  position: relative;
  left: 0;
  top: 0;
}

.containAddUser .password .errorInput {
  top: 4.2rem;
}

.modalMaintenance .modalAlert {
  position: absolute;
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 44, 44, 0.6);
}

.modalMaintenance .modalAlert .alertError,
.modalMaintenance .modalAlert .alertSuccesfully {
  width: 25rem;
  height: 14rem;
  background-color: white;
  display: none;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 3px;
  margin-left:0;
  margin-top: 16rem;
}

.modalMaintenance .modalAlert .alertError p,
.modalMaintenance .modalAlert .alertSuccesfully p {
  font-size: 19px;
}

.modalMaintenance .modalAlert .alertError img,
.modalMaintenance .modalAlert .alertSuccesfully img {
  width: 55px;
}

.modalMaintenance .modalAlert .alertError button,
.modalMaintenance .modalAlert .alertSuccesfully button {
  width: 7rem;
  height: 2rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
  margin-top: 1rem;
}

.modalMaintenance .modalAlert .alertSuccesfully button {
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
}

.modalMaintenance .modalAlert .alertSuccesfully button:hover {
  background: linear-gradient(rgb(38, 114, 108), rgb(1, 155, 160));
}

.modalMaintenance .modalAlert .alertError button {
  background: red;
}

.modalMaintenance .modalAlert .alertError button:hover {
  background: rgb(199, 22, 22);
}
