.modalProducts .containDelete {
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  width: 20rem;
  margin-left: 0;
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  text-align: center;
}
.modalProducts .containDelete .loading {
  display: none;
  align-items: center;
  opacity: 50%;
  font-size: 17px;
  gap: 1rem;
}
.modalProducts .containDelete .loading img {
  width: 40px;
}
.modalProducts .containDelete img {
  width: 40px;
}
.modalProducts .containDelete .buttons {
  display: flex;
  gap: 1rem;
  margin-top: 0.7rem;
}
.modalProducts .containDelete button {
  padding: 0.4rem;
  width: 8rem;
  background-color: rgb(221, 1, 1);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
.modalProducts .containDelete button:hover {
  background-color: rgb(189, 3, 3);
  cursor: pointer;
}
.modalProducts .containDelete .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.modalProducts .containDelete .error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 15px;
  color: rgb(0, 0, 0);
}
.modalProducts .containDelete .error img {
  width: 30px;
}
