.containDetails {
  width: 25rem;
  border-radius: 3px;
  height: 23rem;
  background-color: white;
  margin-left: 9rem;
  margin-top: 8rem;
  padding-bottom: 3rem;
}

.containDetails .header {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 21px;
}

.containDetails .header button {
  width: 2rem;
  height: 2rem;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background-color: red;
  color: white;
}

.containDetails .header button:hover {
  background-color: rgb(207, 1, 1);
}

.containDetails .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 18px;
}

.containDetails .title img {
  width: 45px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 100%;
  
}
.avatar img{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height:132px;
  width:132px;
  border-radius: 100%;
  
}

.column {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.column span {
  font-weight: bold;
}

.column a {
  font-weight: normal;
}

.noDataUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  font-size: 15px;
  color: gray;
  margin-top: 5.5rem;
}

.noDataUser img {
  opacity: 70%;
  width: 85px;
}
