* {
  margin: 0px;
  padding: 0px;
}

#navAdmin {
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
  width: 11rem;
  height: 103.2vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#navAdmin .titleNav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 0.5rem;
  color: white;
  font-weight: bold;
}

#navAdmin .titleNav span {
  margin-top: 0.8rem;
}

#navAdmin .titleNav img {
  width: 40px;
}

#navAdmin .menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 0rem;
  height: 70%;
  color: white;
  list-style: none;
}

#navAdmin .menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11rem;
  height: auto;
  min-height: 2.2rem;
  padding-top: 0.6rem;
  justify-content: space-between;
}

.liBookingMarginTop {
  margin-top:7.5rem;
}

#navAdmin .menu li:hover {
  cursor: pointer;
  background-color: rgb(5, 141, 146);
}

#navAdmin .menu li .item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  position: relative;
  margin-left: 3rem;
}

#navAdmin .menu li .nameOption {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding-right: 1rem;
}

.nameOptionHome a {
  margin-top: 0.3rem;
}

#navAdmin .menu li .btnDisplaySubMenu {
  width: 14px;
  left: 8.4rem;
  position: absolute;
  display: none;
  cursor: pointer;
}

#navAdmin .menu li .btnDisplaySubMenu:hover {
  transform: scale(1.1);
}

#navAdmin .menu li img {
  width: 25px;
}

#navAdmin .loadingUser {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  gap: 0.5rem;
}

#navAdmin .loadingUser img {
  width: 30px;
  margin-top: 0.2rem;
}

#navAdmin .subMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  margin-top: 0.5rem;
}

#navAdmin .subMenu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid rgb(165, 165, 165);
  width: 11rem;
  background-color: rgb(49, 49, 49);
  font-size: 15px;
  gap: 0.5rem;
}

#navAdmin .subMenu li img {
  width: 20px;
  margin-left: 3rem;
}

#navAdmin .subMenu li:hover {
  background-color: rgb(37, 37, 37);
}

#navAdmin .subMenu li:hover {
  background-color: rgb(37, 37, 37);
}

#userAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(7, 145, 150);
  width: 100%;
  height: 3rem;
  color: white;
  list-style: none;
}

#userAdmin li {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0.5rem;
  gap: 1rem;
  color: white;
  font-size: 17px;
}

#userAdmin .profile {
  gap: 0.5rem;
}

#userAdmin .profile span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 7rem;
}

#userAdmin li .btnDisplayMenu {
  width: 14px;
  visibility: hidden;
  cursor: pointer;
}

#userAdmin li .btnDisplayMenu:hover {
  transform: scale(1.1);
}

#userAdmin li img {
  width: 30px;
}

#userAdmin li .iconProfile {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

#userAdmin .subMenuProfile {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: -5rem;
}

#userAdmin .subMenuProfile li {
  display: flex;
  align-items: center;
  margin-top: 0;
  width: 11rem;
  height: auto;
  border-bottom: 1px solid gray;
  gap: 0.4rem;
  font-size: 15px;
  cursor: pointer;
  justify-content: start;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: rgb(49, 49, 49);
}

#userAdmin .subMenuProfile li img {
  width: 20px;
  margin-left: 3rem;
}

#userAdmin .subMenuProfile li:hover {
  background-color: rgb(36, 36, 36);
}

body {
  background-color: rgb(243, 243, 243);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: start;
  gap: 2rem;
  height: 100vh;
  gap: 0;
}
body #navAdmin {
  height: 100vh;
}
body #navAdmin .titleNav {
  margin-top: 1.8rem;
}

.bodyMaintenance {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: -0.1rem;
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.menuBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 5.1rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  width: 100%;
  background-color: white;
  padding-top: 0.5rem;
  box-shadow: 2px 2px 2px rgb(172, 172, 172);
}
.menuBar nav,
.menuBar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuBar ul {
  list-style: none;
  gap: 3rem;
  margin-left: 6rem;
  margin-top: 0.3rem;
}
.menuBar li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  padding: 0.2rem;
  cursor: pointer;
}
.menuBar li img {
  width: 45px;
}
.menuBar li:hover {
  border-bottom: 3px solid rgb(1, 187, 147);
}

.optionMarkActual {
  border-bottom: 3px solid rgb(1, 187, 147);
}

.loadingPage {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  opacity: 100%;
  color: rgb(158, 158, 158);
  background: none;
  border-radius: 5px;
  padding: 1rem;
  margin-left: 7rem;
  margin-top: 13rem;
}
.loadingPage img {
  width: 50px;
  opacity: 60%;
}

.pageNotFound {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 20px;
  align-items: center;
  height: auto;
  margin-left: 7rem;
  margin-top: 11rem;
  opacity: 100%;
  background: none;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 1.5rem;
  color: gray;
  border-radius: 5px;
  border-top-right-radius: 0;
}
.pageNotFound img {
  width: 120px;
  opacity: 75%;
}
.pageNotFound .headerPageNotFound {
  display: none;
  justify-content: flex-end;
  width: 110%;
}
.pageNotFound .headerPageNotFound button {
  background-color: rgb(231, 0, 0);
  padding: 0.2rem;
  width: 2rem;
  height: 1.5rem;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}
.pageNotFound .headerPageNotFound button:hover {
  background-color: rgb(182, 4, 4);
}

.modalMaintenance {
  position: absolute;
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 133%;
  background: rgba(44, 44, 44, 0.6);
}

.modalMaintenance .loadingPage {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-top: 17rem;
  margin-left: 6rem;
  background-color: white;
  padding: 1rem;
  border-radius: 3px;
  color: gray;
}
.modalMaintenance .loadingPage img {
  width: 40px;
  opacity: 70%;
}
.modalMaintenance .pageNotFound {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 18px;
  align-items: center;
  height: auto;
  margin-left: 6rem;
  margin-top: 14rem;
  opacity: 100%;
  background-color: white;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 1.5rem;
  color: gray;
  border-radius: 5px;
  border-top-right-radius: 0;
}
.modalMaintenance .pageNotFound img {
  width: 95px;
  opacity: 75%;
}
.modalMaintenance .pageNotFound .headerPageNotFound {
  display: flex;
  justify-content: flex-end;
  width: 110%;
}
.modalMaintenance .pageNotFound .headerPageNotFound button {
  background-color: rgb(231, 0, 0);
  padding: 0.2rem;
  width: 2rem;
  height: 2rem;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}
.modalMaintenance .pageNotFound .headerPageNotFound button:hover {
  background-color: rgb(182, 4, 4);
}

#alertRefreshToken {
  top: 0;
  width: 100%;
  height: 105vh;
  position: absolute;
  z-index: 5;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#alertRefreshToken .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 19px;
  font-weight: bold;
  color: black;
}

#alertRefreshToken .row img {
  width: 45px;
  height: 45px;
}

#alertRefreshToken button {
  width: 11rem;
  height: 2.5rem;
  border-radius: 33px;
  background-color: rgb(248, 163, 5);
  border: none;
  display: flex;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 14px;
}

#alertRefreshToken button:hover {
  background-color: rgb(216, 146, 15);
}

#alertRefreshToken button img {
  width: 25px;
  height: 25px;
}
