@media only screen and (max-width: 600px) {
  .mainContain {
    width: 95%;
    height: 36%;
    border-radius: 4px;
    background-color: white;
    margin-top: 2rem;
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .mainContain .headerWindow {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
    color: white;
    font-weight: bold;
    padding-bottom: 0.5rem;
    box-shadow: 2px 2px 2px gray;
  }
  .mainContain .headerWindow button {
    background-color: rgb(233, 3, 3);
    color: white;
    font-weight: bold;
    height: 2rem;
    width: 2rem;
    border: none;
  }
  .mainContain .headerWindow button:hover {
    background-color: rgb(212, 4, 4);
    cursor: pointer;
  }
  .mainContain .headerWindow .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 16px;
    margin-top: 1rem;
    width: 100%;
  }
  .mainContain .headerWindow .title img {
    width: 40px;
  }

  .mainContain .containData {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
    height: 90%;
  }

  .mainContain .noData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    width: 95%;
    gap: 0.5rem;
    height: 87%;
    color: rgb(153, 153, 153);
  }
  .mainContain .noData img {
    width: 70px;
    opacity: 80%;
  }

  .mainContain .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    gap: 0.5rem;
    height: 87%;
    color: rgb(170, 170, 170);
  }
  .mainContain .loading img {
    width: 40px;
    opacity: 50%;
  }

  .mainContain .containTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94%;
    height: 92%;
    border-radius: 3px;
    box-shadow: 2px 2px 2px gray;
    margin-top: 2rem;
    border: 1px solid rgb(172, 172, 172);
  }
  .mainContain .containTable .headerTable {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }
  .mainContain .containTable h4 {
    font-size: 16px;
    margin-top: 1rem;
    color: rgb(0, 0, 0);
  }
  .mainContain .containTable .searchSelect {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    border-radius: 3px;
    width: auto;
    height: auto;
    background-color: white;
  }
  .mainContain .containTable .searchSelect .containSelect {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 0.2rem;
    position: relative;
    padding-left: 0;
  }
  .mainContain .containTable .searchSelect .containSelect select {
    width: 11rem;
    height: 2rem;
    border-radius: 3px;
    outline: none;
  }
  .mainContain .containTable .searchSelect .containSelect button {
    background-color: rgb(10, 168, 196);
    border: none;
    height: 2rem;
    width: 2.2rem;
    position: absolute;
    margin-left: 3rem;
    border-radius: 3px;
    cursor: pointer;
  }
  .mainContain .containTable .searchSelect .containSelect button img {
    width: 15px;
    height: 15px;
    border-radius: 3px;
  }
  .mainContain .containTable .searchSelect .containSelect button:hover {
    background-color: rgb(15, 151, 175);
  }
  .mainContain .containTable .containInput {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 0;
  }
  .mainContain .containTable .containInput input {
    width: 12rem;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1.8rem;
    height: 1.9rem;
    border-radius: 3px;
    border: 1px solid rgb(153, 153, 153);
    outline: none;
  }
  .mainContain .containTable .containInput img {
    width: 15px;
    height: 15px;
  }
  .mainContain .containTable .containInput button {
    background-color: rgb(10, 168, 196);
    padding: 0.5rem;
    border-radius: 3px;
    border: none;
    position: absolute;
    margin-left: 3rem;
    top: 0rem;
    width: 2.3rem;
    height: 2rem;
    cursor: pointer;
  }
  .mainContain .containTable .containInput button:hover {
    background-color: rgb(15, 151, 175);
  }
  .mainContain .containTable .controls {
    padding: 1rem;
    border-top: 1px solid rgb(204, 204, 204);
    width: 89%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 1rem;
    color: rgb(0, 0, 0);
    margin-top: 1rem;
  }
  .mainContain .containTable .prev:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .mainContain .containTable .next:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .mainContain .scrollTableRecord {
    width: 100%;
    height: 25rem;
    overflow-x: scroll;
    overflow-y: scroll;
  }

  .mainContain table {
    width: 150%;
  }

  .mainContain table thead {
    background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
    color: white;
    font-size: 17px;
  }
  .mainContain table thead th {
    padding: 0.5rem;
    font-size: 15px;
  }
  .mainContain table tbody {
    font-size: 15px;
  }
  .mainContain table tbody td {
    padding: 0.5rem;
    font-size: 15px;
    text-align: center;
  }
  .mainContain table .iconIdBooking {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .mainContain table .iconIdBooking img {
    width: 25px;
  }
  .mainContain table .iconIdBooking:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .mainContain table .client:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .mainContain table tfoot .containNoFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    text-align: center;
    font-size: 15px;
    color: rgb(180, 180, 180);
  }
  .mainContain table tfoot .containNoFound img {
    width: 61px;
    opacity: 100%;
  }

  .mainContain table tfoot .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    gap: 0.5rem;
    width: 100%;
    height: 16rem;
    color: rgb(170, 170, 170);
  }
  .mainContain table tfoot .loading img {
    width: 40px;
    opacity: 50%;
  }

  .mainContain .rowGray {
    background-color: rgb(212, 212, 212);
  }

  .mainContain .rowWhite {
    background-color: rgb(255, 255, 255);
  }
}
