<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>


    <div class="containChartMain">


        <div class="header">
            <div class="search">
                <div class="containSearch">
                    <select class="selectYear"></select>
                    <button class="btnSearch"> <img src="../../../img/search.png"></button>
                </div>

            </div>
            <div class="chartTitle">
                <h3 class="titleChart">Categorias mas reservadas</h3>
                <img src="../../../img/pieChart.png">
            </div>
        </div>

        <div class="loading">

            <img src="../../../img/barCharSpinner.gif">
            <span>Cargando datos</span>
        </div>

        <div class="noData">

            <img src="../../../img/sinDatosGrafica.png">
            <span>No se encontraron datos</span>
        </div>
        <div id="chartRooms"></div>


    </div>

</body>

</html>