<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../estilos/styleRoomsAdmin/styleRooms.css">
</head>

<body>

    <div class="containRooms">

        <div class="containCategoryRooms">
            <ul class="categorysRooms"></ul>

            <div class="containCharts"></div>
        </div>

        <div class="rooms">
            <ul class="itemsRooms">

            </ul>
        </div>
    </div>

</body>

</html>