@media only screen and (max-width: 600px) {
  .containEditService {
    width: 93%;
    height: auto;
    padding-bottom: 2rem;
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 0;
  }

  .containEditService .header {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
  }

  .containEditService .header button {
    width: 2rem;
    cursor: pointer;
    height: 2rem;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(221, 0, 0);
    color: white;
    border: none;
  }

  .containEditService .header button:hover {
    background-color: rgb(168, 1, 1);
  }

  .titleEditService {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .titleEditService img {
    width: 45px;
  }

  .containEditService form {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .containEditService form input {
    width: 11rem;
    height: 1.9rem;
    font-size: 17px;
    border-radius: 3px;
    border: 1px solid gray;
    outline: none;
  }

  .containEditService form input::placeholder {
    font-size: 16px;
  }
  .containEditService form #precio {
    padding-left: 2rem;
    background-image: url("../../../img/coin.png");
    background-position-x: 0.5rem;
    background-position-y: 0.3rem;
    background-size: 17px;
    background-repeat: no-repeat;
  }

  .containEditService #containInputIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .containEditService .imageService {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    border-radius: 3px;
    height: 8rem;
    border: 1px solid rgb(155, 155, 155);
    box-shadow: 1px 1px 1px gray;
  }

  .containEditService .imageService img {
    width: 60%;
    height: 60%;
  }

  .containEditService textarea {
    resize: none;
    width: 16rem;
    font-size: 15px;
    height: 5rem;
    border-radius: 3px;
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
  }

  .containEditService form input:hover,
  .containEditService textarea:hover {
    border: 2px solid rgb(1, 155, 160);
  }

  .containEditService .columnInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }

  .containEditService .file-select {
    position: relative;
    display: inline-block;
  }

  .containEditService .file-select::before {
    background: linear-gradient(rgb(63, 189, 178), rgb(1, 155, 160));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: "Seleccionar";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .containEditService .file-select input[type="file"] {
    opacity: 0;
    width: 9rem;
    height: 2rem;
    border: none;
    display: inline-block;
  }

  .containEditService #src-file::before {
    content: "Seleccionar";
  }

  .containEditService .btnUpdate {
    width: 9rem;
    background: linear-gradient(rgb(63, 189, 178), rgb(1, 155, 160));
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 0.4rem;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-top: 1rem;
    height: 2rem;
  }

  .containEditService .btnUpdate img {
    width: 22px;
    height: 22px;
    display: none;
  }
  .containEditService .btnUpdate:hover {
    background: linear-gradient(rgb(57, 158, 150), rgb(1, 155, 160));
  }

  .containEditService .errorInput {
    color: red;
    font-size: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    position: absolute;
    margin-top: 3.7rem;
  }

  .containEditService .errorInput img {
    width: 22px;
    height: 22px;
  }

  .containEditService #containDescriptionService .errorInput {
    margin-top: 7.5rem;
  }

  .containEditService #containInputIcon .errorIcon {
    color: red;
    font-size: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    position: absolute;
    margin-top: 11rem;
  }

  .containEditService #containInputIcon .errorIcon img {
    width: 22px;
    height: 22px;
  }

  .containEditService .inputError {
    color: red;
    border: 1px solid red;
  }

  .containEditService .inputError:hover {
    border: 2px solid red;
  }

  .containEditService .inputError::placeholder {
    color: red;
  }

  .modalServices .modalAlert {
    position: absolute;
    z-index: 2;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 44, 44, 0.6);
  }
  .modalServices .modalAlert .alertError,
  .modalServices .modalAlert .alertSuccesfully {
    width: 73%;
    height: 12rem;
    background-color: white;
    display: none;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 3px;
    margin-left: 0;
    margin-top: 0;
  }

  .modalServices .modalAlert .alertError p,
  .modalServices .modalAlert .alertSuccesfully p {
    font-size: 16px;
    width: 18rem;
    text-align: center;
  }

  .modalServices .modalAlert .alertError img,
  .modalServices .modalAlert .alertSuccesfully img {
    width: 45px;
  }

  .modalServices .modalAlert .alertError button,
  .modalServices .modalAlert .alertSuccesfully button {
    width: 7rem;
    height: 2rem;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: none;
    margin-top: 1rem;
  }

  .modalServices .modalAlert .alertSuccesfully button {
    background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
  }

  .modalServices .modalAlert .alertSuccesfully button:hover {
    background: linear-gradient(rgb(38, 114, 108), rgb(1, 155, 160));
  }

  .modalServices .modalAlert .alertError button {
    background: red;
  }

  .modalServices .modalAlert .alertError button:hover {
    background: rgb(199, 22, 22);
  }

  .containEditService .noService {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 65%;
    font-size: 14px;
    color: gray;
  }

  .containEditService .noService img {
    width: 84px;
    height: 84px;
    opacity: 75%;
  }
}
