<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="../../../estilos/styleReservasAdmin/styleAddBooking.css" as="style"
        onload="this.rel='stylesheet'">

</head>

<body>

    <div class="containCalendar">

        <div id="mainCalendar"></div>

        <div class="referencesBookingStatus">

            <div class="end">

                <span>Finalizadas</span>
            </div>

            <div class="inCurse">

                <span>En curso</span>
            </div>


            <div class="next">

                <span>Pendientes</span>
            </div>

        </div>
    </div>
    <br><br>


</body>

</html>