<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../estilos/styleReservasAdmin/styleTableBookings.css">

</head>

<body>

    <div class="containTable">


        <div class="titleTable">
            <h3>Registro reservas</h3>
        </div>
        <div class="header">
            <div class="containRowSearch">
                <div class="containSelect">
                    <div class="search">
                        <select class="selectYears"></select>
                        <button class="btnSearch"> <img src="../../../img/search.png"></button>
                    </div>
                </div>

                <div class="containSearch">

                    <div class="containInput">
                        <input class="inputSearch" type="text" placeholder="Buscar...">
                        <button class="btnSearchInput">
                            <img src="../../../img/search.png">
                        </button>
                    </div>
                </div>

            </div>
    
        </div>

        <div class="scroll">

            <table class="tableBookings">


                <thead>

                    <tr>
                        <th>id reserva</th>
                        <th>Cliente</th>
                        <th>Llegada</th>
                        <th>Salida</th>
                        <th class="thQuantityRooms">Habitaciones</th>
                        <th>Opciones</th>

                    </tr>
                </thead>

                <tbody></tbody>
                <tfoot></tfoot>


            </table>
        </div>
        <hr>

        <div class="controls">

            <span class="prev">Anterior</span>
            <span class="pageIndex"></span>
            <span class="next">Siguiente</span>

        </div>
    </div>

</body>

</html>