<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../estilos/styleReservasAdmin/scss-styleTableBookings.scss">

</head>

<body>

    <div class="containTable">

        <div class="header">

            <div class="containSearch">

                <div class="containSelect">
                    <select class="selectYears"></select>
                    <button>Buscar</button>
                </div>

                <div class="containInput">
                    <input class="inputSearch" type="text" placeholder="Buscar...">
                </div>
            </div>
            <h3>Reservas</h3>
        </div>

        <div class="scroll">

            <table class="tableBookings">


                <thead>

                    <tr>
                        <th>id</th>
                        <th>Cliente</th>
                        <th>LLegada</th>
                        <th>Salida</th>
                        <th>Cantidad habitaciones</th>
                        <th>Opciones</th>

                    </tr>
                </thead>

                <tbody></tbody>

                <tfoot class="message"></tfoot>

            </table>
        </div>
        <hr>

        <div class="controls">

            <span class="prev">Anterior</span>
            <span class="pageIndex"></span>
            <span class="next">Siguiente</span>

        </div>
    </div>

</body>

</html>