.containTable {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  margin-top: 2rem;
  margin-left: 10rem;
  color: black;
  border-radius: 6px;
  font-size: 18px;
  box-shadow: 2px 2px 2px gray;
  background-color: white;
  gap: 1rem;
  width: auto;
}
.containTable .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 99%;
  gap:0;
  margin-top: 1rem;
}

.containTable .header .titleTable h3 {
  color: rgb(0, 0, 0);
  font-size: 22px;
}


.containTable .header .containSearch {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.containTable .header .containInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}
.containTable .header .containInput input {
  padding-left: 1rem;
  padding-right: 3rem;
  border: 1px solid rgb(173, 173, 173);
  width: 8rem;
  height: 1.9rem;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgb(230, 230, 230);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position-x: 0.5rem;
  background-position-y: 0.5rem;
  outline: none;
}
.containTable .header .containInput button {
  background-color: rgb(0, 189, 173);
  box-shadow: none;
  position: absolute;
  left: 25rem;
  border-radius: 2px;
  color: white;
  width: 44px;
  height: 2.1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.containTable .header .containInput img {
  width: 18px;
}
.containTable .header .containInput button:hover {
  background-color: rgb(3, 145, 133);
}
.containTable .header .containSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  gap: 0.4rem;
  width: 10.4rem;
  margin-left: 1rem;
}

.containTable .header .containSelect select {
  width: 10rem;
  border-radius: 3px;
  outline: none;
  height: 31px;
  border: 1px solid rgb(180, 180, 180);
}
.containTable .header .containSelect .search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.containTable .header .containSelect button {
  background-color: rgb(0, 189, 173);
  color: white;
  position: absolute;
  border-radius: 3px;
  width: 42px;
  left: 10rem;
  height: 1.9rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.containTable .header .containSelect button img {
  width: 17px;
}
.containTable .header .containSelect button:hover {
  background-color: rgb(3, 145, 133);
}

.scroll {
  height: auto;
  max-width: 61rem;
  width: auto;
  max-height: 22rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.controls {
  gap: 1.5rem;
  font-size: 17px;
  color: rgb(0, 0, 0);
  width: 100%;
  padding-top: 1rem;
  border-top: 1px solid rgb(223, 223, 223);
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tableBills {
  width: 59rem;
  padding-top: 1rem;
}
.tableBills thead {
  width: auto;
}
.tableBills thead th {
  padding: 1rem;
}
.tableBills thead .thQuantityRooms {
  font-size: 14px;
}
.tableBills thead tr {
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
  color: white;
}
.tableBills tbody td {
  padding: 0.5rem;
  width: auto;
  text-align: center;
}
.tableBills tbody td .idBooking {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  gap: 0.4rem;
  margin-left: 0.5rem;
}
.tableBills tbody td .idBooking .bar {
  width: 3rem;
  height: 0.2rem;
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  justify-content: start;
}
.tableBills tbody td .idBooking .bar .contentBar {
  width: 40%;
  background-color: #00e257;
  height: 100%;
  border-radius: 20px;
  animation-name: inCurse;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
@keyframes inCurse {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 2rem;
  }
}
.tableBills tbody td .idBooking .iconStatus {
  width: 16px;
}
.tableBills tbody td .idBooking img {
  width: 18px;
  cursor: pointer;
}
.tableBills tbody td .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: white;
}
.tableBills tbody td .buttons img {
  width: 25px;
}
.tableBills tbody td .buttons button {
  box-shadow: 1px 1px 1px gray;
  border: none;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  background: linear-gradient(rgb(57, 170, 161), rgb(1, 155, 160));
  display: flex;
  justify-content: center;
  width: 3.8rem;
  cursor: pointer;
}
.tableBills tbody td .buttons button:hover {
  background: linear-gradient(rgb(52, 146, 138), rgb(15, 124, 128));
}
.tableBills tbody .tdId {
  width: 5rem;
}
.tableBills .trGray {
  background-color: rgb(235, 235, 235);
}
.tableBills .loading {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-top: 2rem;
  padding-bottom: 2rem;
  opacity: 60%;
}
.tableBills .loading img {
  width: 40px;
}

.noData,
.noResults {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: auto;
  font-weight: bold;
  font-size: 18px;
  color: grey;
  margin-top: 2rem;
}
.noData img,
.noResults img {
  width: 80px;
  opacity: 80%;
}

/*# sourceMappingURL=styleTableBills.css.map */
