<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>


    <div class="containFormAdd">
        <form>

            <div class="title">

                <h3>Agregar cliente</h3>
                <img src="../../../img/agregarCliente.png">
            </div>

            <div class="row1">
                <div class="name">

                    <label for="inputName">Nombre</label>
                    <input type="text" id="inputName" name="name" placeholder="Ingrese nombre">
                    <span class="msjError"></span>
                </div>

                <div class="lastName">

                    <label for="inputLastName">Apellido</label>
                    <input type="text" id="inputLastName" name="lastName" placeholder="Ingrese apellido">
                    <span class="msjError"></span>
                </div>
            </div>


            <div class="row2">
                <div class="phone">

                    <label for="inputPhone">Telefono</label>
                    <input type="text" id="inputPhone" name="phone" placeholder="Ingrese telefono">
                    <span class="msjError"></span>
                </div>

                <div class="mail">

                    <label for="inputMail">Correo</label>
                    <input type="text" id="inputMail" name="mail" placeholder="Ingrese correo">
                    <span class="msjError"></span>
                </div>
            </div>

            <div class="buttons">

                <button type="submit">Agregar</button>
                <button>Limpiar</button>

            </div>

        </form>
    </div>

</body>

</html>