<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div class="containTable">

        <div class="header">
            <div class="containSearch">
                <input class="inputSearch" type="text" placeholder="Buscar...">
            </div>
            <div class="titleTable">
                <h3>Clientes</h3>
            </div>

        </div>

        <div class="scroll">

            <table class="tableClients">


                <thead>

                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Opciones</th>

                    </tr>
                </thead>

                <tbody></tbody>

                <tfoot></tfoot>

            </table>
        </div>
        <hr>

        <div class="controls">

            <span class="prev">Anterior</span>
            <span class="pageIndex"></span>
            <span class="next">Siguiente</span>

        </div>
    </div>

</body>

</html>