<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


    <div class="containChart">

        <div class="header">
            <div class="search">
                <div class="title">
                    <span>Graficar por año</span>
                </div>
                <div class="containSearch">
                    <select class="selectYear"></select>
                    <button class="btnSearch"> <img src="../../../img/search.png"></button>
                </div>

            </div>

            <div class="titleChart">
                <h3>Cantidad de clientes por mes</h3>
                <img src="../../../img/grafica.png">
            </div>
        </div>

        <div class="loading">

            <img src="../../../img/barCharSpinner.gif">
            <span>Cargando datos</span>
        </div>

        <div class="noData">

            <img src="../../../img/sinDatosGrafica.png">
            <span>No se encontraron datos</span>
        </div>
        <div id="chartClients"></div>


    </div>

</body>

</html>