<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="../../../estilos/styleRevenuesAdmin/styleTableBills.css" as="style"
        onload="this.rel='stylesheet'">

</head>

<body>

    <div class="containTable">

        <div class="titleTable">
            <h3>Registro de Facturas</h3>
        </div>

        <div class="header">
            <div class="containSelect">

                <div class="search">
                    <select class="selectYear">
                        <option selected value="thisWeek">Esta semana</option>
                    </select>
                    <button class="btnSearch"> <img src="../../../img/search.png"></button>
                </div>
            </div>
            <div class="containSearch">
                <div class="containInput">
                    <input class="inputSearch" type="text" placeholder="Buscar...">
                    <button class="btnSearchInput">
                        <img src="../../../img/search.png">
                    </button>
                </div>
            </div>

        </div>

        <div class="scroll">

            <table class="tableBills">


                <thead>

                    <tr>
                        <th>id Reserva</th>
                        <th>Cliente</th>
                        <th>Fecha llegada</th>
                        <th>Fecha salida</th>
                        <th>Deposito</th>
                        <th>Opciones</th>

                    </tr>
                </thead>

                <tbody></tbody>
                <tfoot></tfoot>


            </table>
        </div>
        <hr>

        <div class="controls">

            <span class="prev">Anterior</span>
            <span class="pageIndex"></span>
            <span class="next">Siguiente</span>

        </div>
    </div>

</body>

</html>