<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../estilos/styleMaintenanceAdmin/styleTableUsers.css">
</head>

<body>


    <div class="containUsers">

        <div class="header">
            <div class="containInput">
                <input class="inputSearch" type="text" placeholder="Buscar usuario">
                <button class="btnSearchInput">
                    <img src=" ../../../img/search.png">
                </button>
            </div>
            <div class="title">
                <h3>Usuarios del sistema</h3>
            </div>

            <button class="btnAddUser">
                <span>Agregar usuario</span>
                <img src="../../../img/addUser.png">
            </button>
        </div>
        <div class="scroll">
            <table class="tableUsers">
                <thead>

                    <th>Id Usuario</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Rol</th>
                    <th>Opciones</th>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>

            </table>
        </div>

        <hr>

        <div class="controls">
            <span class="prev">Anterior</span>
            <span class="pageIndex"></span>
            <span class="next">Siguiente</span>

        </div>
    </div>

</body>

</html>