<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../estilos/styleEditProfile/styleMain.css">
    <link rel="stylesheet" href="../../../estilos/styleEditProfile/styleChangeAvatar.css">
    <script type="module" src="../../../js/scriptsEditProfile/userData.js" defer></script>
    <title>Editar perfil</title>
</head>

<body>

    <div class="modal"></div>
    <header>
        <li onclick="location.href='../index.php'">
            <img src="../../../img/home.png">
            <a>Inicio</a>
        </li>

        <div class="title">
            <h3>Editar Perfil</h3>
        </div>
    </header>

    <div class="containForm">

        <div class="loadingUser">

            <span>Cargando datos perfil</span>
            <img src="../../../img/spinnerMain.gif">

        </div>

        <div class="noDataUser">
            <img src="../../../img/userNoFound.png">
            <span>Ups,no se pudieron cargar los datos</span>
        </div>

        <form>
            <div class="avatar">
                <div class="icon">
                    <img src="../../../img/avatarMan.png">
                </div>
            </div>
            <button type="button" class="changeAvatar">
                <span>Editar</span>
                <img src="../../../img/editProfileAvatar.png">
            </button>
            <h4>Agustin Miranda</h4>

            <div class="inputs">

                <div class="rol">
                    <label>Rol:</label>
                    <input readonly id="rol" type="text">

                </div>
                <div class="row">
                    <div class="name">

                        <label>Nombre</label>
                        <input type="text" id="nombre" name="name">
                        <div class="errorInput">
                            <img src="../../../img/warningInput.png">
                            <p></p>
                        </div>
                    </div>
                    <div class="lastname">

                        <label>Apellido</label>
                        <input type="text" id="apellido" name="lastname">
                        <div class="errorInput">
                            <img src="../../../img/warningInput.png">
                            <p></p>
                        </div>

                    </div>
                </div>

                <div class="rowTwo">
                    <div class="user">
                        <label>Usuario</label>
                        <input type="text" id="usuario" name="user">
                        <div class="errorInput">
                            <img src="../../../img/warningInput.png">
                            <p></p>
                        </div>
                    </div>

                    <div class="email">
                        <label>Correo</label>
                        <input type="text" id="correo" name="email">
                        <div class="errorInput">
                            <img src="../../../img/warningInput.png">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btnSave">Guardar</button>
        </form>
    </div>

    </div>

</body>

</html>

