@import "../mixinsGeneral.scss";

body {
  @include body;
  display: flex;
  width: 100%;
}

.bodyBookings {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.menuBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: white;
  margin-left: 8rem;
  padding-top: 0.5rem;
  box-shadow: 2px 2px 2px rgb(172, 172, 172);

  .title {
    font-size: 20px;
    color: rgb(168, 168, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img {
      width: 50px;
    }
  }

  ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-size: 18px;
    color: rgb(177, 177, 177);
    font-weight: bold;

    li {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      padding: 1rem;
      padding-bottom: 0.4rem;
      cursor: pointer;

      img {
        width: 30px;
      }
    }

    li:hover {
      border-bottom: 2px solid rgb(1, 187, 147);
    }
  }
}

.optionMarkActual {
  border-bottom: 3px solid rgb(1, 187, 147);
}

.option {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.modalMainBookings {
  position: absolute;
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content:start;
  margin: auto;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background: rgba(44, 44, 44, 0.6);
}

