.containCalendar {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: auto;
  background-color: white;
  padding: 1rem;
  box-shadow: 2px 2px 2px gray;
  border-radius: 3px;
  margin-left: 17rem;
  border-top: 3px solid rgb(0, 192, 199);
  padding-bottom: 2rem;
}
.containCalendar .referencesBookingStatus {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 17px;
  margin-top: 1.5rem;
}
.containCalendar .referencesBookingStatus .end,
.containCalendar .referencesBookingStatus .next,
.containCalendar .referencesBookingStatus .inCurse {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c20000;
  box-shadow: 1px 1px 1px rgb(133, 133, 133);
  width: 13rem;
  height: 2rem;
  border-radius: 4px;
}
.containCalendar .referencesBookingStatus .next {
  background-color: #0924bb;
}
.containCalendar .referencesBookingStatus .inCurse {
  background-color: #0ba8ad;
}

#mainCalendar {
  width: 60rem;
  height: 30rem;
}
#mainCalendar h2 {
  color: rgb(189, 189, 189);
}
#mainCalendar button {
  background-color: rgb(2, 179, 155);
  border: none;
}
#mainCalendar button:hover {
  background-color: rgb(4, 145, 126);
}

.modalOptionAddBooking {
  position: absolute;
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 44, 44, 0.6);
}
.modalOptionAddBooking .alertGuests {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 1rem;
  align-items: center;
  width: 20rem;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 4rem;
  color: rgb(153, 153, 153);
}
.modalOptionAddBooking .alertGuests p {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.modalOptionAddBooking .alertGuests img {
  width: 72px;
}
.modalOptionAddBooking .alertGuests button {
  width: 7rem;
  height: 2rem;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 2px black;
  border: none;
  border-radius: 3px;
  background-color: #c40303;
  font-size: 18px;
  margin-top: 1rem;
  cursor: pointer;
}
.modalOptionAddBooking .alertGuests button:hover {
  background-color: #920606;
}

.containOptions {
  width: 60rem;
  height: 36rem;
  background-color: white;
  border-radius: 5px;
  margin-left: 6rem;
  margin-top: 2rem;
}
.containOptions .close {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.containOptions .close button {
  background-color: rgb(3, 145, 121);
  padding: 0.5rem;
  padding-top: 0.4rem;
  height: 1.6rem;
  border: none;
  color: white;
  cursor: pointer;
}
.containOptions .close button:hover {
  background-color: rgb(6, 129, 109);
}
.containOptions ul {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  margin-top: -2rem;
}
.containOptions ul li {
  list-style: none;
  color: rgb(110, 110, 110);
  cursor: pointer;
  padding-bottom: 0.5rem;
}
.containOptions ul li:hover {
  border-bottom: 2px solid rgb(0, 179, 179);
}
.containOptions .optionAddBooking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containFormAndCart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containFormAndCart .noDataFormAdd {
  display: none;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  opacity: 60%;
  font-size: 21px;
  text-align: center;
  margin-top: 7rem;
  color: rgb(151, 151, 151);
}
.containFormAndCart .noDataFormAdd img {
  width: 113px;
}
.containFormAndCart .noDataFormAdd h3 {
  width: 21rem;
}
.containFormAndCart .loading {
  display: none;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  opacity: 60%;
  margin-top: 7rem;
}
.containFormAndCart .loading img {
  width: 50px;
}

.row {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}

.cartRooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  height: auto;
  max-height: 25rem;
  width: 16rem;
  border-radius: 4px;
  padding: 1rem;
  border: 1px solid rgb(202, 202, 202);
  box-shadow: 2px 2px 2px gray;
  background: linear-gradient(rgb(0, 138, 115), rgb(1, 155, 160));
  color: white;
}
.cartRooms ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 99%;
  height: auto;
  max-height: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 1rem;
}
.cartRooms .noRoomsCart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  opacity: 80%;
}
.cartRooms .noRoomsCart img {
  width: 53px;
}
.cartRooms .noRoomsCart span {
  color: white;
  font-size: 17px;
}
.cartRooms li {
  padding: 0.5rem;
  padding-top: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #ffffff;
  list-style: none;
  border-radius: 5px;
  color: white;
  width: 99%;
  box-shadow: 2px 2px 2px rgb(114, 114, 114);
}
.cartRooms li .row {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-top: 0.3rem;
  color: rgb(37, 37, 37);
}
.cartRooms li .icon {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartRooms li .icon img {
  width: 90px;
  height: 50px;
}
.cartRooms li .icon,
.cartRooms li .info {
  background: #e6e6e6;
  border-radius: 5px;
}
.cartRooms li .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  background-color: white;
}
.cartRooms li .info h5 {
  font-size: 17px;
}
.cartRooms li .info .guests {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 16px;
}
.cartRooms li .info .guests .containAdults,
.cartRooms li .info .guests .containChilds {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.cartRooms li .price,
.cartRooms li .header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: rgb(37, 37, 37);
}
.cartRooms li .header {
  font-weight: bold;
  font-size: 15px;
  padding-left: 0.2rem;
  justify-content: space-between;
}
.cartRooms li .header img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.cartRooms .total {
  display: none;
  color: black;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 1rem;
  font-weight: bold;
  font-size: 17px;
  padding: 1rem;
  background-color: white;
  border-radius: 4px;
}

.containForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 35rem;
  height: auto;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  padding-top: 1.5rem;
  margin-top: -1rem;
  margin-left: 2rem;
}
.containForm .title {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.containForm .title h3 {
  font-size: 19px;
  color: rgb(184, 184, 184);
}
.containForm .title img {
  width: 50px;
}
.containForm .nights {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: rgb(172, 172, 172);
}
.containForm .nights img {
  width: 30px;
  opacity: 33%;
}
.containForm form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  font-size: 18px;
  color: rgb(165, 165, 165);
  padding-top: 1rem;
}
.containForm form .rowOne,
.containForm form .rowTwo {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.containForm form label {
  font-size: 16px;
}
.containForm form .dateStart,
.containForm form .dateEnd,
.containForm form .client,
.containForm form .quantityRooms {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.containForm form select {
  width: 18rem;
  height: 3.2rem;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 3px;
  padding-left: 2.5rem;
  font-size: 15px;
  outline: none;
}
.containForm form input {
  padding-left: 3rem;
  font-size: 15px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 3px;
  width: 15rem;
  height: 3rem;
  outline: none;
}
.containForm form select,
.containForm form input {
  background-repeat: no-repeat;
  background-size: 25px;
  background-position-x: 0.8rem;
  background-position-y: 0.7rem;
}
.containForm form .inputAlert {
  border: 1px solid rgb(214, 0, 0);
}
.containForm form .inputAlert:hover {
  border: 2px solid rgb(214, 0, 0);
}
.containForm form .inputAlert::placeholder {
  color: red;
}
.containForm form #startInput {
  background-image: url("../../img/enterDate.png");
}
.containForm form #endInput {
  background-image: url("../../img/exitDate.png");
}
.containForm form #clientsSelect {
  background-image: url("../../img/usuario.png");
}
.containForm form #roomsQuantityInput {
  background-image: url("../../img/roomInfoIconInput.png");
}
.containForm form button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 12rem;
  border: none;
  background-color: rgb(0, 155, 155);
  color: white;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border-radius: 3px;
  height: 2.5rem;
  cursor: pointer;
}
.containForm form button img {
  width: 25px;
  display: none;
}
.containForm form button:hover {
  background-color: rgb(5, 134, 134);
}
.containForm form .msjError {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  gap: 0.5rem;
  border-radius: 3px;
  background-color: rgb(255, 77, 77);
  color: white;
  font-size: 14px;
  margin-top: -0.5rem;
  position: relative;
}
.containForm form .msjError img {
  width: 16px;
}
.containForm form .msjError .arrow {
  width: 0;
  height: 0;
  border-top: 10px solid rgb(255, 77, 77);
  border-right: 10px solid transparent;
  transform: rotate(45deg);
  position: absolute;
  top: -0.2rem;
  left: 0.2rem;
}
.containForm form .msjErrorShow {
  display: flex;
}
.containForm .alertForm {
  display: none;
  justify-content: start;
  align-items: center;
  width: auto;
  gap: 0.7rem;
  padding: 0.5rem;
  border-radius: 3px;
  color: white;
  box-shadow: 2px 2px 2px gray;
  background: linear-gradient(#dd0e0e, #a00404);
  font-size: 17px;
}
.containForm .alertForm span {
  font-weight: bold;
}
.containForm .alertForm .body {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.containForm .alertForm img {
  width: 30px;
}
.containForm .alertFormCorrect {
  background: linear-gradient(#2e888b, #065357);
  display: flex;
}
.containForm .alertFormError {
  background: linear-gradient(#dd0e0e, #a00404);
  display: flex;
}

.containFreeRooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 90%;
  height: 30rem;
}
.containFreeRooms .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.containFreeRooms .title h3 {
  font-size: 18px;
  width: 20rem;
  color: rgb(173, 173, 173);
  text-align: center;
}
.containFreeRooms .title img {
  width: 50px;
}
.containFreeRooms .rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 25rem;
  box-shadow: 2px 2px 2px gray;
  border-radius: 4px;
  padding: 1rem;
  padding-top: 0;
  border: 1px solid rgb(214, 214, 214);
}
.containFreeRooms .rooms .menuRooms {
  display: flex;
  width: 100%;
  height: 3rem;
  padding-bottom: 1.5rem;
  gap: 1rem;
  margin-top: 0.5rem;
  justify-content: flex-start;
  align-items: start;
  border-bottom: 1px solid rgb(209, 209, 209);
}
.containFreeRooms .rooms .menuRooms li {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: rgb(110, 110, 110);
  cursor: pointer;
  padding-bottom: 0.1rem;
}
.containFreeRooms .rooms .menuRooms li img {
  width: 80px;
  height: 40px;
  border-radius: 4px;
}
.containFreeRooms .rooms .menuRooms li:hover {
  border-bottom: 2px solid rgb(0, 179, 179);
}

.category {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 18rem;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}
.category h3 {
  font-size: 20px;
  color: rgb(189, 189, 189);
}
.category .noDataFreeRooms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  opacity: 70%;
  font-size: 18px;
}
.category .noDataFreeRooms h3 {
  color: rgb(112, 112, 112);
}
.category .noDataFreeRooms img {
  width: 100px;
}
.category .loading {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
  margin-top: 2rem;
  opacity: 61%;
}
.category .loading img {
  width: 50px;
}
.category ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  height: 100%;
  margin-top: 0.1rem;
  overflow-y: scroll;
}
.category ul li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #0ba8ad;
  list-style: none;
  border-radius: 5px;
  color: white;
  box-shadow: 2px 2px 2px rgb(114, 114, 114);
}
.category ul li .containAdd {
  width: 99%;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
.category ul li .containAdd button {
  padding: 0.3rem;
  background: white;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  color: black;
  width: 6rem;
  font-size: 13px;
  box-shadow: 2px 2px 2px rgb(7, 7, 7);
}
.category ul li .containAdd button:hover {
  background-color: gainsboro;
}
.category ul li .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.category ul li .icon {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category ul li .icon img {
  width: 130px;
  height: 80px;
}
.category ul li .icon,
.category ul li .info {
  background: #097d81;
  border-radius: 5px;
}
.category ul li .info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.category ul li .info h5 {
  font-size: 17px;
}
.category ul li .info .guests {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 16px;
}
.category ul li .info .guests .containAdults,
.category ul li .info .guests .containChilds {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.category ul li .info .guests input {
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 3px;
  outline: none;
}

/*# sourceMappingURL=styleAddBooking.css.map */
